.inner-page-banner {
    background: #E8EBF6;
    padding-top: 23px;

    .page-title-wrapper {
        padding: 90px 0;
        max-width: 280px;

        h1 {
            line-height: 125%;
        }
    }
}

.company-mission-section {
    @media screen and (min-width: 1320px) {
        .section-content {
            padding-left: 50px;
        }

    }
}

.company-story {
    @media screen and (min-width: 1320px) {
        .section-content {
            padding-right: 50px;
        }
        .section-image {
            text-align: right;
        }
    }
}

