.auth-card {
    width: 100%;
    max-width: 640px;

    .auth-card-title {
        margin-bottom: 40px;

        h1 {
            text-align: center;
        }
    }

    .form-check-group {
        .form-check-label {
            font-size: 0.8125rem;
            margin-left: 4px;

            a {
                text-decoration: underline;
                color: inherit;
            }
        }
    }

    .auth-card-bottom {
        margin-top: 16px;
        text-align: center;

        p {
            a {
                text-decoration: underline;
                color: $edu-primary-color;
                font-weight: 600;
            }
        }
    }
}
