.client-dashboard-page-wrapper {
    .title-page-header {
        ul {
            li {

                list-style: none;
                &:last-child{
                    a{
                        padding: 7px 32px !important;
                    }
                }
                a {
                    &.btn-light {
                        background-color: transparent !important;
                        border-color: transparent;

                        &:hover {
                            color: $edu-primary-color;
                        }
                    }
                }
            }
        }
    }
}

.dashboard-page-block {
    padding: 50px 40px;
    margin-left: -40px;
    margin-right: -40px;

    .dashboard-page-block-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;

        a {
            width: 177px;
        }
    }
}

.client-dashboard-page-wrapper {
    .training-small-card {
        padding-left: 0;
        padding-right: 0;
    }

}


// Rabiul



    ul.expert-profile-meta {
        li {
            padding: 0px 5px;
            line-height: 20px;
            margin: 0px;
            &:last-child {
                border-left: 1px solid #C8C5D4;
            }

        }
    }
