.expert-dashboard-layout {
    .page-sidebar {
        padding: 32px 0;
    }

    .profile-widget {
        padding: 24px;
        margin-bottom: 0;
    }

    .user-bio-edit-widget {
        //padding: 24px;
        margin-bottom: 0;

        .user-profile-info {
            margin-bottom: 0;
            padding: 24px;
        }
    }
}
