.profile-block-card {
    padding: 24px 32px;
    border: 1px solid $edu-border-color;
    border-radius: 8px;

    &.edit-profile-block-card {
        .profile-block-card-header {
            grid-template-columns: auto 70px;
        }
        &.profile-slider-block-card{
            .profile-block-card-header {
                grid-template-columns: auto 110px;
            }
        }
    }
    &.profile-slider-block-card {
        .profile-block-card-header {
            grid-template-columns: auto 70px;
        }
    }

    .profile-block-card-header {
        display: grid;
        align-items: center;
        justify-content: space-between;
        grid-template-columns: auto 40px;
       &+div{
           margin-top: 16px;
       }
    }
    .profile-block-card-body{

    }

    .profile-block-card-title {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .profile-block-card-action {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

.edit-profile-element {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: auto 70px;
}
