.find-expert-page-layout {
    .expert-card {
        padding: 32px;
        border-bottom: 1px solid $edu-border-color;

        &:hover {
            border-radius: 0px 7px 0px 0px;
            background: rgba(0, 89, 201, 0.04);
        }
    }
}

.expert-card {
    .expert-card-header {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;

        .expert-thumb {
            flex: 0 0 70px;
            max-width: 70px;

            .expert-thumb-box {
                height: 70px;
                border-radius: 100%;
                display: table;
                overflow: hidden;
                background-color: #C8E0FD;

                img {
                    transform: scale(1.5);
                }
            }
        }

        .expert-info {
            @media screen and (max-width: 767px) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }

        .expert-card-action {
            margin-left: auto;
            @media screen and (max-width: 767px) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }

        .expert-profile-flag {
            padding: 4px 16px 2px 16px;
            display: table;
            border-radius: 63px;
            background: $edu-primary-color;
            font-size: 14px;
            color: white;
            font-weight: 500;
        }


        ul.expert-meta {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                padding-right: 15px;
                position: relative;
                color: rgba(48, 55, 68, 0.60);
                font-size: 14px;
                font-weight: 500;

                &:last-child {
                    &:after {
                        display: none;
                    }
                }

                &:after {
                    content: "";
                    display: block;
                    width: 1px;
                    height: 100%;
                    position: absolute;
                    right: 5px;
                    top: 0;
                    background-color: $edu-border-color;
                }
            }
        }

        .btn {
            display: inline-flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 20px;
                height: 20px;
            }

            &.btn-md {
                padding-left: 32px;
                padding-right: 32px;
            }

            &.btn-icon {
                height: 46px;
                width: 46px;
                padding: 5px !important;
            }
        }

        .btn-outline-light {
            border-width: 2px;
            border-color: rgba(14, 0, 98, 0.10);

            path {
                fill: $edu-primary-color;
            }

            &:hover {
                background: $edu-primary-color;

                path {
                    fill: #ffffff;
                }
            }
        }

        .btn-outline-primary {
            border-width: 2px;
        }
    }

    .expert-profile-status {
        padding: 4px 16px 2px 16px;
        display: table;
        border-radius: 63px;
        border: 1px solid $edu-border-color;
        font-size: 14px;
        font-weight: 500;
    }

}
