.notification-dropdown-menu {
    .dropdown-menu {
        border-radius: 8px;
        filter: drop-shadow(8px 8px 32px rgba(14, 0, 98, 0.10));
        top: 20px !important;
    }

    .notification-dropdown-inner {
        max-width: 304px;
        padding: 0 0.5rem;

        .notification-dropdown-item {
            display: flex;
            align-items: center;
            gap: 10px;
            border-bottom: 1px solid $edu-border-color;
            padding: 5px 20px 5px 5px;
            position: relative;
            color: inherit;

            &:hover,
            &.notification-dropdown-item-unread {
                background-color: rgba(0, 54, 227, 0.05);
            }

            & > div {
                &.notification-dropdown-thumb {
                    flex: 0 0 48px;
                    max-width: 48px;
                    border-radius: 100%;
                    overflow: hidden;
                }

                &.notification-dropdown-info {
                    flex: 0 0 calc(100% - 58px);
                    max-width: calc(100% - 58px);

                    p {
                        margin: 0;
                        display: flex;
                        justify-content: space-between;

                        &.notification-dropdown-title {
                            white-space: nowrap;
                            max-width: 173px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }

                        span {
                            display: inline-block;

                            &.notification-dropdown-message {
                                white-space: nowrap;
                                max-width: 160px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }
                        }
                    }
                }
            }

            &.notification-dropdown-item-unread {
                //&:after {
                //    content: "";
                //    display: block;
                //    width: 10px;
                //    height: 10px;
                //    background-color: $edu-primary-color;
                //    position: absolute;
                //    top: 50%;
                //    right: 11px;
                //    border-radius: 100%;
                //    transform: translateY(-50%);
                //}
            }

            .show-dropdown-notification-details {
                position: absolute !important;
                top: 50%;
                right: 11px;
                border-radius: 20px !important;
                transform: translateY(-50%);
                background-color: #fff;
                padding: 0.1875rem 0.75rem 0.125rem 0.75rem !important;
                box-shadow: 0px 1px 2px 0px rgba(14, 0, 98, 0.15);
                z-index: 3;
                color: rgba(25, 29, 36, 0.70);
                font-weight: 500;
                border: 1px solid #EBEFF7;
                visibility: hidden;
            }

            &:hover {
                .show-dropdown-notification-details {
                    visibility: visible;
                }
            }
        }
    }

    .notification-dropdown-view-all {
        padding: 12px 0.5rem 8px;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        font-size: 0.875rem;
        font-weight: 500;
        color: $edu-primary-color;

        path {
            color: #C8C5D4;
        }
    }

}

.notification-page-block-heading {
    padding: 10px 20px 10px 40px;
    border-bottom: 1px solid $edu-border-color;
    background: #EBEFF7;

    h3 {
        font-size: 19px;
        font-style: normal;
        font-weight: 500;
        margin: 0;
    }
}

.notification-details-list-item {
    display: flex;
    align-items: center;
    gap: 16px;
    border-bottom: 1px solid $edu-border-color;
    padding: 16px 40px;
    position: relative;

    & > div {
        &.notification-details-thumb {
            flex: 0 0 56px;
            max-width: 56px;
            border-radius: 100%;
            overflow: hidden;
        }

        &.notification-details-info {
            flex: 0 0 calc(100% - 288px);
            max-width: calc(100% - 288px);

            p {
                margin: 0;
            }

            .notification-details-title {
                font-size: 18px;
            }

            .notification-details-message {

            }

            .notification-details-time {
                display: flex;
                align-items: center;
                gap: 4px;

                svg {
                    width: 20px;
                    height: 20px;

                    path {
                        fill: #6E737C;
                    }
                }
            }
        }

        &.notification-details-action {
            display: flex;
            gap: 1rem;
            align-items: center;
            margin-left: auto;

            .btn-outline-primary {
                padding: 4px 24px;
            }
        }
    }
}

.load-more-notification-item {
    padding: 28px 40px;

    .btn {
        padding: 11px 40px !important;
    }
}

.no-details-notification {
    padding: 24px 40px;
    text-align: center;
}
