.scholarship-database-layout {
    .scholarship-database-content-list-item {
        padding: 32px;

    }
}

.scholarship-database-content-list-item {
    display: grid;
    grid-template-columns: 72px auto 300px;
    gap: 10px;
    align-items: center;
    @media screen and (max-width: 550px) {
        display: flex;
        flex-wrap: wrap;
    }

    .scholarship-university-logo {
        div {
            width: 70px;
            height: 70px;
            border-radius: 100%;
            overflow: hidden;
        }
    }

    .scholarship-university-info {
        @media screen and (max-width: 1200px) {
            grid-column-start: 2;
            grid-column-end: 4;
        }

        p {
            color: rgba(48, 55, 68, 0.70);
        }
    }

    .scholarship-action {
        @media screen and (max-width: 1200px) {
            order: 4;
            grid-column-start: 2;
            grid-column-end: 4;
        }

        .btn {
            padding: 9px;

            &.btn-outline-light {
                border: 2px solid $edu-border-color;

                &:hover {
                    background-color: $edu-primary-color;
                    color: white;

                    path {
                        fill: white;
                    }
                }
            }

            &.btn-outline-primary {
                padding-left: 27px;
                padding-right: 27px;
                display: flex;
                align-items: center;
            }

            .favorite-icon {
                display: block;
            }

            .favorite-icon-filled {
                display: none;
            }

            &.favourited {
                .favorite-icon {
                    display: none;
                }

                .favorite-icon-filled {
                    display: block;
                }
            }
        }
    }

    .scholarship-details {
        grid-column-start: 2;
        grid-column-end: 4;

        .custom-table {
            .tr {
                .td {
                    &:first-child {
                        width: 200px;
                        @media screen and (max-width: 990px) {
                            width: auto;
                        }
                    }
                }
            }
        }
    }

    &:hover {
        background-color: #F5F8FD;
    }
}
