/*---- Global styling --*/
:root {
  --primary: #0036E3;
  --success: #369450;
  --white: #ffffff;
  --heading-color: #303744;
  --dark: #191D24;
  --border-color: rgba(14, 0, 98, 0.10);
  --white: #ffffff;
  --bs-border-color: #E7E5EF;
}

.lead { font-size: 19px !important; }
.lead-lg {
  font-size: 1.438rem;
}

.lead-sm {
  font-size: 1.125rem;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-15 {
  font-size: 0.937rem !important;
}

.bg-light {
  background-color: rgba(1, 59, 69, 0.05) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-dark {
  background-color: var(--dark) !important;
}

.transition {
  transition: all 0.3s ease-in-out;
}

.text-primary {
  color: var(--primary) !important;
}

.text-dark {
  color: var(--heading-color) !important;
}

.text-black {
  color: var(--dark) !important;
}

.text-muted {
  color: rgba(25, 29, 36, 0.7) !important;
}

.fw-medium {
  font-weight: 500 !important;
}

.fw-semibold {
  font-weight: 600;
}

.text-justify {
  text-align: justify;
}

.bgi {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}


.link {
  color: var(--primary);
  cursor: pointer;
  word-wrap: break-word;
  text-decoration: none;
}
.link:hover {
  color: var(--dark);
}

a {
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  color: #303744;
}
a:hover {
  color: var(--primary);
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}
ul li {
  list-style-type: none;
}

.btn:focus, .form-control:focus, .form-select:focus, .form-check-input:focus {
  box-shadow: none;
}
.mb-12 { margin-bottom: 12px !important; }

.btn-primary {
  background-color: var(--primary);
  color: var(--white);
  border: 2px solid var(--primary);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: var(--white);
  border-color: var(--primary);
  color: var(--primary);
}

.btn-outline-primary {
  border-color: var(--primary);
  color: var(--primary);
}
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--white) !important;
}

.btn-outline-white {
  border-color: var(--white);
  color: var(--white);
}
.btn-outline-white:hover, .btn-outline-white:focus, .btn-outline-white:active {
  background-color: var(--white);
  border-color: var(--white);
  color: var(--primary) !important;
}

.btn-white {
  background-color: #fff;
  border-color: #fff;
  color: var(--dark);
}
.btn-white:hover, .btn-white:focus {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--white);
}
.btn-white:hover svg, .btn-white:focus svg {
  color: var(--white);
}

/*---- Global styling --*/

/*---- Expert Dashboard page styling --*/

.expert__dashboad .progress {
  --bs-progress-bar-bg: var(--primary);
  height: 3px;
  border-radius: 10px;
}
.expert__dashboad .main__content__wrapp {
  border-radius: 8px;
  border: 1px solid rgba(14, 0, 98, 0.1);
  background: #FFF;
  box-shadow: 12px 17px 48px 0px rgba(14, 0, 98, 0.1);
  overflow: hidden;
}
.expert__dashboad .main__content__wrapp .nav-tabs .nav-link {
  color: var(--heading-color);
  font-weight: 500;
  margin: 0%;
  font-size: 0.937rem;
  border: 0;
  position: relative;
}
.expert__dashboad .main__content__wrapp .nav-tabs .nav-link.active {
  color: var(--primary);
}
.expert__dashboad .main__content__wrapp .nav-tabs .nav-link.active::after {
  content: "";
  width: 100%;
  height: 3px;
  display: block;
  background-color: var(--primary);
  position: absolute;
  bottom: -2px;
  left: 0%;
  border-radius: 3px;
}
.expert__dashboad .main__content__wrapp .feed__list .feed__card {
  padding: 2rem 2.625rem;
}
.expert__dashboad .main__content__wrapp .feed__list .feed__card:not(:last-child) {
  border-bottom: 1px solid rgba(14, 0, 98, 0.1019607843);
}
.expert__dashboad .main__content__wrapp .feed__list .title img {
  margin-top: -10px;
}
.expert__dashboad .main__content__wrapp .feed__list .feed__card .info__list {
  color: rgba(25, 29, 36, 0.6);
}
.expert__dashboad .main__content__wrapp .feed__list .feed__card .info__list img{
  margin-top: -3px;
}
.expert__dashboad .main__content__wrapp .feed__list .feed__card .info__list .like__btn {
  position: relative;line-height: 1;font-size: 20px;
  /* margin-top: -3px; */
  color: var(--primary);
}
.expert__dashboad .main__content__wrapp .feed__list .feed__card .info__list .like__btn.active {
 color: var(--primary);
}
.expert__dashboad .main__content__wrapp .feed__list .feed__card .tag__list li {
  margin: 0 0.35rem 0.35rem 0;
}
.expert__dashboad .main__content__wrapp .feed__list .feed__card .tag__list a {
  color: rgba(48, 55, 68, 0.8);
  padding: 0.25rem 0.75rem;
  background-color: #EBEFF7;
  margin: 0 0.35rem 0.35rem 0;
}
.expert__dashboad .main__content__wrapp .feed__list .feed__card .tag__list a:hover, .expert__dashboad .main__content__wrapp .feed__list .feed__card .tag__list a:focus {
  background-color: #dde9ff;
}
.expert__dashboad .main__content__wrapp .feed__list .feed__card .tag__list a.collapse__btn {
  border: 2px solid rgba(48, 55, 68, 0.46);
  background: var(--white);
  line-height: 1;
  padding: 0.35rem 0.75rem 0.3rem 0.75rem;
}
.expert__dashboad .main__content__wrapp .feed__list .feed__card .tag__list a.collapse__btn:hover, .expert__dashboad .main__content__wrapp .feed__list .feed__card .tag__list a.collapse__btn:focus {
  background-color: #dde9ff;
}
.expert__dashboad .main__content__wrapp .feed__list .feed__card .tag__list a.collapse__btn .count {
  display: none;
}
.expert__dashboad .main__content__wrapp .feed__list .feed__card .tag__list a.collapse__btn.collapsed .less {
  display: none;
}
.expert__dashboad .main__content__wrapp .feed__list .feed__card .tag__list a.collapse__btn.collapsed .count {
  display: block;
}
.expert__dashboad .main__content__wrapp .feed__list .feed__card:hover {
  background: rgba(0, 54, 227, 0.03);
}
.expert__dashboad .main__content__wrapp ul.feed__list{
  padding: 0;
  border-bottom: 1px solid #0E00621A;
}
.expert__dashboad .main__content__wrapp .aside__wrapp{
  background: #FCFCFF;
  border-left: 2px solid rgba(14, 0, 98, 0.10);
}
.expert__dashboad .main__content__wrapp .aside__wrapp .thumbnail__box {
  width: 5.5rem;
  height: 5.5rem;
  background-color: rgba(0, 54, 227, 0.1411764706);
}
.expert__dashboad .main__content__wrapp .aside__wrapp .thumbnail__box img {
  width: 5.5rem;
  height: 5.5rem;
}
.expert__dashboad .main__content__wrapp .aside__wrapp .thumbnail__box .status {
  width: 20px;
  height: 20px;
  background-color: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  bottom: 0%;
  right: 6px;
}
.expert__dashboad .main__content__wrapp .aside__wrapp .thumbnail__box .status::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #aaa;
  border-radius: 50%;
}
.expert__dashboad .main__content__wrapp .aside__wrapp .thumbnail__box .status.active::after {
  background-color: var(--success);
}

.expert__dashboad .main__content__wrapp .aside__wrapp .toggle-button-cover {
  position: relative;
  width: 60px;
  height: 26px;
}
.expert__dashboad .main__content__wrapp .aside__wrapp .button-cover {
  height: 26px;
  background-color: #fff;
  border-radius: 30px;
}
.expert__dashboad .main__content__wrapp .aside__wrapp .button-cover,
.expert__dashboad .main__content__wrapp .aside__wrapp .knobs,
.expert__dashboad .main__content__wrapp .aside__wrapp .layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 26px;
  width: 60px;
  border-radius: 30px;
}
.expert__dashboad .main__content__wrapp .aside__wrapp .button.r,
.expert__dashboad .main__content__wrapp .aside__wrapp .button.r .layer {
  border-radius: 30px;
}
.expert__dashboad .main__content__wrapp .aside__wrapp .button.b2 {
  border-radius: 2px;
}
.expert__dashboad .main__content__wrapp .aside__wrapp .checkbox {
  position: absolute;top: 0%;left: 0
  ;
  width: 60px;
  height: 50px;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}
.expert__dashboad .main__content__wrapp .aside__wrapp .knobs {
  z-index: 2;
}
.expert__dashboad .main__content__wrapp .aside__wrapp .layer {
  width: 100%;
  background-color: var(--success);
  transition: 0.3s ease all;
  z-index: 1;
}
.expert__dashboad .main__content__wrapp .aside__wrapp .button .knobs:before,
.expert__dashboad .main__content__wrapp .aside__wrapp .button .knobs:after,
.expert__dashboad .main__content__wrapp .aside__wrapp .button .knobs span {
  position: absolute;
  top: 4px;
  width: 20px !important;
  height: 20px;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  line-height: 1;
  border-radius: 50%;
  top: 8px;
  transition: 0.3s ease all;
}
.expert__dashboad .main__content__wrapp .aside__wrapp .button .knobs span {
  top: 3px;
}
.expert__dashboad .main__content__wrapp .aside__wrapp .button .knobs:before,
.expert__dashboad .main__content__wrapp .aside__wrapp .button .knobs:after {
  color: #fff;
  z-index: 1;
}
.expert__dashboad .main__content__wrapp .aside__wrapp .button .knobs:before {
  content: "ON";
  left: 10px;
  color: var(--white);
}
.expert__dashboad .main__content__wrapp .aside__wrapp .button .knobs:after {
  content: "OFF";
  right: 5px;
  width: auto !important;
}
.expert__dashboad .main__content__wrapp .aside__wrapp .button .knobs span {
  width: 20px;
  left: 37px;
  background-color: var(--white);
  z-index: 2;
}
.expert__dashboad .main__content__wrapp .aside__wrapp .button .checkbox:checked + .knobs span {
  left: 4px;
  /* background-color: #333; */
  background-color: #FFF;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}
.expert__dashboad .main__content__wrapp .aside__wrapp .button .checkbox:checked + .knobs::before {
  opacity: 0;
}
.expert__dashboad .main__content__wrapp .aside__wrapp .button .checkbox:not(:checked) + .knobs::after {
  opacity: 0;
}
.expert__dashboad .main__content__wrapp .aside__wrapp .button .checkbox:checked ~ .layer {
  background-color: #d3d3d3;
}

.expert__dashboad .main__content__wrapp .pagination {
  width: 100%;
  margin: 25px 0 30px;
  display: block;
}
.expert__dashboad .main__content__wrapp .pagination .row {
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.expert__dashboad .main__content__wrapp .pagination .pagination-left {
  color: #303744;
  font-size: 14px;
}

.expert__dashboad .main__content__wrapp .pagination .pagination-right {
  display: flex;
  justify-content: end;
}

.expert__dashboad .main__content__wrapp .pagination .pagination-right .results {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.expert__dashboad .main__content__wrapp .pagination .pagination-right ul {
  display: flex;
  padding: 0;
  margin: 0;
  text-align: right;
}

.expert__dashboad .main__content__wrapp .pagination .pagination-right .results p {
  font-size: 14px;
  margin: 0 15px 0 0;
  color: #303744;
}
.expert__dashboad .main__content__wrapp .pagination .pagination-right .results select {
  border: solid 2px #0000001A;
  width: 70px;
  height: 40px;
  padding: 0 12px;
  outline: none;
  border-radius: 4px;
  appearance: none;
  background-position: right 12px center;
}

.expert__dashboad .main__content__wrapp .pagination .pagination-right ul li {
  margin-left: 2px;
  /* display: inline-block; */
}

.expert__dashboad .main__content__wrapp .pagination .pagination-right ul li a {
  border: 2px solid #00000017;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  color: #303744;
  font-weight: 500;
  text-decoration: none;
  border-radius: 4px;
  transition: all 500ms;
  font-size: 14px;
  justify-content: center;
}

.expert__dashboad .main__content__wrapp .pagination .pagination-right ul li a .hover-icon {
  position: absolute;
  opacity: 0;
}

.expert__dashboad .main__content__wrapp .pagination .pagination-right ul li a:hover {
  background: #0036E3;
  color: #fff;
}

.expert__dashboad .main__content__wrapp .pagination .pagination-right ul li a .hover-icon {
  position: absolute;
  opacity: 0;
}

.expert__dashboad .main__content__wrapp .pagination .pagination-right ul li a:hover .hover-icon {
  opacity: 1;
}

.expert__dashboad .main__content__wrapp .link__list li {
  margin-bottom: 0.25rem;
}
.expert__dashboad .main__content__wrapp .link__list li a {
  font-size: 0.875rem;
  font-weight: 500;
  color: #0036E3;
  text-decoration: underline;
}
.expert__dashboad .main__content__wrapp .link_list li a:hover, .linklist li a:focus, .link_list li a:active {
  text-decoration: none;
  color: var(--dark);
}

/*---- Expert Dashboard page styling --*/

/*---- Expert Status page styling --*/
.pt-32 { padding-top: 32px; }
.mb-40 { margin-bottom: 40px; }
.expert__dashboad.status__page .main__content__wrapp .aside__wrapp { border-left: 0;padding: 31px;width: 348px; }
.expert__dashboad.status__page .main__content__wrapp .border-start { border-width: 2px !important; }
.expert__dashboad.status__page .main__content__wrapp .form-select {
  border-radius: 4px;
  max-width: 11rem;
  border: 2px solid rgba(14, 0, 98, 0.3);
}
.expert__dashboad.status__page .main__content__wrapp .apexcharts-toolbar {
  display: none;
}
.expert__dashboad.status__page .main__content__wrapp .table .text-muted {
  color: rgba(48, 55, 68, 0.70) !important;
}
.expert__dashboad.status__page .main__content__wrapp .progress {
  height: 6px;
}
.expert__dashboad.status__page .main__content__wrapp .ff-public-sans {
  font-family: "Public Sans", sans-serif;
}
.expert__dashboad.status__page .main__content__wrapp .btn-outline-primary {
  border-width: 2px;
  font-weight: 500;
  font-size: 0.937rem;
  padding-top: 0.25rem;
}

.status-tooltip{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 120px;
height: 54px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.39);
box-shadow: 4px 4px 16px 0px rgba(14, 0, 98, 0.15);
backdrop-filter: blur(10px);
font-family: 'Colfax'!important;
color: #191D24;
text-align: center;
font-family: Colfax;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height:  19px
}
.status-tooltip p{
  margin: 0;
  color: #191D24;
text-align: center;
font-family: Colfax;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 19px;
}
/*---- Expert STatus page styling --*/

/*--------------------- Contract page styling -------------------------*/
.mb-21 { margin-bottom: 21px; }
.expert__dashboad.contract__page .main__content__wrapp {
  position: relative;
}

.expert__dashboad.contract__page .main__content__wrapp .nav-tabs .nav-link {
  border-radius: 4px; border: 2px solid rgba(14, 0, 98, 0.10); margin-right: 4px;
  font-size: 0.875rem;color: var(--dark);padding: 0rem 1rem;display: inline-flex;align-items: center;height: 2rem;padding-top: 2px;
}
.expert__dashboad.contract__page .main__content__wrapp .nav-tabs .nav-link:hover {
  border-color: var(--primary);color: var(--primary);
}
.expert__dashboad.contract__page .main__content__wrapp .nav-tabs .nav-link.active {
  background-color: var(--primary);
  color: var(--white);
}
.expert__dashboad.contract__page .main__content__wrapp .nav-tabs .nav-link.active::after {
  content: none;
}
.expert__dashboad.contract__page .main__content__wrapp .tab-content {
  border-top: 1px solid var(--border-color);
}
.expert__dashboad.contract__page .main__content__wrapp .btn-outline-primary {
  border-width: 2px;
  font-weight: 500;
  font-size: 0.938rem;
  padding:0;
  width: 138px;
  height: 32px;
  line-height: 30px;
}
.expert__dashboad.contract__page .main__content__wrapp .drop__btn {
  width: 2rem;
  height: 2rem;
  color: var(--heading-color);
  border: 1px solid rgba(14, 0, 98, 0.1);
}
.expert__dashboad.contract__page .main__content__wrapp .drop__btn.show {
  background-color: var(--primary);
  color: var(--white);
}
.expert__dashboad.contract__page .main__content__wrapp .drop__btn.show svg path {
  fill: var(--white);
}
.expert__dashboad.contract__page .main__content__wrapp .contract__drop__menu {
  border-radius: 4px;
  background: #FFF;
  width: 12rem;
  box-shadow: 0px 3px 16px 0px rgba(14, 0, 98, 0.1);
  left: -10rem !important;
}
.expert__dashboad.contract__page .main__content__wrapp .contract__drop__menu .dropdown-item {
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
}
.expert__dashboad.contract__page .main__content__wrapp .contract__drop__menu .dropdown-item:hover {
  background: rgba(0, 54, 227, 0.05);
  color: var(--primary);
  font-weight: 500;
}
.expert__dashboad.contract__page .main__content__wrapp .filter__wrapp .sort__wrapp .label {
  width: 5rem;
}
.expert__dashboad.contract__page .main__content__wrapp .filter__wrapp .sort__wrapp .select__wrapp {
  width: calc(100% - 5rem);
}
.expert__dashboad.contract__page .main__content__wrapp .filter__wrapp .form-select,
.expert__dashboad.contract__page .main__content__wrapp .filter__wrapp .form-control {
  border-radius: 4px;
  height: 3rem;    color: var(--dark);
  border: 2px solid rgba(14, 0, 98, 0.15);
}
.expert__dashboad.contract__page .main__content__wrapp .filter__wrapp .input-group .form-control {
  border-radius: 4px 0 0 4px;
  height: 3rem;
  border: 2px solid rgba(14, 0, 98, 0.15);
  font-size: 0.937rem;
}
.expert__dashboad.contract__page .main__content__wrapp .filter__wrapp .input-group .form-control::-moz-placeholder {
  color: rgba(48, 55, 68, 0.7);
}
.expert__dashboad.contract__page .main__content__wrapp .filter__wrapp .input-group .form-control::placeholder {
  color: rgba(48, 55, 68, 0.7);
}
.expert__dashboad.contract__page .main__content__wrapp .filter__wrapp .input-group .btn-primary {
  width: 3rem;
  border-radius: 0 4px 4px 0;
}
.expert__dashboad.contract__page .main__content__wrapp .filter__wrapp .input-group .btn-primary:hover, .expert__dashboad.contract__page .main__content__wrapp .filter__wrapp .input-group .btn-primary:focus, .expert__dashboad.contract__page .main__content__wrapp .filter__wrapp .input-group .btn-primary:active {
  background-color: var(--heading-color);
  border-color: var(--heading-color);
}
.expert__dashboad.contract__page .main__content__wrapp .ratings {
  padding-left: 1rem;
}
.expert__dashboad.contract__page .main__content__wrapp .ratings i {
  font-size: 0.937rem;
  color: #E9B911;
}
.expert__dashboad.contract__page .main__content__wrapp button.contract-btn {
  width: 265px;
  height: 46px;
  color: #fff;
}
.expert__dashboad.contract__page .main__content__wrapp button.contract-btn:hover{
  color: var(--primary)
}

.expert__dashboad.contract__page .main__content__wrapp button.prop-btn {
  width: 186px;
  height: 32px;
  /* color: #fff; */
}
.expert__dashboad.contract__page .main__content__wrapp button.prop-btn:hover{
  /* color: var(--primary) */
}
/*--------------------- Contract page styling -------------------------*/

/*--------------------- Services page styling -------------------------*/
.my-services h3 {font-size: 19px;font-weight: 500;color: #303744;margin-bottom: 15px;}
.my-services .prof-img {text-align: center;}
.my-services .prof-img img {width: 100%;}
.my-services .prof-img h4 {font-family: 'Public Sans', sans-serif;margin: 12px 0 0;font-size: 16px;font-weight: 600;color: #000000;}
.my-services .prof-text .prof-expart {display: flex;}
.my-services .prof-text .prof-expart ul {flex-grow: 1;padding: 0;margin: 0;}
.my-services .prof-text .prof-expart ul li {display: inline-block;color: #303744;font-family: 'Public Sans', sans-serif;font-size: 16px;font-weight: 700;}
.my-services .prof-text .prof-expart ul li a {font-family: 'Public Sans', sans-serif; font-size: 14px;font-weight: 600;color: #0036E3;text-decoration: none;border: solid 1px #0036E3;border-radius: 50px;padding: 0 12px;display: inline-block;margin: 0 0 0 2px;transition: all 500ms;height: 26px;line-height: 26px;}
.my-services .prof-text .prof-expart ul li a:hover {background:#0036E3;color: #fff;}
.my-services .prof-text .prof-expart p {font-family: 'Public Sans', sans-serif; margin: 0;color: #303744;font-size: 14px;font-weight: 700;}
.my-services .prof-text .profp1 {color: rgba(48, 55, 68, 0.70);font-size: 16px;line-height: 25px;margin: 15px 0;}
.my-services .prof-text .profp1 span {color: #000000;}
.my-services .prof-text .profip2 {font-family: 'Public Sans', sans-serif;font-size: 14px;color: #303744;}
.my-services .prof-text .profip2 a {color: #0036E3;font-weight: 500;}
.my-services .prof-text .profip2 a:hover {color: #303744;}
.my-services .my-services-list {border: solid 1px #0000001A;border-radius: 8px;padding: 22px;margin-bottom: 25px;}
.my-services .my-services-list:last-child {margin-bottom: 0;}
.my-services {margin: 40px 0;}
.my-services .edit__fab__btn { width: 2rem;height: 2rem;border: 2px solid #0E00621A;background-color: #fff; }
.my-services .edit__fab__btn:hover, .edit__fab__btn:focus, .edit__fab__btn:active { border-color: 2px solid #0E00621A;background-color: #0E00621A; }
/*--------------------- Services page styling -------------------------*/





/* --------------- Get Paid Pages CSS --------------------------------- */
.setting__modal .modal-body {
  padding: 3rem 2.5rem 1.5rem 2.5rem;
}
.setting__modal .modal-body .btn-close {
  top: 0.875rem;
  right: 0.75rem;
}
.setting__modal .modal-body .form-control {
  border-radius: 4px;
  border: 2px solid #E7E5EF;
  color: var(--dark);
}
.setting__modal .modal-body .form-control.title__box {
  height: 57px;
  font-size: 1.125rem;
  font-weight: 500;
}
.setting__modal .modal-body .form-control.search {
  font-size: 0.937rem;
  height: 40px;
}
.setting__modal .modal-body .form-control.search::-moz-placeholder {
  color: rgba(48, 55, 68, 0.7);
  font-weight: 400;
}
.setting__modal .modal-body .form-control.search::placeholder {
  color: rgba(48, 55, 68, 0.7);
  font-weight: 400;
}
.setting__modal .modal-body .skill__box .skill__list .item {
  background-color: #EBEFF7;
  padding: 0.5rem 0.6rem;
  color: #303744;
  cursor: pointer;
  font-size: 14px;
}
.setting__modal .modal-body .skill__box .skill__list .item .btn {
  opacity: 0.49;
  transition: all 0.3s ease-in-out;
  margin-top: -6px;
}
.setting__modal .modal-body .skill__box .skill__list .item:hover .btn {
  opacity: 1;
}
.setting__modal .modal-body .floating__box {
  border-radius: 4px;
  border: 2px solid #E7E5EF;
}
.setting__modal .modal-body .floating__box .label {
  top: -0.75rem;
  left: 1rem;
}
.setting__modal .modal-body .attachment__item label {
  background: rgba(48, 55, 68, 0.9);
  color: var(--white);
  cursor: pointer;
}
.setting__modal .modal-body .attachment__item label:hover {
  background: rgba(48, 55, 68, 0.98);
}
.setting__modal .modal-body .attachment__item img {
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  border-radius: 4px;
}
.expert__dashboad.get__paid .form-select, .expert__dashboad.get__paid .form-control {
  border-color: #E7E5EF !important;
}
.get__paid .btn__fab {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background: #FFF;
  border: 2px solid rgba(14, 0, 98, 0.1);
}
.get__paid .btn__fab:hover, .get__paid .btn__fab:focus, .get__paid .btn__fab:active {
  background-color: var(--primary);
  color: var(--white);
}
.get__paid .btn__fab:hover svg path, .get__paid .btn__fab:focus svg path, .get__paid .btn__fab:active svg path {
  fill: var(--white);
}
.get__paid .custom-select .select-items {
  padding: 0.75rem;
}
.get__paid .custom-select .select-items > div {
  color: rgba(48, 55, 68, 0.7);
  font-weight: 500;
  padding-left: 2rem;
  position: relative;
}
.get__paid .custom-select .select-items > div:hover, .get__paid .custom-select .select-items > div:focus {
  color: var(--primary);
  background-color: inherit;
}
.get__paid .custom-select .select-items > div.same-as-selected {
  background-color: #fff;
  color: var(--primary);
}
.get__paid .custom-select .select-items > div.same-as-selected::before {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  background: var(--done-icon) no-repeat center center/1.5rem;
  display: inline-block;
  position: absolute;
  top: 0.4rem;
  left: 0%;
}
.get__paid input[type=radio] {
  border: 2px solid rgba(0, 0, 0, 0.31);
  width: 20px;
  height: 20px;
  margin-top: 2px;
  margin-right: 6px;
}
.get__paid input[type=radio]:checked {
  background: var(--radio-checked) no-repeat center center/20px;
  background-color: rgba(255, 255, 255, 0.82);
  border-color: #d1dbfa;
}

/*------------ Verificaion Page Styles ------------*/
.verification__page .verification__list > li {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
}
.verification__page .verification__list > li:last-child{
  padding-bottom: 0;
}
.verification__page .verification__list > li .icon {
  width: 5rem;
  height: 5rem;
  border: 2px solid rgba(0, 54, 227, 0.1);
}
.verification__page .verification__list > li .caption {
  width: calc(100% - 5rem);
  padding-left: 2.5rem;
}
.verification__page .verification__list > li .caption .disc__list li {
  margin-bottom: 0.25rem;
  padding-left: 1.25rem;
  position: relative;
}
.verification__page .verification__list > li .caption .disc__list li::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--dark);
  position: absolute;
  top: 0.35rem;
  left: 0%;
}
.verification__page .verification__list > li:not(:last-child) {
  border-bottom: 1px solid #E7E5EF;
}
.verification__page .notification__list > li {
  position: relative;
}
.verification__page .notification__list > li:not(:first-child):after {
  content: "";
  width: calc(100% - 3rem);
  height: 1px;
  background-color: rgba(14, 0, 98, 0.1019607843);
  position: absolute;
  top: 0%;
  left: 1.5rem;
}
.verification__page.password .notification__list > li:not(:first-child):after {
  width: 100%; left: 0;
}
.verification__page .notification__list > li ul li {
  margin-bottom: 12px;
}
.verification__page .notification__list > li ul li .form-check-input {
  width: 20px;
  height: 20px;
  margin-top: 0;
  margin-right: 0.5rem;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.31);
}
.verification__page .notification__list > li ul li .form-check-input:checked {
  background-color: var(--primary);
  border-color: var(--primary);
}
.verification__page .notification__list > li ul li input[type=checkbox]:checked+label::before,
.verification__page .notification__list > li ul li input[type=checkbox]:checked+label::after { content: none; }
.verification__page .notification__list > li ul li .form-check-label {
  color: #303744;
  font-size: 0.937rem;
}
.info__icon { color: #BABABA;margin-left:6px; }
/* --------------- Get Paid Pages CSS --------------------------------- */



/* ------------------ Work Diray Page Styles ------------------------ */

.expert__dashboad.diary__page .px-40 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.expert__dashboad.diary__page .py-50 {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}
.expert__dashboad.diary__page .mb-32 {
  margin-bottom: 32px;
}
.expert__dashboad.diary__page .title {
  font-size: 1.437rem;
}
.expert__dashboad.diary__page .form-select, .expert__dashboad.diary__page .form-control, .expert__dashboad.diary__page .form-control.dateInput {
  border-radius: 4px;height: 48px !important;color: var(--dark);
  border: 2px solid rgba(14, 0, 98, 0.3) !important;    padding: 0.5rem 2.5rem 0.5rem 1rem !important;
}
.expert__dashboad.diary__page .form-control.dateInput::placeholder,.expert__dashboad.diary__page .form-control::placeholder {color: var(--dark) !important;}
.expert__dashboad.diary__page .datepicker {
  background-repeat: no-repeat;
  background-position: center right 1rem;
  background-size: 1.5rem;
}
.expert__dashboad.diary__page input[type=date]::-webkit-inner-spin-button,
.expert__dashboad.diary__page input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.expert__dashboad.diary__page input[type=time]::-webkit-inner-spin-button,
.expert__dashboad.diary__page input[type=time]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.expert__dashboad.diary__page .main__content__wrapp .add__manual__btn:hover svg path, .expert__dashboad.diary__page .main__content__wrapp .add__manual__btn:focus svg path, .expert__dashboad.diary__page .main__content__wrapp .add__manual__btn:active svg path {
  fill: var(--primary);
}
.expert__dashboad.diary__page .main__content__wrapp .tracked__dot {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}
.expert__dashboad.diary__page .main__content__wrapp .tracked__dot.success {
  background-color: #369450;
}
.expert__dashboad.diary__page .main__content__wrapp .tracked__dot.warn {
  background-color: #E9B911;
}
.expert__dashboad.diary__page .main__content__wrapp .link {
  color: var(--primary);
}
.expert__dashboad.diary__page .main__content__wrapp .link:hover {
  text-decoration: underline;
}
.expert__dashboad.diary__page .main__content__wrapp .diary__item {
  border-radius: 4px;
}
.expert__dashboad.diary__page .main__content__wrapp .diary__item .thumbnail__box {
  border-radius: 4px;
  margin-bottom: 0;
  background: #D9D9D9;
  box-shadow: 4px 4px 16px 0px rgba(14, 0, 98, 0.1);
}
.expert__dashboad.diary__page .main__content__wrapp .diary__item .thumbnail__box img {
  width: 100%;
  height: 108px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.expert__dashboad.diary__page .main__content__wrapp .diary__item .thumbnail__box .hover__caption {
  background-color: rgba(0, 0, 0, 0.3803921569);
  opacity: 0;
  visibility: hidden;
}
.expert__dashboad.diary__page .main__content__wrapp .diary__item .thumbnail__box .hover__caption .btn__fab {
  border-radius: 28px;
  width: 2rem;
  height: 2rem;
  background: #FFF;
  box-shadow: 2px 2px 13px 0px rgba(14, 0, 98, 0.04);
}
.expert__dashboad.diary__page .main__content__wrapp .diary__item .thumbnail__box .hover__caption .btn__fab:hover, .expert__dashboad.diary__page .main__content__wrapp .diary__item .thumbnail__box .hover__caption .btn__fab:focus, .expert__dashboad.diary__page .main__content__wrapp .diary__item .thumbnail__box .hover__caption .btn__fab:active {
  background-color: var(--primary);
  color: var(--white);
}
.expert__dashboad.diary__page .main__content__wrapp .diary__item .thumbnail__box .hover__caption .btn__fab:hover svg path, .expert__dashboad.diary__page .main__content__wrapp .diary__item .thumbnail__box .hover__caption .btn__fab:focus svg path, .expert__dashboad.diary__page .main__content__wrapp .diary__item .thumbnail__box .hover__caption .btn__fab:active svg path {
  fill: var(--white);
}
.expert__dashboad.diary__page .main__content__wrapp .diary__item .thumbnail__box:hover .hover__caption {
  opacity: 1;
  visibility: visible;
}
.expert__dashboad.diary__page .main__content__wrapp .diary__item .time {
  color: rgba(48, 55, 68, 0.7);
  line-height: 160%;
}
.expert__dashboad.diary__page .main__content__wrapp .diary__item .minits_tags span {
  width: 11px;
  height: 5px;
  background-color: #D9D9D9;
}
.expert__dashboad.diary__page .main__content__wrapp .diary__item .minits_tags span:not(:last-child) {
  margin-right: 4px;
}
.expert__dashboad.diary__page .main__content__wrapp .diary__item .minits_tags span.active {
  background-color: #5ABC76;
}
.expert__dashboad.diary__page .main__content__wrapp .owl-nav .owl-prev,
.expert__dashboad.diary__page .main__content__wrapp .owl-nav .owl-next {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  font-size: 0.875rem !important;
  border: 2px solid rgba(0, 0, 0, 0.1) !important;
  transition: all 0.3s ease-in-out;
  background: #fff !important;
  color: #000000 !important;
  box-shadow: 4.39333px 4.39333px 17.57333px 0px rgba(14, 0, 98, 0.1);
  position: absolute;
  top: 50%;
  transform: translateY(calc(-50% - 1rem));
}
.expert__dashboad.diary__page .main__content__wrapp .owl-nav .owl-prev {
  left: -1.25rem;
}
.expert__dashboad.diary__page .main__content__wrapp .owl-nav .owl-next {
  right: -1.25rem;
}
.expert__dashboad.diary__page .main__content__wrapp .owl-nav .owl-prev:hover,
.expert__dashboad.diary__page .main__content__wrapp .owl-nav .owl-next:hover {
  background: #0036E3 !important;
  color: #fff !important;
}
.expert__dashboad.diary__page .main__content__wrapp .owl-nav .owl-prev.disabled,
.expert__dashboad.diary__page .main__content__wrapp .owl-nav .owl-next.disabled {
  background: #fff !important;
  color: #000000 !important;
}
.expert__dashboad.diary__page .main__content__wrapp .diary__row {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.expert__dashboad.diary__page .main__content__wrapp .diary__row:not(:last-child) {
  border-bottom: 1px solid var(--bs-border-color);
}
.expert__dashboad.diary__page .manual__time__modal .modal-content {
  padding: 3rem 2.5rem 1.5rem 2.5rem;
}
.expert__dashboad.diary__page .manual__time__modal .modal-content .btn-close {
  top: 1.5rem;
  right: 1.5rem;
}
.expert__dashboad.diary__page .calendar {
  max-width: 294px;
  z-index: 1050;
}
.expert__dashboad.diary__page .calendar-box {
  position: relative;
}
.expert__dashboad.diary__page .calendar-title {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}
.expert__dashboad.diary__page .calendar {
  background-color: white;
  border-radius: 4px;
  width: 100%;
  position: absolute;
  z-index: 1;
  display: none;
  left: 0 !important;
  border: solid 2px #0036e3;
  top: 45px !important;    z-index: 999;
}
.expert__dashboad.diary__page .header {
  color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 10px;
  padding: 15px 25px 10px;
}
.expert__dashboad.diary__page #prevBtn2,
.expert__dashboad.diary__page #nextBtn2 {
  background: none;
  border: none;
  color: #5c5c5c;
  cursor: pointer;
  font-size: 13px;
}
.expert__dashboad.diary__page #monthYear2 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
.expert__dashboad.diary__page .day {
  padding: 0;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  color: #5c5c5c;
  float: left;
  margin: 8px 7px;
  font-weight: 500;
}
.expert__dashboad.diary__page .day.current {
  background-color: #0036e3;
  color: #fff;
  border-radius: 100%;
}
.expert__dashboad.diary__page .day.selected {
  background-color: #0036e3;
  color: #fff;
  border-radius: 100%;
}
.expert__dashboad.diary__page .study-level select {
  width: 100%;
  padding: 0 10px;
  border: 2px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../images/arrow-icon.png) no-repeat;
  background-position: right 20px center;
  color: #303744;
}
.expert__dashboad.diary__page #dateInput2::-moz-placeholder {
  color: rgba(48, 55, 68, 0.6980392157);
}
.expert__dashboad.diary__page #dateInput2::placeholder {
  color: rgba(48, 55, 68, 0.6980392157);
}
.expert__dashboad.diary__page #daysContainer2 {
  padding: 0 10px;
  display: inline-block;
  width: 100%;
}
.expert__dashboad.diary__page .text-success {
  color: #5ABC76 !important;
}
.expert__dashboad.diary__page .diary__detail__modal .table > :not(caption) > * > * {
  padding: 0.5rem 1rem;
}
.expert__dashboad.diary__page .diary__detail__modal .table tr:last-child td {
  border-bottom: 0;
}
.expert__dashboad.diary__page .diary__detail__modal .minits_tags span {
  width: 24px;
  height: 8px;
  background-color: #D9D9D9;
}
.expert__dashboad.diary__page .diary__detail__modal .minits_tags span:not(:last-child) {
  margin-right: 4px;
}
.expert__dashboad.diary__page .diary__detail__modal .minits_tags span.active {
  background-color: #5ABC76;
}
.expert__dashboad.diary__page .diary__detail__modal .table th {
  border-top: 1px solid rgba(14, 0, 98, 0.1);
  border-bottom: 1px solid rgba(14, 0, 98, 0.1);
  background: rgba(48, 55, 68, 0.04);
  color: var(--black);
  padding: 0.5rem 1rem;
  color: #191D24;
  font-weight: 500;
}
.expert__dashboad.diary__page .diary__detail__modal .table td {
  color: #191D24;
  border-color: rgba(14, 0, 98, 0.1);
}

.active__tab::after {
  content: "";
  border: 10px solid transparent;
  border-bottom-color: #000000;
}

.fs-23 {
  font-size: 23px;
}
/* ------------------ Work Diray Page Styles ------------------------ */

/* --------------------- Proposal Page Styles ----------------------- */

.expert__dashboad.proposal__page .px-40 {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}
.expert__dashboad.proposal__page .py-50 {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}
.expert__dashboad.proposal__page .mb-32 {
  margin-bottom: 32px;
}
.expert__dashboad.proposal__page .bg-success {
  background-color: #369450 !important;
}
.expert__dashboad.proposal__page .feed__list .feed__card {
  padding: 1.5rem 2.5rem;
}
.expert__dashboad.proposal__page .feed__list .feed__card .title a {
  color: var(--primary);
}
.expert__dashboad.proposal__page .feed__list .feed__card .title a:hover {
  color: var(--dark);
}
.expert__dashboad.proposal__page .feed__list .feed__card .viewed__badge {
  padding: 4px 10px;
}
.pt-37 { padding-top: 37px; }

/* --------------------- Proposal Page Styles ----------------------- */
.large__btn { padding: 12px 50px; }
.pt-52 { padding-top: 52px; }
.py-11 { padding-top: 11px !important;padding-bottom: 11px !important; }
.pagination .pagination-right ul li a.active { background-color: var(--primary);color: var(--white) !important; }
/* --------------------- Proposal Page Styles ----------------------- */

/* --------------------- Add payment page Styles ----------------------- */

.payment-title-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payment-title h4{
  font-family: Colfax;
  font-size: 23px;
  font-weight: 500;
  line-height: 32px;
  color: #191D24;
}
.area-padding {
  padding: 57px 42px;
}
.card-area {
  border: 1px solid rgba(0, 54, 227, 0.12);
  background: rgba(0, 54, 227, 0.05);
  border-radius: 8px;
  padding: 24px;
  margin: 24px 0px 32px;
}
.payment-txt p{
  font-family: Colfax;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color:#191D24;

}
span.payment-currency{
  color:#0036E3;
}

.chard-icon img {
  max-width: 89px;
  max-height: 49px;

}

.chard-number h6{
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #303744;
  margin-bottom: 0;
}

.chard-number p{
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: var(--dark);
}

/* .card-option a{
  color:#191D24;
  max-width: 17px;
  max-height: 17px;
} */

.withdraw-area {
  border: 1px solid #0000001A;
  border-radius: 8px;
  padding: 24px;
  margin-top: 24px;
}
button.btn-with-draw {
  background: #0036E3;
  padding: 12px 34px;
  color: #fff;
  border: none;
  border-radius: 4px;
}

button.btn-with-draw-icon {
  background: transparent;
  padding: 8px 34px;
  color: #fff;
  border: none;
  border-radius: 8px;
}

button.btn-with-draw-paypal{
display: flex;
width: 265px;
padding: 11px 70px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 4px;
background: #0036E3;
color: #FFF;
text-align: center;
font-family: Colfax;
font-size: 15px;
font-style: normal;
font-weight: 500;
border: none;
margin-bottom: 24px;}

/* Find Projects Styles  */
.left-sidebar .search-block .text-black::placeholder { color: var(--dark); }
.search__suggestions__box { margin-top: 32px; }
.search__suggestions__box .search__item { padding: 2px 6px 0 10px;line-height: 160%; }
.search__suggestions__box .btn { top: -2px;margin-left: .5rem; }
.btn-link.clear__btn { color: var(--dark);text-decoration: underline; }
.btn-link.clear__btn:hover,.btn-link.clear__btn:focus,.btn-link.clear__btn:active { color: var(--primary);text-decoration: none; }

.find-training.find-projects.databasepading .right-sidebar .database-block .database-contant .database-img { margin-right: 10px; }
.find-training.find-projects.databasepading .right-sidebar .database-block { margin-bottom: 8px; }
.find-training.find-projects.databasepading .right-sidebar .database-block .database-contant .database-img > img {  position: relative;top: -5px; }
.find-projects.find-projects.databasepading .right-sidebar .database-block .database-contant .database-text h4 a { color: var(--dark); }
.find-projects.find-projects.databasepading .right-sidebar .database-block .database-contant .database-text h4 a:hover { color: var(--primary); }
.find-projects.find-projects.databasepading .right-sidebar .database-p p { color: var(--dark); }
.find-projects.find-projects.databasepading .find-projects-time .curriculum li { color: rgba(25, 29, 36, 0.60);font-size: 13px; }
.find-training.find-projects.databasepading .find-projects-time .curriculum-right li a {   border: 0; width: 24px;height: 24px; margin-left: 12px;    padding: 0 !important;justify-content: center;display: inline-flex; }
.find-training.find-projects.databasepading .find-projects-time .curriculum-right li a:hover {  background-color: #fff; }
.find-training.find-projects.databasepading .find-projects-time .curriculum-right li a.share { margin-left: 16px; }
.find-training.find-projects.databasepading .database-p { padding: 16px 0 0 !important;margin: 16px 0 0 0 !important; }
.find-training.find-projects.databasepading .right-sidebar { padding: 2rem 2.625rem; }
.find-training.find-projects.databasepading .right-sidebar:first-child { margin-top: 1.067rem; }
.find-training.find-projects.databasepading .find-projects-time .curriculum-right li,
.find-training.find-projects.databasepading .find-projects-time .curriculum-right li span { font-size: 13px; }


.edux-rating-success {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 12px;
}

.edux-rating-success p{
  margin-bottom:0px;
}




@media (min-width: 990px){
  /* profile page box width set */
  .expert__dashboad .main__content__wrapp .row .col-lg-4 {
    width: 348px!important;
  }
  .expert__dashboad .main__content__wrapp .row .col-lg-8 {
    width: calc(100% - 348px)!important;
  }
  }