/*
.profile-identity {
    display: flex;
    align-items: flex-start;
}

.single-profile-boder {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.profile-photo {
    margin-right: 40px;
}
.identity-badges {
    padding-left: 140px;
}
.list-group-item {
    border: none !important;
}
.left-aside {
    border-right: 1px solid rgba(0, 0, 0, 0.125);
}
h4.view-profile {
    padding-top: 20px;
    padding-left: 25px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}
#list-tab .list-group-item {
    padding-left: 35px !important;
}
.list-group-item.active {
    background-color: #055846 !important;
}
.hire-button {

    padding: 5px 15px;
    border: 2px solid #055846;
    border-radius: 20px;

}

.hire-link {
    color: #055846;
    text-decoration: none !important;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer !important;
}
.hire-link:hover {
    color: #055846;
}
.view-profile-main-single {
    border-bottom: 1px solid #c0c0c0 !important;
    padding-bottom: 15px;
}
.profile {

    margin: auto;
    padding: 20px;
}

.rating {
    color: gold;
}

.date-range {
    font-style: italic;
}

.description {
    margin-top: 20px;
    line-height: 1.6;
}

.price {
    font-size: 24px;
    font-weight: bold;
}

.rate {
    font-size: 18px;
    font-weight: bold;
}

.hours {
    font-size: 16px;
    font-weight: bold;
}
@media only screen and (max-width: 991px) {
    .expert-profile-main-section {
        margin-top: 25px;
    }

    .expert-profile-main-section .container-home {
        width: 98%;
        margin: 0 1%;
    }
    .frePage-expert-name {
        font-size: 30px;
        font-weight: 700;
        color:#5ABC76 !important;

    }
    .hire-me-button-res-frePage {
        display: none !important;
    }

    .freePage-hire-invite-btn-show {
        width: 80%;
        margin: 0 10%;
        bottom: 62px;
        z-index: 3;
        position: fixed;
        height: 50px;
        background: white;
    }
    .freePage-sign-login-btn-show {
        width: 100%;
        bottom: 60px;
        z-index: 3;
        position: fixed;
        height: 85px;
        background: white;
    }
    .expert-user-identity-profile-section {
        margin: 10px 10px !important;
    }
    .profile-identity .avatar img {
        object-fit: cover;
        max-width: 90%;
        width: 85%;
        border-radius: 50%;
        height: 86%;
    }
    .profile-identity .avatar .badge {

        top: calc(23% - 3px);
        right: calc(25% - 9px);
    }
    .frePage-job-rat-part {
        margin:10px 35px !important;
    }
    .frePage-job-rat-part p {
        margin: 0 15px 0 0 !important;
    }
    .freePage-earning-sec-for-responsive{
        display: none !important;
    }
    .freePage-earning-sec-for-sm-responsive{
        display: block !important;
    }
    .freePage-hourlyRate-languages-verifications-responsive{
        display: block !important;
    }
    .hire-button {
        width: 45%;
        margin: 0 2%;
        text-align: center ;
    }
    .freePage-invite-button-for-responsive{
        width: 45%;
        margin: 0 2%;
        background-color:#275846;
        border-radius:20px;
        text-align: center;
    }
}
@media only screen and (min-width: 991px) {
    .freePage-hire-invite-btn-show {
        display: none !important;
    }
    .freePage-sign-login-btn-show {
        display: none !important;
    }
    .freePage-earning-sec-for-sm-responsive{
        display: none !important;
    }
    .freePage-hourlyRate-languages-verifications-responsive{
        display: none !important;
    }
}
.freePage-work-history-com-prog .nav-link{
    border: none !important;
}
.freePage-work-history-com-prog .nav-link:hover{
    border: none !important;
}
.freePage-work-history-com-prog .nav-link.active {

    color: black !important;
    border: none !important;
    border-bottom:2px solid rgb(5, 1, 1) !important;
}


.freePage-work-history-com-prog .nav-link {

}


*/
