.alert {
    &.edux-alert {
        display: flex;
        padding: 1.5rem;
        align-items: center;
        gap: 0.625rem;
        align-self: stretch;
        font-size: 1.125rem;
        line-height: 160%;

        strong {
            font-weight: 500;
        }
    }

    & > .close {
        margin-left: auto;
        background-color: transparent;
        border: none;
        outline: none;
    }

    &.alert-success {
        border: 1px solid #CCEBD5;
        background: #F2FAF4;
        color: #5ABC76;

        svg {
            path {
                fill: #5ABC76;
            }
        }
    }

    &.alert-warning {
        color: #8E6F00;;
        border: 1px solid #F8E8B0;
        background: #FEFBF1;

        svg {
            path {
                fill: #E9B911;
            }
        }
    }

    &.alert-info {
        color: #191D24;;
        border: 1px solid #e4eafd;
        background: #F2F5FE;

        svg {
            path {
                fill: #0036E3;
            }
        }
    }

    &.alert-danger {
        color: #C00000;;
        border: 1px solid #FFD7D7;
        background: #FFF0F0;

        svg {
            path {
                fill: #C00000;
            }
        }
    }
}
