$edu-admin-sidebar-width: 265px;
$edu-admin-sm-sidebar-width: 70px;
$edu-admin-header-height: 76px;
.admin-layout {


    & > .admin-header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: end;
        padding: 12px 40px;
        background-color: #fff;
        border-bottom: 1px solid $edu-border-color;
    }

    & > .admin-sidebar {
        position: fixed;
        left: 0;
        top: 0;
        width: $edu-admin-sidebar-width;
        background-color: $edu-primary-color;
        min-height: 100vh;

        ::-webkit-scrollbar {
            width: 3px;
        }

        ::-webkit-scrollbar-track {
            background: rgba(11, 7, 56, 0.1);
        }

        ::-webkit-scrollbar-thumb {
            background-color: rgba(15, 7, 52, 0.1);
            border-radius: 20px;
            border: 1px solid rgba(14, 0, 98, 0.10);
        }

    }

    & > .admin-content {
        padding-left: $edu-admin-sidebar-width + 20px;
        padding-top: $edu-admin-header-height + 15px;
    }


}

.admin-layout {
    &:not(.sidebar-small) {
        .admin-sidebar {
            .sidebar-header {
                display: flex;
                justify-content: space-between;
                gap: 10px;
                border: 1px solid rgba(255, 255, 255, 0.1);
                height: $edu-admin-header-height;
                align-items: center;
                padding: 20px 25px;

                .btn {
                    width: 2rem;
                    height: 2rem;
                    background: rgba(255, 255, 255, 0.19);

                    &:hover {
                        background: rgba(255, 255, 255, 0.5);
                    }
                }
            }

            .sidebar-menu-wrapper {
                padding: 20px 0;
                max-height: calc(100vh - 150px);
                overflow-y: auto;

                ul {
                    margin: 0;
                    padding: 0;

                    li {
                        list-style: none;

                        &.has-children {
                            & > a {

                                &:after {
                                    content: "";
                                    display: block;
                                    width: 24px;
                                    height: 24px;
                                    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M12.9457 11.9995L8.3457 7.39953L9.39953 6.3457L15.0534 11.9995L9.39953 17.6534L8.3457 16.5995L12.9457 11.9995Z" fill="white" fill-opacity="0.8"/></svg>') no-repeat center;
                                    background-size: cover;
                                    margin-left: auto;
                                }

                            }

                            ul {
                                display: none;
                            }

                            &.active-sub-menu {
                                background: rgba(0, 0, 0, 0.14);

                                & > a {
                                    color: #ffffff;

                                    &:after {
                                        transform: rotate(90deg);
                                    }
                                }

                                ul {
                                    display: block;
                                }
                            }
                        }

                        a {
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            color: rgba(255, 255, 255, 0.80);
                            font-weight: 500;

                            svg {
                                width: 18px;

                                path {
                                    fill: rgba(255, 255, 255, 0.70);
                                }
                            }

                            &:hover {
                                color: #ffffff;
                            }
                        }

                        ul {
                            li {
                                a {
                                    padding: 8px 25px 8px 30px;
                                    font-weight: normal;
                                    position: relative;

                                    &:before {
                                        content: "";
                                        display: block;
                                        width: 12px;
                                        height: 12px;
                                        border: 1px solid rgba(255, 255, 255, 0.80);
                                        border-radius: 100%;
                                    }

                                    &:hover {
                                        color: #ffffff;
                                        border-color: #ffffff;
                                    }
                                }

                                &.current-menu-item {
                                    a {
                                        color: #ffffff;
                                        border-color: #ffffff;
                                    }
                                }
                            }
                        }
                    }

                    &.menu {
                        & > li {

                            & > a {
                                padding: 11px 25px;
                            }

                            &.menu-title {
                                color: rgba(255, 255, 255, 0.60);
                                padding: 32px 25px 5px;
                            }
                        }
                    }


                }
            }


            .sidebar-footer {
                padding: 20px 25px;
                border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                color: #FFFFFF;
            }
        }

    }

}

:has(.sidebar-small) {
    .admin-sidebar {
        width: 70px;
    }

    .sidebar-header {
        padding: 11px 5px;

        .btn {
            display: none;
        }
    }

    .sidebar-menu-wrapper {
        ul.menu {
            & > li {
                white-space: nowrap;
                position: relative;

                &.menu-title {
                    display: none;
                }

                & > a {
                    padding: 11px 20px;
                    display: block;

                    path {
                        fill: rgba(255, 255, 255, 0.70);
                    }

                    span {
                        display: none;
                        padding-left: 35px;
                    }

                    &:after {
                        display: none !important;
                    }
                }

                ul {
                    display: none;
                }

                &:hover {
                    & > a {
                        width: 260px;
                        background-color: $edu-primary-dark-color;
                        color: #ffffff;

                        span {
                            display: inline-block;
                        }
                    }

                    ul {
                        box-shadow: 0 0.5rem 1rem #0000001a;
                        display: block;
                        height: auto !important;
                        left: 70px;
                        position: absolute;
                        width: 190px;
                        background-color: #ffffff;

                        li {
                            a {
                                color: $edu-headings-color;
                                padding: 6px 11px;
                                display: block;
                            }
                        }
                    }
                }


            }
        }
    }

    .sidebar-footer {
        display: none;
    }

    .admin-content {
        padding-left: $edu-admin-sm-sidebar-width + 20px;
    }
}


