.card {
    border-color: $edu-border-color;

    .card-header {
        padding: 1rem;
        border-color: $edu-border-color;
    }

    .card-footer {
        border-color: $edu-border-color;
    }

    &.card-shadow {
        box-shadow: 12px 12px 48px 0px #0e006221;
    }

    &.card-60-40 {
        .card-body {
            padding: 20px;
            border-radius: 12px;
            @media screen and (min-width: 500px) {
                padding: 60px 40px;
            }
        }
    }

    &.card-40 {
        .card-body {
            padding: 40px;
            border-radius: 8px;
            background: #FFF;
        }
    }

    &.card-40-20 {
        .card-body {
            padding: 40px 20px;
            border-radius: 8px;
            background: #FFF;
        }
    }

    &.card-24 {
        .card-header {
            padding: 24px;
        }

        .card-body {
            padding: 24px;
            border-radius: 8px;
            background: #FFF;
        }
    }

    &.has-card-hover-overly {
        &:hover {
            .card-hover-overly-wrapper {
                visibility: visible;
            }
        }
    }

    .card-hover-overly-wrapper {
        background: rgba(0, 0, 0, 0.22);
        backdrop-filter: blur(2px);
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        visibility: hidden;
    }
}

.offered-service-card {
    padding: 24px;
    display: grid;
    grid-template-columns: 180px auto;
    gap: 20px;
    border: 1px solid $edu-border-color;
}

.profile-setup-card {
    max-width: 640px;
}
