@mixin input-field($height: 55px, $border-radius: 4px, $padding-y: 8px, $padding-x: 15px, $font-size: 1rem,  $border-color: $edu-primary-color ) {
    background: transparent;
    outline: none;
    border: solid 2px rgba(0, 0, 0, 0.1);
    height: $height;
    width: 100%;
    border-radius: $border-radius;
    padding: $padding-y $padding-x;
    font-size: $font-size;
    color: $edu-headings-color;

    &:focus {
        border-color: $border-color;
        box-shadow: 0 0 0 0.25rem rgba(0, 89, 201, .1);
    }
}

.icon-field-wrapper {
    position: relative;
}

.form-input-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.form-input-group {
    margin-bottom: 12px;
    position: relative;

    &.label-inline {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .form-input-label {
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 160%; /* 1.4rem */
        text-transform: capitalize;
        padding: 2px 0;
    }

    .form-input-field {
        @include input-field;
        position: relative;
        z-index: 1;

        &:disabled {
            background-color: #F0F0F0;
        }
    }

    .form-textarea-field {
        height: inherit;
        padding-top: 20px;
    }

    &.form-input-has-icon {
        &.input-icon-left {
            .form-input-field {
                padding-left: 40px;
            }

            .form-input-icon {
                left: 15px;
                right: 0;
            }
        }
    }


    &.input-field-md {
        .form-input-field {
            height: 42px;
        }
    }
}

.form-check-group {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    gap: 8px;

    .form-check-field {
        margin-top: 0;
        margin-right: 4px;
        border: 2px solid rgba(0, 0, 0, 0.31);
        width: 20px;
        height: 20px;

        &:checked {
            background-color: #0036E3;
            border: 2px solid #0036E3;
        }
    }

    .form-check-label {
        font-size: 15px;
        flex: 1;
    }
}

.input-field-label {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 1.4rem */
    text-transform: capitalize;
    padding: 2px 0;
    margin: 0;
}

.input-field-control {
    @include input-field;

    &.input-field-control-lg {
        height: 46px;
    }

    &.input-field-control-md {
        height: 42px;
    }
}

select.input-field-control {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none"><path d="M11.9997 15.1774C11.8791 15.1774 11.767 15.1581 11.6631 15.1197C11.5593 15.0812 11.4606 15.0152 11.367 14.9216L6.87276 10.4274C6.73429 10.2889 6.66346 10.1149 6.66026 9.90527C6.65704 9.69567 6.72788 9.51844 6.87276 9.37357C7.01763 9.22869 7.19326 9.15625 7.39966 9.15625C7.60606 9.15625 7.78169 9.22869 7.92656 9.37357L11.9997 13.4466L16.0728 9.37357C16.2112 9.23511 16.3852 9.16427 16.5949 9.16107C16.8045 9.15786 16.9817 9.22869 17.1266 9.37357C17.2714 9.51844 17.3439 9.69407 17.3439 9.90047C17.3439 10.1069 17.2714 10.2825 17.1266 10.4274L12.6323 14.9216C12.5388 15.0152 12.44 15.0812 12.3362 15.1197C12.2324 15.1581 12.1202 15.1774 11.9997 15.1774Z" fill="%23303744"/></svg>') no-repeat right 13px center;
    appearance: none;
}

.image-upload-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;

    & > div {
        &:first-child {
            flex: 0 0 150px;
            max-width: 150px;
        }

        .uploaded-img-preview {
            width: 130px;
            height: 130px;
            background-color: #F8FBFF;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $edu-border-color;
            margin: 0 auto;
        }

        .btn-outline-primary {
            border-width: 2px;

            &:hover {
                path {
                    fill: white;
                }
            }
        }
    }
}

.image-upload-flat {
    label {
        border-radius: 4px;
        border: 2px dashed rgba(48, 55, 68, 0.25);
        padding: 25px;
        display: block;

        span {
            display: block;
        }
    }
}

.name-fields-wrapper {
    display: grid;
    gap: 0 16px;
    @media screen and (min-width: 500px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 500px) {
        grid-template-columns: repeat(2, 1fr);
        & > div:first-child {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
}

.available-schedule-input-wrapper {
    display: grid;
    gap: 25px;
    @media screen and (min-width: 600px) {
        grid-template-columns: 300px auto;
    }

    .available-time-select-col {
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            li {
                list-style: none;
                display: inline-block;
                border-radius: 4px;
                border: 1px solid #DDD;
                padding: 8px 4px;
                width: 85px;
                text-align: center;

                &.selected-date {
                    border-color: $edu-primary-color;
                    color: $edu-primary-color;
                }
            }
        }
    }
}

.autocomplete-field-wrapper {
    position: relative;

    .autocomplete-field-suggestion {
        top: 100%;
        position: absolute;
        border-radius: 4px;
        background: #FFF;
        box-shadow: 4px 4px 16px 0px rgba(14, 0, 98, 0.10);
        left: 0;
        right: 0;
        z-index: 3;

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                padding: 7px 16px;
                cursor: pointer;

                &:hover {
                    background: $edu-lighter-brand-bg;
                    color: $edu-primary-color;

                }

            }
        }
    }
}

.choices__inner {
    background-color: #fff !important;
    border-color: $edu-border-color !important;
}

.choices {
    &[data-type="select-one"] {
        .choices__list--dropdown {
            &[aria-expanded="true"] {
                &:after {
                    position: absolute;
                    //z-index: 0;
                    content: "";
                    width: 24px;
                    height: 24px;
                    display: block;
                    top: 33px;
                    right: 26px;
                    transform: translateY(-50%);
                    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M19.6 21L13.3 14.7C12.8 15.1 12.225 15.4167 11.575 15.65C10.925 15.8833 10.2333 16 9.5 16C7.68333 16 6.14583 15.3708 4.8875 14.1125C3.62917 12.8542 3 11.3167 3 9.5C3 7.68333 3.62917 6.14583 4.8875 4.8875C6.14583 3.62917 7.68333 3 9.5 3C11.3167 3 12.8542 3.62917 14.1125 4.8875C15.3708 6.14583 16 7.68333 16 9.5C16 10.2333 15.8833 10.925 15.65 11.575C15.4167 12.225 15.1 12.8 14.7 13.3L21 19.6L19.6 21ZM9.5 14C10.75 14 11.8125 13.5625 12.6875 12.6875C13.5625 11.8125 14 10.75 14 9.5C14 8.25 13.5625 7.1875 12.6875 6.3125C11.8125 5.4375 10.75 5 9.5 5C8.25 5 7.1875 5.4375 6.3125 6.3125C5.4375 7.1875 5 8.25 5 9.5C5 10.75 5.4375 11.8125 6.3125 12.6875C7.1875 13.5625 8.25 14 9.5 14Z" fill="%23191D24" fill-opacity="0.3"/></svg>') no-repeat center;
                }
            }
        }
    }

    .choices__list--dropdown {
        padding: 1rem;

        input {
            @include input-field($height: 36px, $border-color: none);
            margin-bottom: 8px;
        }

        .choices__placeholder {
            display: none;
        }

        .choices__list {
            padding-top: 1rem;
        }

        .choices__item {
            font-size: 1rem !important;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
            padding: 0.3125rem 1.65rem !important;

            &:after {
                display: none;
            }

            &.choices__item--selectable.is-highlighted {
                background-color: transparent;
                color: $edu-primary-color;
            }
        }

    }

    .choices__heading {
        padding: 0.3125rem 1rem;
        border-bottom: 1px solid #f7f7f7;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        color: $edu-headings-color;
        background-color: $edu-gray-4-color;
    }
}

.autocomplete-field {
    .autocomplete-field-suggestion {
        ul {
            margin: 0;
            padding: 0.75rem 0rem;
            border-radius: 0.25rem;
            background: #FFF;
            box-shadow: 0px 3px 6px 0px rgba(14, 0, 98, 0.10);
            position: absolute;
            z-index: 3;
            left: 0;
            right: 0;

            li {
                padding: 0.4375rem 1rem;
                font-weight: 400;
                cursor: pointer;

                &:hover {
                    background: rgba(0, 89, 201, 0.08);
                    color: $edu-primary-color;
                }
            }
        }
    }

    .autocomplete-field-results {
        padding: 8px 0;

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 6px;
            padding: 0;
            margin: 0;

            li {
                list-style: none;
                display: inline-flex;
                border-radius: 36px;
                border: 1px solid $edu-primary-color;
                background: $edu-primary-color;
                color: white;
                padding: 0.125rem 0.375rem 0rem 0.625rem;
                align-items: center;
                gap: 8px;
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: 160%;

                .icon-item-remove {
                    cursor: pointer;
                    line-height: 100%;
                    width: 18px;
                    height: 18px;
                    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"><path d="M4.79965 13.9904L4.00928 13.2L8.20928 9.00001L4.00928 4.80001L4.79965 4.00964L8.99965 8.20964L13.1996 4.00964L13.99 4.80001L9.79002 9.00001L13.99 13.2L13.1996 13.9904L8.99965 9.79038L4.79965 13.9904Z" fill="white"/></svg>');
                }
            }
        }
    }
}

.flatpickr-calendar {
    //padding: 10px;

    .flatpickr-months {
        border: 1px solid $edu-border-color;
        padding-bottom: 6px;
    }

    .flatpickr-innerContainer {
        //Calender Header
        .flatpickr-weekdays {
            text-transform: uppercase;
        }

        //Calender Days
        .flatpickr-days {
            .flatpickr-day {
                &.selected {
                    background-color: $edu-primary-color;
                }

                &.today {
                    border-color: $edu-border-color;
                    background: $edu-lighter-brand-bg;
                    color: $edu-primary-color;

                    &:hover,
                    &:focus {
                        background-color: $edu-primary-color;
                        color: #ffffff;
                    }
                }

                &.inRange,
                &.prevMonthDay.inRange,
                &.nextMonthDay.inRange,
                &.today.inRange,
                &.prevMonthDay.today.inRange,
                &.nextMonthDay.today.inRange,
                &:hover,
                &.prevMonthDay:hover,
                &.nextMonthDay:hover,
                &:focus,
                &.prevMonthDay:focus,
                &.nextMonthDay:focus {

                }
            }
        }
    }
}

.input-group {
    .input-field-control {
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        min-width: 0;
    }
}

.flat-uploaded-item-list {

    .flat-uploaded-item {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        border-radius: 4px;
        border: 1px solid rgba(0, 89, 201, 0.30);
        background: rgba(0, 89, 201, 0.05);
        padding: 6px 24px;
        margin-bottom: 10px;

        .uploaded-file-time {
            color: rgba(48, 55, 68, 0.70);
        }

        .uploaded-item-remove {
            margin-left: auto;

            button {
                background-color: transparent;
                padding: 0;

                path {
                    fill: #303744B2;
                }

                &:hover {
                    path {
                        fill: #F00;
                    }
                }
            }
        }
    }
}

.recommendation-input-wrapper {
    padding: 1rem;
    border: 1px solid #E7E5EF;
    border-radius: 4px;
    background-color: #fff;

    .recommendation-input-labels {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1rem;

        & > div {
            display: flex;
            align-items: center;
            gap: 4px;

        }
    }

    .recommendation-input-fields {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;

        & > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 52px;
            height: 52px;
            gap: 5px;
        }

        input[type='radio'] {
            display: block;
            width: 19px;
            height: 19px;
            border: 1px solid #6E737C;
        }

        label {
            display: block;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
        }
    }
}

.rating-input-wrapper {
    padding: 1rem;
    border: 1px solid #E7E5EF;
    border-radius: 4px;
    background-color: #fff;

    .rating-input-label {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 0.4rem;
    }

    .rating-input-total {
        display: flex;
        align-items: center;
        gap: 5px;
        line-height: 16px;
        margin-top: 1rem;

        span {
            display: block;
        }
    }

    .rating-input-field-wrapper {
        display: flex;
        gap: 45px;
        font-size: 14px;
        align-items: center;
        padding: 5px 0;

        svg {
            width: 16px;
            height: 16px;
        }
    }

}


.rating-input-field {
    &.rating-selected {
        label {
            &.active {
                path {
                    fill: #EAA800;
                }
            }
            &:not(.active) {
                path {
                    fill: #EAA800;
                }
            }
        }

        input[type="radio"]:checked + label ~ label {
            path {
                fill: #E7E5EF;
            }
        }
    }

    input {
        display: none;
    }

    label {
        cursor: pointer;
    }
}
