%input-field {
    background: transparent;
    border: solid 2px rgba(0, 0, 0, 0.1);
    height: 55px;
    width: 100%;
    border-radius: 4px;
    padding: 8px 15px;
    outline: none;
    font-size: 15px;
    color: #303744;

    &:focus {
        border-color: #0036E3;
        box-shadow: 0 0 0 0.25rem rgba(0, 89, 201, .1);
    }
}

.form-input-group {
    &.form-input-has-icon {
        &.input-icon-left {
            .form-input-field {
                padding-left: 40px;
            }

            .form-input-icon {
                left: 15px;
                right: 0;
            }
        }

        .form-input-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
        }
    }
}

.input-field-control {
    @extend %input-field;
}

select.input-field-control {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none"><path d="M11.9997 15.1774C11.8791 15.1774 11.767 15.1581 11.6631 15.1197C11.5593 15.0812 11.4606 15.0152 11.367 14.9216L6.87276 10.4274C6.73429 10.2889 6.66346 10.1149 6.66026 9.90527C6.65704 9.69567 6.72788 9.51844 6.87276 9.37357C7.01763 9.22869 7.19326 9.15625 7.39966 9.15625C7.60606 9.15625 7.78169 9.22869 7.92656 9.37357L11.9997 13.4466L16.0728 9.37357C16.2112 9.23511 16.3852 9.16427 16.5949 9.16107C16.8045 9.15786 16.9817 9.22869 17.1266 9.37357C17.2714 9.51844 17.3439 9.69407 17.3439 9.90047C17.3439 10.1069 17.2714 10.2825 17.1266 10.4274L12.6323 14.9216C12.5388 15.0152 12.44 15.0812 12.3362 15.1197C12.2324 15.1581 12.1202 15.1774 11.9997 15.1774Z" fill="%23303744"/></svg>') no-repeat right 13px center;
    appearance: none;
}

.image-upload-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;

    & > div {
        &:first-child {
            flex: 0 0 150px;
            max-width: 150px;
        }

        .uploaded-img-preview {
            width: 130px;
            height: 130px;
            background-color: #F8FBFF;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $edu-border-color;
            margin: 0 auto;
        }

        .btn-outline-primary {
            border-width: 2px;

            &:hover {
                path {
                    fill: white;
                }
            }
        }
    }
}

.image-upload-flat {
    label {
        border-radius: 4px;
        border: 2px dashed rgba(48, 55, 68, 0.25);
        padding: 25px;
        display: block;

        span {
            display: block;
        }
    }
}

.name-fields-wrapper {
    display: grid;
    gap: 0 16px;
    @media screen and (min-width: 500px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 500px) {
        grid-template-columns: repeat(2, 1fr);
        & > div:first-child {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
}

.available-schedule-input-wrapper {
    display: grid;
    gap: 25px;
    @media screen and (min-width: 600px) {
        grid-template-columns: 300px auto;
    }
    .available-time-select-col {
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            li {
                list-style: none;
                display: inline-block;
                border-radius: 4px;
                border: 1px solid #DDD;
                padding: 8px 4px;
                width: 85px;
                text-align: center;

                &.selected-date {
                    border-color: $edu-primary-color;
                    color: $edu-primary-color;
                }
            }
        }
    }
}
