@font-face {
    font-family: 'Colfax';
    src: url('/resources/fonts/Colfax-Medium.woff2') format("woff2"),
    url('/resources/fonts/Colfax-Medium.woff') format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Colfax';
    src: url('/resources/fonts/Colfax-Regular.woff2') format("woff2"),
    url('/resources/fonts/Colfax-Regular.woff') format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Colfax";
    src: url("/resources/fonts/Colfax-Bold.otf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Colfax", Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    color: $edu-headings-color;
}

h1, .h1 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 137%;
}

h2, .h2 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 137%;
}

h3, .h3 {
    font-size: 2.0625rem;
    font-weight: 500;
    line-height: 137%;
}

h4, .h4 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 137%;
}

h5, .h5 {
    font-size: 1.4375rem;
    font-weight: 500;
    line-height: 137%;
}

h6, .h6 {
    font-size: 1.1875rem;
    font-weight: 500;
    line-height: 120%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.text-lg {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 120%;
}

.text-sm {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 160%;
}

.btn-link {
    color: $edu-primary-color !important;
    text-decoration: none;
}

.text-primary-dark {
    color: $edu-primary-dark-color !important;
}

.p-40 {
    padding: 40px;
}

.my-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.my-60 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.mt-60 {
    margin-top: 60px;
}

.mb-60 {
    margin-bottom: 60px;
}

.social-auth {
    display: grid;
    gap: 16px;

    &.col-items-3 {
        @media screen and (min-width: 500px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    div {
        a {
            display: flex;
            align-items: center;
            padding: 16px;
            gap: 16px;
            border: 2px solid $edu-border-color;
            border-radius: 4px;
            color: $edu-headings-color;
            transition: 0.2s;

            &:hover {
                background-color: $edu-lighter-brand-bg;
                border-color: $edu-lighter-brand-border-color;
            }
        }
    }
}

.separator {
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;

    &:before {
        content: "";
        background: $edu-border-color;
        height: 1px;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
    }

    span {
        background: #fff;
        z-index: 2;
        position: relative;
        padding-left: 10px;
        padding-right: 10px;
        display: inline-block;
    }
}

.tooltip-wrapper {
    display: inline-block;
    position: relative;

    .tooltip-icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none"><path d="M10.4998 19.5846C5.20711 19.5846 0.916504 15.294 0.916504 10.0013C0.916504 4.70857 5.20711 0.417969 10.4998 0.417969C15.7925 0.417969 20.0832 4.70857 20.0832 10.0013C20.0832 15.294 15.7925 19.5846 10.4998 19.5846ZM10.4998 17.668C14.734 17.668 18.1665 14.2355 18.1665 10.0013C18.1665 5.76712 14.734 2.33464 10.4998 2.33464C6.26565 2.33464 2.83317 5.76712 2.83317 10.0013C2.83317 14.2355 6.26565 17.668 10.4998 17.668ZM9.5415 5.20964H11.4582V7.1263H9.5415V5.20964ZM9.5415 9.04297H11.4582V14.793H9.5415V9.04297Z" fill="%230036E3"/></svg>') no-repeat center;
        background-size: cover;
        cursor: pointer;
    }

    .tooltip-content {
        position: absolute;
        background-color: #fff;
        padding: 12px 24px;
        border: 1px solid $edu-border-color;
        font-size: 0.8125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        max-width: 300px;
        width: 100vw;
        box-shadow: 8px 8px 32px rgba(14, 0, 98, 0.15);
        visibility: hidden;
        transition: 0.2s;
        z-index: 2;

        &:before {
            content: "";
            display: block;
            width: 17px;
            height: 17px;
            top: -10px;
            position: absolute;
            border-top: 1px solid $edu-border-color;
            border-right: 1px solid $edu-border-color;
            background-color: #ffffff;
            transform: rotate(-45deg);
        }
    }

    &.bottom-left {
        .tooltip-content {
            left: -20px;
        }
    }

    &:hover {
        .tooltip-content {
            visibility: visible;
        }
    }
}

.button-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;

    & > .button-list-item {
        list-style: none;
        display: flex;
        border-radius: 30px;
        border: 1px solid $edu-border-color;
        background: rgba(48, 55, 68, 0.03);
        padding: 8px 10px 8px 16px;
        align-items: center;
        gap: 8px;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        justify-content: space-between;
        width: 100%;

        .button-list-icon {
            line-height: 100%;
        }
    }

    & > .button-list-title {
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        padding: 6px 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.icon-btn {
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: white;
    border: 0;

    &.icon-btn-sm {
        width: 24px;
        height: 24px;
    }

}

ul.progress-bar-nav-vertical {
    margin: 0;
    padding: 0;
    @media screen and (max-width: 768px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    @media screen and (max-width: 650px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 500px) {
        grid-template-columns: 1fr;
    }

    li {
        list-style: none;
        padding: 5px 0 24px 36px;
        position: relative;
        @media screen and (max-width: 767px) {
            display: inline-block;
            padding-bottom: 5px;
        }

        strong {
            display: block;
            font-size: 1.1875rem;
            font-weight: 500;
            line-height: 120%;
        }

        &:before {
            content: "";
            display: block;
            width: 24px;
            height: 24px;
            position: absolute;
            border: 8px solid #F2F4F7;
            border-radius: 100%;
            left: 0;
            z-index: 1;
            background-color: #fff;
        }

        &:after {
            content: "";
            display: block;
            width: 1px;
            height: calc(100% - 32px);
            border-left: 2px solid #E4E7EC;
            position: absolute;
            left: 13px;
            bottom: 0;
            @media screen and (max-width: 892px) {
                display: none;
            }
        }

        &.running-item {
            &:before {
                border-color: $edu-primary-color;
            }
        }

        &.done-item {
            &:before {
                border: none;
                background: $edu-primary-color url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M17.096 7.39016L9.93602 14.3002L8.03602 12.2702C7.68602 11.9402 7.13602 11.9202 6.73602 12.2002C6.34602 12.4902 6.23602 13.0002 6.47602 13.4102L8.72602 17.0702C8.94602 17.4102 9.32601 17.6202 9.75601 17.6202C10.166 17.6202 10.556 17.4102 10.776 17.0702C11.136 16.6002 18.006 8.41016 18.006 8.41016C18.906 7.49016 17.816 6.68016 17.096 7.38016V7.39016Z" fill="white"/></svg>');
            }

            &:after {
                border-color: $edu-primary-color;
            }
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}

ul.progress-bar-nav-horizontal {
    margin: 0;
    padding: 0;
    counter-reset: numbers;
    display: flex;
    flex-wrap: unset;
    justify-content: space-between;

    li {
        list-style: none;
        padding: 5px 0;
        position: relative;
        display: inline-block;
        width: 100%;

        strong {
            display: table;
            font-size: 1rem;
            font-weight: 500;
            line-height: 159.5%;
            color: $edu-headings-color;


            &:before {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 48px;
                height: 48px;
                border: 2px solid $edu-border-color;
                border-radius: 100%;
                background-color: #fff;
                counter-increment: numbers;
                content: counter(numbers);
                z-index: 2;
                position: relative;
                padding: 4px;
                margin: 0 auto 8px;
                color: $edu-gray-color;

            }
        }


        &:after {
            content: "";
            display: block;
            width: calc(100% - 90px);
            height: 2px;
            background-color: #ccc;
            position: absolute;
            //left: 0;
            right: 0;
            top: 29px;
        }

        &.running-item {
            strong {
                color: $edu-primary-color;

                &:before {
                    border-color: lighten($edu-primary-color, 30%);
                    background-color: lighten($edu-primary-color, 50%);
                    color: $edu-primary-color;
                }
            }
        }

        &.done-item {
            strong {
                color: $edu-primary-color;

                &:before {
                    border-color: $edu-primary-color;
                    background: $edu-primary-color url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M17.096 7.39016L9.93602 14.3002L8.03602 12.2702C7.68602 11.9402 7.13602 11.9202 6.73602 12.2002C6.34602 12.4902 6.23602 13.0002 6.47602 13.4102L8.72602 17.0702C8.94602 17.4102 9.32601 17.6202 9.75601 17.6202C10.166 17.6202 10.556 17.4102 10.776 17.0702C11.136 16.6002 18.006 8.41016 18.006 8.41016C18.906 7.49016 17.816 6.68016 17.096 7.38016V7.39016Z" fill="white"/></svg>') no-repeat center;
                    color: transparent;
                }
            }

            &:after {
                background: $edu-primary-color;
            }
        }

        &:last-child {
            width: auto;

            &:after {
                display: none;
            }
        }
    }
}


.d-grid {
    @media screen and (min-width: 540px) {
        &.grid-cols-sm-6 {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.custom-table {
    display: table;
    width: 100%;

    & > .tr {
        display: table-row;

        & > .td {
            display: table-cell;
            padding: 4px;
        }
    }
}
