.homepage-main-slider-wrapper {
    background: #E8EBF6;

    .row {
        min-height: 520px;
    }

    .hero-text {
        padding: 100px 0 114px;
        max-width: 587px;
        @media screen and (max-width: 1200px) {
            text-align: center;
            margin: 0 auto;
            .hero-button {
                justify-content: center;
            }
        }

        h2 {
            font-size: 43px;
            font-style: normal;
            font-weight: 500;
            line-height: 125%;
        }

        p {
            margin: 16px 0 32px;
        }
    }

    @media screen and (max-width: 1200px) {
        .home-main-slider-col {
            display: none;
        }
    }

    .homepage-slider-item {
        position: relative;
        text-align: right;

        img {
            display: inline-block !important;
            max-width: 100%;
            width: auto !important;
            height: auto;
        }

        .homepage-slider-content {
            width: 248px;
            position: absolute;
            bottom: 73px;
            left: 0;
            border-radius: 8px;
            opacity: 0.9;
            background: rgba(255, 255, 255, 0.66);
            box-shadow: 9px 9px 36px 0px rgba(14, 0, 98, 0.10);
            backdrop-filter: blur(7.5px);
            padding: 16px 24px;
            text-align: left;

            h4 {
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                margin: 0;
            }

            p {
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                margin: 0;
                color: initial;

                &:last-child {
                    margin-top: 10px;
                    padding-top: 10px;
                    border-top: 1px solid $edu-border-color;
                }
            }
        }
    }
}

.slider-map-wrapper {
    display: table;
    position: relative;
    @keyframes blinkLocation {
        from {
            transform: translate(-50%, -50%) scale(1);
            opacity: 0;
        }
        to {
            transform: translate(-50%, -50%) scale(2.5);
            opacity: 0.6;
        }
    }

    & > div {
        position: absolute;
        top: 30px;
        left: 88px;
        padding-left: 12px;
        color: rgba(48, 55, 68, 0.70);
        font-size: 14px;
        font-weight: 500;
        line-height: 160%;
        display: flex;
        align-items: center;

        &:before,
        &:after {
            content: "";
            display: block;
            width: 8px;
            height: 8px;
            background-color: $edu-primary-color;
            left: 0;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 100%;
            position: absolute;
        }

        &:before {
            background-color: $edu-primary-color;
            transform: translate(-50%, -50%) scale(2.5);
            border-radius: 100%;
            opacity: 0.5;
            animation: blinkLocation 2s infinite alternate-reverse;
        }
    }
}

.homepage-slider-thumbnails-wrapper {
    padding: 50px 0;
    background-color: #fff;

    .homepage-slider-thumbnails-inner-wrapper {
        background: #FFF;
        border-radius: 8.787px;
        box-shadow: 9.885px 9.885px 39.54px 0px rgba(14, 0, 98, 0.10);
        backdrop-filter: blur(8.237500190734863px);
        padding: 39px 29px 23px;
    }

    .owl-nav {
        button {
            width: 43.933px;
            height: 43.933px;
            border-radius: 38.442px !important;
            border: 2.197px solid rgba(0, 0, 0, 0.10) !important;
            background: #FFF !important;
            box-shadow: 4.393px 4.393px 17.573px 0px rgba(14, 0, 98, 0.10) !important;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: flex !important;
            align-items: center;
            justify-content: center;

            &.owl-prev {
                left: -50px;
            }

            &.owl-next {
                right: -50px;
            }

            &:hover {
                border-color: #0031CC;
                background-color: $edu-primary-color !important;
            }
        }
    }
}

.homepage-slider-thumbnails {

    .center {
        .homepage-slider-thumb-item {
            border-color: $edu-primary-color;
            opacity: 1;
        }
    }
}

.homepage-slider-thumb-item {
    text-align: center;
    border: 1.098px solid #E7E5EF;
    background-color: #E8EBF6;

    opacity: 0.55;

    img {

    }

    h4 {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        margin: 0;
    }

    p {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        margin: 0;
    }

    & > div {
        &:last-child {
            background-color: #ffffff;
            padding: 14px;
        }
    }
}
