.instructor-carousel-wrapper {
    position: relative;
    padding-left: 64px;
    padding-right: 64px;

    #instructor-carousel .owl-stage {
        margin-bottom: 40px;
    }

    .instructor-slider-item {
        .slider-img {

        }

        .slider-info {
            padding: 12px;
            text-align: center;
            box-shadow: 14.755319595336914px 13.202128410339355px 37.27659606933594px #0e00621f;
            border-radius: 0 0 6px 6px;
        }
    }

    h4 {
        font-size: 14px;
        font-weight: 500;
        line-height: 120%;
        margin-bottom: 6px;
        padding: 0;

    }

    p {
        margin: 0;
        padding: 0;
        font-size: 12px;
    }
}
