.sidebar-layout {
    display: grid;
    border-radius: 7px;
    border: 1px solid $edu-border-color;
    //box-shadow: 12px 17px 48px 0px rgba(14, 0, 98, 0.10);
    background-color: #fff;

    & > div {
        padding: 32px;

        &.page-sidebar {
            background-color: #FCFCFF;
        }
    }
}

.left-sidebar-layout {
    @media screen and (min-width: 990px) {
        grid-template-columns: 320px auto;
    }
    @media screen and (max-width: 990px) and (min-width: 767px) {
        grid-template-columns: 280px auto;
    }

    .page-sidebar {
        border-right: 1px solid $edu-border-color;
        border-radius: 7px 0 0 7px;
    }
}

.right-sidebar-layout {
    @media screen and (min-width: 990px) {
        grid-template-columns:  auto 320px;
    }
    @media screen and (max-width: 990px) and (min-width: 767px) {
        grid-template-columns:  auto 280px;
    }

    .page-sidebar {
        border-left: 1px solid $edu-border-color;
        order: 2;
        border-radius: 0 7px 7px 0;
    }
}

.page-block {
    .page-block-heading {

    }
}

.empty-search-wrapper {
    height: calc(100vh - 110px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}
