
.project-list-card-item {
    padding: 32px;
    border-bottom: 1px solid $edu-border-color;

    .project-list-card-item-header {
        padding-bottom: 1rem;
        border-bottom: 1px solid $edu-border-color;

        .project-item-title {
            h3 {
                a {
                    color: inherit;
                }
            }
        }

        .project-item-meta-wrapper {
            font-size: 14px;

            .icon-btn {
                border-radius: 4px;
                border: 2px solid rgba(14, 0, 98, 0.10);
                width: 46px;
                height: 46px;

                span {
                    &.heart-line {
                        display: block;
                    }

                    &.heart-filled {
                        display: none;
                    }
                }

                &.favorited {
                    span {
                        &.heart-line {
                            display: none;
                        }

                        &.heart-filled {
                            display: block;
                        }
                    }
                }

                &:hover {
                    background-color: $edu-primary-color;
                    color: white;

                    path {
                        fill: white;
                    }
                }
            }

            .project-item-price {
                strong {
                    color: rgba(25, 29, 36, 0.70);;
                }
            }

            @media screen and (max-width: 1100px) {
                flex-wrap: wrap;

            }
        }
    }

    .project-list-card-item-body {
        padding: 1rem 0;

        a {
            color: $edu-primary-color;
        }
    }


    &:hover {
        background-color: #F7F9FE;
    }
}

.project-instruction {
    .btn-primary {
        width: 265px;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
}

.project-details-card {
    padding: 32px;

    .project-details-card-header {
        padding-bottom: 5px;
        border-bottom: 1px solid $edu-border-color;

        .project-details-meta-data {
            font-size: 14px;
        }
    }

}

.attachment-display-wrapper {
    display: flex;
    gap: 1.5rem;

    & > div {
        flex: 0 0 218px;
        max-width: 318px;
    }
}

.attachment-display-card {
    .attachment-display-thumb {
        display: table;
        margin-bottom: 0.6875rem;
        border-radius: 4px;
        overflow: hidden;
    }

    h6 {
        font-size: 0.875rem;
    }

    p {
        font-size: 0.875rem;
    }
}


.related-project-card {
    border: solid 1px #0E00621A;
    border-radius: 8px;
    //box-shadow: 12px 17px 48px 0px #0e00621a;
    padding: 35px 30px;
    margin-bottom: 30px;
    background-color: #fff;

    h4 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 45px;
        margin-bottom: 10px;
    }

    a {
        color: inherit;

        &:hover {
            color: $edu-primary-color;
        }
    }

    p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 70px;
    }

    a.view-project-details {
        display: flex;
        align-items: center;
        color: $edu-headings-color;
        font-weight: 500;
        font-size: 0.875rem;

        path {
            fill: $edu-headings-color;
        }

        &:hover {
            color: $edu-primary-color;

            path {
                fill: $edu-primary-color;
            }
        }
    }

}
