.scholarship-database-page-layout {

    & > div {
        padding: 32px;

        &.scholarship-database-filter-col {
            border-right: 1px solid $edu-border-color;
            background: #FCFCFF;
            @media screen and (max-width: 767px) {
                border-right: none;
                border-bottom: 1px solid $edu-border-color;
            }
        }
    }
}

.scholarship-database-content-list-item {
    display: grid;
    grid-template-columns: 72px auto 300px;
    gap: 10px;
    padding: 16px 0;
    align-items: center;
    @media screen and (max-width: 550px) {
        display: flex;
        flex-wrap: wrap;
    }

    .scholarship-university-logo {
        div {
            width: 70px;
            height: 70px;
            border-radius: 100%;
            overflow: hidden;
        }
    }

    .scholarship-university-info {
        @media screen and (max-width: 1200px) {
            grid-column-start: 2;
            grid-column-end: 4;
        }

        p {
            color: rgba(48, 55, 68, 0.70);
        }
    }

    .scholarship-action {
        @media screen and (max-width: 1200px) {
            order: 4;
            grid-column-start: 2;
            grid-column-end: 4;
        }

        .btn {
            padding: 9px;

            &.btn-outline-light {
                border: 2px solid $edu-border-color;
            }

            &.btn-outline-primary {
                padding-left: 27px;
                padding-right: 27px;
                display: flex;
                align-items: center;
            }
        }
    }

    .scholarship-details {
        grid-column-start: 2;
        grid-column-end: 4;

        .custom-table {
            .tr {
                .td {
                    &:first-child {
                        width: 200px;
                        @media screen and (max-width: 990px) {
                            width: auto;
                        }
                    }
                }
            }
        }
    }
}
