.filter-widget,
.profile-widget,
.profile-edit-widget {
    margin-bottom: 40px;

    .filter-widget-title,
    .widget-title {
        font-size: 1rem;
        font-weight: 500;
        line-height: 120%;
    }
}


.profile-edit-widget {
    .widget-title {
        display: flex;
        align-items: center;
        gap: 4px;

        .icon-btn {
            margin-left: auto;
        }
    }

    .icon-btn {
        border: 1px solid $edu-border-color;
    }
}

.user-bio-edit-widget {
    .user-profile-picture {
        max-width: 167px;
        max-height: 167px;
        overflow: hidden;
        position: relative;
        border-radius: 100%;
        margin: 0 auto;

        &:hover {
            button {
                bottom: 0;
            }
        }

        button {
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
            background-color: $edu-headings-color;
            bottom: -100%;
            border: none;
            padding: 5px 10px 10px;
            color: #fff;
            font-weight: 500;
            font-size: 0.875rem;
            transition: 0.2s;
        }
    }

    .user-profile-info {
        text-align: center;
        padding: 1rem 0;
        border-bottom: 1px solid $edu-border-color;
        margin-bottom: 24px;

        p {
            margin-bottom: .2rem;
        }
    }
}

.user-language-edit-widget {
    ul {
        margin: 0;
        padding: 0;
        //display: flex;
        //flex-wrap: wrap;
        //gap: 5px;

        li {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 4px;

            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 159.5%;
        }
    }
}

.user-skills-edit-widget {
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        li {
            list-style: none;
            display: inline-flex;
            gap: 4px;
            align-items: center;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 159.5%;
            color: $edu-headings-color;
            border-radius: 2.625rem;
            //border: 1px solid $edu-primary-color;
            padding: 0.125rem 0.60rem;
            background-color: $edu-gray-4-color;
        }
    }
}

.user-education-edit-widget {
    .user-education-box-item {
        display: flex;
        align-items: center;
        gap: 10px;
        border-bottom: 1px solid $edu-border-color;
    }
}

.complete-profile-status-edit-widget {
    .complete-profile-status-progress-bar {
        position: relative;
        width: calc(100% - 40px);
        height: 3px;
        border-radius: 42px;
        background: rgba(0, 54, 227, 0.12);

        &:before {
            content: "";
            height: 3px;
            display: block;
            width: 0;
            background-color: $edu-primary-color;
            position: absolute;
            top: 0;
            left: 0;
            transition: width 0.2s;
        }

        &:after {
            content: attr(progress-status);
            position: absolute;
            right: -40px;
            top: 50%;
            transform: translateY(-50%);
        }

        &[progress-status='10%'] {
            &:before {
                width: 10%;
            }
        }

        &[progress-status='20%'] {
            &:before {
                width: 20%;
            }
        }

        &[progress-status='30%'] {
            &:before {
                width: 30%;
            }
        }

        &[progress-status='40%'] {
            &:before {
                width: 40%;
            }
        }

        &[progress-status='50%'] {
            &:before {
                width: 50%;
            }
        }

        &[progress-status='60%'] {
            &:before {
                width: 60%;
            }
        }

        &[progress-status='70%'] {
            &:before {
                width: 70%;
            }
        }

        &[progress-status='80%'] {
            &:before {
                width: 80%;
            }
        }

        &[progress-status='90%'] {
            &:before {
                width: 90%;
            }
        }

        &[progress-status='100%'] {
            &:before {
                width: 100%;
            }
        }

    }
}
