h1, h2, h3, h4, h5, h6, .text-heading {
    color: $edu-headings-color;
}

h1, .h1 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 137%;
}

h2, .h2 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 137%;
}

h3, .h3 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 137%;
}

h4, .h4 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 137%;
}

h5, .h5 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 137%;
}

h6, .h6 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 120%;
}

.text-lg {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 120%;
}

.text-sm {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 160%;
}

.text-base {
    font-size: 1rem;
    line-height: 160%;
}

.text-primary-dark {
    color: $edu-primary-dark-color !important;
}

.text-dark-70 {
    color: $edu-dark-color-70;
}
.text-inherit{
    color: inherit;
}
