section {
    &.profile-setup {
        padding: 50px 0;

        .alert {
            padding: .62rem 1.5rem;
            background-color: #ffffff;
            font-size: 1.125rem;
            line-height: 160%;
        }
    }
}

.user-profile-card {
    .user-profile-picture {
        max-width: 167px;
        max-height: 167px;
        overflow: hidden;
        position: relative;
        border-radius: 100%;
        margin: 0 auto;

        &:hover {
            button {
                bottom: 0;
            }
        }

        button {
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
            background-color: $edu-headings-color;
            bottom: -100%;
            border: none;
            padding: 5px 10px 10px;
            color: #fff;
            font-weight: 500;
            font-size: 0.875rem;
            transition: 0.2s;
        }
    }

    .user-profile-info {
        text-align: center;
        padding: 1rem 0;
        border-bottom: 1px solid $edu-border-color;
        margin-bottom: 24px;

        p {
            margin-bottom: .2rem;
        }
    }

    h4 {
        font-size: 1rem;
        font-weight: 700;
    }

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        li {
            list-style: none;
            display: inline-flex;
            gap: 4px;
            align-items: center;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 159.5%;
        }
    }

    .user-profile-language {
        margin-bottom: 24px;
    }


}

.profile-edit-started-btn-wrapper {
    max-width: 526px;
}


.accordion-items-select-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
        & > div {
            &:last-child {
                order: -1;
            }
        }
    }

    .form-input-group {
        margin-bottom: 0;
    }

    .accordion {

        ::-webkit-scrollbar {
            width: 3px;
        }

        ::-webkit-scrollbar-track {
            background: rgba(14, 0, 98, 0.10);
        }

        ::-webkit-scrollbar-thumb {
            background-color: rgba(14, 0, 98, 0.10);
            border-radius: 20px;
            border: 1px solid rgba(14, 0, 98, 0.10);
        }

        .accordion-button {
            padding: 10px 12px;

            &:not(.collapsed) {
                color: $edu-headings-color;
                box-shadow: none !important;
                font-weight: 500;
                background: rgba(0, 54, 227, 0.04);

            }

            &:focus {
                box-shadow: none !important;
            }

            &:after {
                width: 16px;
                height: 16px;
                background-size: cover;
                opacity: 0.6;
            }
        }

        .accordion-collapse {
            max-height: 300px;
            overflow-y: auto;

            &.show {
                background: rgba(0, 54, 227, 0.04);
            }

            .btn {
                padding: 0.35rem 12px 0.35rem 12px;
                text-align: left;
                font-weight: 400;
                margin: 1px 0;

                &.btn-light {
                    background-color: transparent;
                    outline: none;
                    border: none;

                    &.selected-skill {
                        color: $edu-primary-color;
                    }

                    &:hover {
                        color: $edu-primary-color;
                    }
                }
            }
        }
    }


}

.service-fee-input-area {
    .service-fee-input-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;
        flex: 0 0 100%;
        max-width: 100%;

        @media screen and (min-width: 1200px) {
            .service-fee-description {
                flex: 0 0 calc(100% - 233px);
                max-width: calc(100% - 233px);
            }
            .service-fee-input {
                flex: 0 0 203px;
                max-width: 203px;
            }
        }

        p {
            max-width: 300px;
        }
    }
}

.progress-step-content {
    .card {
        .card-footer {
            .icon-btn {
                &:hover {
                    path {
                        fill: $edu-primary-color;;
                    }
                }
            }
        }
    }
}

.progress-step-control-btn-wrapper {
    .btn {
        width: 265px;
        text-align: center;

        &.btn-outline-primary {
            &:hover {
                svg path {
                    fill: #ffffff;
                }
            }
        }
    }
}

.skillset-search-suggestion {
    .btn {
        padding: 0.35rem 12px 0.35rem 12px;
        text-align: left;
        font-weight: 400;
        margin: 1px 0;

        &.btn-light {
            background-color: transparent;
            outline: none;
            border: none;

            &:hover {
                color: $edu-primary-color;
            }
        }
    }
}
