
$edu-lighter-brand-bg: rgba(0, 54, 227, 0.05);
$edu-lighter-brand-border-color: rgba(0, 89, 201, 0.14);


$edu-primary-color: #0036E3;
$edu-primary-dark-color: #002CB9;
$edu-primary-light-color: rgba(0, 89, 201, 0.10);
$edu-secondary-color: #369450;
$edu-secondary-dark-color: #275846;
$edu-headings-color: #303744;
$edu-border-color: rgba(0, 0, 0, 0.10);
$edu-gray-color: #A1A0A5;
$edu-gray-4-color: #F6F6F6;
$edu-red-color: #C00000;

// change the Bootstrap Variables
$theme-colors: (
    "primary": $edu-primary-color,
);
