$edu-lighter-brand-bg: rgba(0, 54, 227, 0.05);
$edu-lighter-brand-border-color: rgba(0, 89, 201, 0.14);


$edu-primary-color: #0036E3;
$edu-primary-dark-color: #002CB9;
$edu-primary-light-color: rgba(0, 89, 201, 0.10);
$edu-secondary-color: #369450;
$edu-secondary-dark-color: #275846;
$edu-headings-color: #303744;
$edu-border-color: #E7E5EF;
$edu-gray-color: #A1A0A5;
$edu-min-gray-color: #6E737C;
$edu-gray-4-color: #F6F6F6;
$edu-red-color: #C00000;

// change the Bootstrap Variables
$edu-bs-secondary: #6c757d !default;
$edu-bs-success: #198754 !default;
$edu-bs-info: #0dcaf0 !default;
$edu-bs-warning: #ffc107 !default;
$edu-bs-danger: #dc3545 !default;
$edu-bs-light: #f8f9fa !default;
$edu-bs-dark: #212529 !default;

$theme-colors: (
    "primary": $edu-primary-color,
    "secondary": $edu-bs-secondary,
    "success": $edu-bs-success,
    "info": $edu-bs-info,
    "warning": $edu-bs-warning,
    "danger": $edu-bs-danger,
    "light": $edu-bs-light,
    "dark": $edu-bs-dark
);
