$edu-lighter-brand-bg: rgba(0, 54, 227, 0.05);
$edu-lighter-brand-border-color: rgba(0, 89, 201, 0.14);


$edu-primary-color: #0036E3;
$edu-headings-color: #303744;
$edu-border-color: rgba(0, 0, 0, 0.10);
