.card {
    border-color: $edu-border-color;

    .card-header {
        padding: 1rem;
        border-color: $edu-border-color;
    }

    .card-footer {
        border-color: $edu-border-color;
    }

    //&.card-shadow {
    //    box-shadow: 12px 12px 48px 0px #0e006221;
    //}

    &.card-60-40 {
        .card-body {
            padding: 20px;
            border-radius: 12px;
            @media screen and (min-width: 500px) {
                padding: 60px 40px;
            }
        }
    }

    &.card-40 {
        .card-body {
            padding: 40px;
            border-radius: 8px;
            //background: #FFF;
        }
    }

    &.card-40-20 {
        .card-body {
            padding: 40px 20px;
            border-radius: 8px;
            //background: #FFF;
        }
    }

    &.card-24 {
        .card-header {
            padding: 24px;
        }

        .card-body {
            padding: 24px;
            border-radius: 8px;
            //background: #FFF;
        }
    }

    &.has-card-hover-overly {
        &:hover {
            .card-hover-overly-wrapper {
                visibility: visible;
            }
        }
    }

    .card-hover-overly-wrapper {
        background: rgba(0, 0, 0, 0.22);
        backdrop-filter: blur(2px);
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        visibility: hidden;
    }

    &.card-payment-method {
        border-radius: 4px;
        border: 1px solid rgba(0, 54, 227, 0.20);
        background: rgba(0, 54, 227, 0.05);
    }
}

.offered-service-card {
    padding: 24px;
    display: grid;
    grid-template-columns: 180px auto;
    gap: 20px;
    border: 1px solid $edu-border-color;
}

.consultation-card {
    display: grid;
    grid-template-columns: 180px auto;
    gap: 20px;
    padding: 20px 0;
}

.profile-setup-card {
    max-width: 640px;
}

.service-edit-card {
    padding: 24px;
    display: grid;
    grid-template-columns: 180px auto;
    gap: 20px;
    border: 1px solid $edu-border-color;
}

.user-small-card,
.user-card-small {
    display: grid;
    grid-template-columns: 40px auto;
    gap: 8px;
    align-items: center;

    & > div {
        &:first-child {
            border-radius: 100%;
            overflow: hidden;
            background-color: #cccccc;
            height: 40px;

            img {
                transform: scale(1.5);
            }
        }
    }

    ul.user-meta {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            padding-right: 15px;
            position: relative;
            //color: rgba(48, 55, 68, 0.60);
            font-size: 14px;
            //font-weight: 500;

            &:last-child {
                &:after {
                    display: none;
                }
            }

            &:after {
                content: "";
                display: block;
                width: 1px;
                height: 100%;
                position: absolute;
                right: 5px;
                top: 0;
                background-color: $edu-border-color;
            }
        }
    }

    ul.edux-rating {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            display: inline-block;
        }
    }
}
