
.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;

    a {
        padding: 2px 12px;
        border-radius: 42px;
        background: #EBEFF7;
        font-size: 14px;
        font-weight: 500;
        color: #555C68;
        border: 1px solid #EBEFF7;
    }

    .tag {
        padding: 2px 12px;
        border-radius: 42px;
        background: #EBEFF7;
        font-size: 14px;
        font-weight: 500;
        color: #555C68;
        border: 1px solid #EBEFF7;
        display: flex;
        align-items: center;
        gap: 3px;

        svg {
            width: 18px;
            height: 18px;

            path {
                fill: rgba(48, 55, 68, 0.70);
            }
        }
    }

    &.branded-tag-list {
        a {
            border-color: $edu-primary-color;
            background: #FFF;
            color: $edu-primary-color;
        }
    }

    &.light-tag-list {
        .tag {
            background-color: #F4F6F9;
            color: $edu-min-gray-color;
            font-size: 0.8125rem;
        }


    }
    .all-tags-trigger {
        font-size: 0.8125rem;
        font-weight: 500;
        border: 2px solid #EBEFF7;
        padding: 2px 12px;
        border-radius: 42px;
        background-color: #fff;
        color: #555C68;
    }
    &.showing-less-tag {
        .tag {
            &:nth-child(n+5) {
                display: none;
            }
        }
    }
}
