@font-face {
    font-family: 'Colfax';
    src: url('/resources/fonts/Colfax-Medium.woff2') format("woff2"),
        url('/resources/fonts/Colfax-Medium.woff') format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Colfax';
    src: url('/resources/fonts/Colfax-Regular.woff2') format("woff2"),
        url('/resources/fonts/Colfax-Regular.woff') format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
a,
div,
strong,
span,
b {
    font-family: "Colfax";
}