
.form-input-group select {
    appearance: none;
}

.form-input-group .icon-field-wrapper {
    position: relative;
}


.form-input-group .icon-field-wrapper .form-input-icon {
    position: absolute;
    z-index: 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
}

.form-input-group .choices__inner:after {
    position: absolute;
    z-index: 0;
    content: "";
    width: 24px;
    height: 24px;
    display: block;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    background: url(../img/arrow-icon.png) no-repeat center;
}


.form-input-group.form-multiselect .choices {
    width: 100%;
}

.form-input-group.form-multiselect .choices:after {
    display: none;
}

.form-input-group.form-multiselect .choices__list--single .choices__button {
    display: none;
}

.form-input-group.form-multiselect .choices__inner {
    min-height: 55px;
    padding-top: 9px;
    padding-right: 35px;
    background: transparent;
    border: solid 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.form-input-group.form-multiselect.has-choice-error .choices__inner {
    border: 2px solid #FF0000 !important;
    box-shadow: 0 0 0 .25rem #ff00001a;
}

.form-input-group.form-multiselect.has-choice-error .choices {
    box-shadow: 0 0 0 .25rem #ff00001a;
    border-radius: 4px;
}

.form-input-group.form-multiselect .is-focused .choices__inner {
    border-color: #0036E3;
    box-shadow: 0 0 0 .25rem rgba(0, 89, 201, .3);
}

.form-input-group.form-multiselect .choices__list--dropdown {
    margin-top: 3px;
    z-index: 2;
    border: none;
    box-shadow: 0px 3px 6px 0px rgba(14, 0, 98, 0.10);
}

.form-input-group.form-multiselect .choices__input {
    background: none;
    font-size: 15px;
    color: #303744;
}

.form-input-group.form-multiselect .choices__list--multiple .choices__item {
    border-color: #0036E3;
    background-color: #0036E3;
}

.form-input-group.form-multiselect .choices__placeholder {
    font-size: 15px;
}

.form-input-group.form-multiselect .choices[data-type*="select-multiple"] .choices__button {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.form-radio-group .form-radio-options {
    display: flex;
    flex-direction: column;
    gap: 8px 15px;
    padding: 5px 0;
}

.form-radio-group.form-radio-inline .form-radio-options {
    flex-direction: row;
}

.form-radio-group.form-radio-inline .form-radio-option {
    /*margin-right: 15px;*/
}

.form-radio-group .form-radio-field {
    background-image: none;
    margin-top: 3px;
    border: 2px solid rgba(0, 0, 0, 0.31);
    width: 20px;
    height: 20px;
}

.form-radio-group .form-radio-label {
    color: #303744;
    font-weight: 500;
    font-size: 14px;
}

.form-radio-group .form-radio-title {
    font-size: 14px;
}

.form-radio-group .form-radio-field:checked {
    background-color: #0036E3;
    border: 2px solid #0036E3;
    box-shadow: 0 0 0 .25rem rgba(0, 89, 201, .2);
}

.form-radio-group {
    margin-bottom: 10px;
}

.form-input-group.form-input-has-icon .form-input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    border: none;
    background: none;
    padding: 0;
    color: rgba(0, 0, 0, 0.25);

}

.form-input-group .form-input-required {
    color: #ff0000;
}

.form-input-group .form-input-has-error {
    border: 2px solid #FF0000 !important;
    box-shadow: 0 0 0 .25rem rgba(255, 0, 0, .1);
}

.form-input-error-message {
    color: #FF0000;
    font-size: 14px;
    margin-top: 8px;
}

/*Button Styles*/
.button {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    transition: all 500ms;
    height: 50px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.button-xs {
    height: 35px;
}

.button-sm {
    width: 250px;
}

.button-lg {
    width: 350px;
}

.button-block {
    width: 100%;
}

.button.button-primary {
    background: #0036E3;
    color: #fff;
    border: solid 2px #0036E3;
}

.button.button-primary:hover {
    background: #fff;
    color: #0036E3;
}

.button.button-outline-primary {
    background: #fff;
    color: #0036E3;
    border: solid 2px #0036E3;
}

.button.button-outline-primary:hover {
    background: #0036E3;
    color: #fff;
}

.link-button {
    background: transparent;
    color: #303744;
    border: none;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 500;
}

.link-button {
    color: rgba(0, 54, 227, 1);
}

.link-button:hover {
    color: #0036E3;
}

/*Button Styles End*/

/*Form error Styles*/
.has-error {
    border: 2px solid #FF0000 !important;
    box-shadow: 0 0 0 .25rem rgba(255, 0, 0, .1);
}

.error-message {
    color: #FF0000;
    font-size: 14px;
    margin-top: 8px;
}

/*Form error Styles End*/

/*FilePond*/
.filepond--root .filepond--panel-root {
    background-color: transparent;
}

.filepond--root {
    border: 2px dashed #ccc;
    border-radius: 5px;
}

.filepond--drop-label label {
    font-size: 14px !important;
    cursor: pointer !important;
}

.filepond--root .filepond--item-panel {
    border-radius: 5px;
    border: 1px solid rgba(0, 89, 201, 0.3);
}

.filepond--root .filepond--file {
    color: #303744;
}

.filepond--root [data-filepond-item-state='processing-complete'] .filepond--item-panel {
    background-color: #F2F6FC;
}

.filepond--root .filepond--item-panel {
    background-color: #ccc;
}

/*FilePond end*/
/*Utility*/
.cursor-pointer {
    cursor: pointer;
}

/*Utility End*/

/*Star Rating style*/
.rating-group {
    display: inline-flex;
    position: relative;
    left: -7px;
}

.rating__icon {
    pointer-events: none;
}

.rating__input {
    position: absolute !important;
    left: -9999px !important;
}

.rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 1rem;
}

.rating__label--half {
    padding-right: 0;
    margin-right: -20px;
    z-index: 2;
}

.rating__icon--star {
    color: #E9B911;
}

.rating__icon--none {
    color: #eee;
}

.rating__input--none:checked + .rating__label .rating__icon--none {
    color: red;
}

.rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
}

.rating-group:hover .rating__label .rating__icon--star,
.rating-group:hover .rating__label--half .rating__icon--star {
    color: #E9B911;
}

.rating__input:hover ~ .rating__label .rating__icon--star,
.rating__input:hover ~ .rating__label--half .rating__icon--star {
    color: #ddd;
}

.rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
    color: #eee;
}

.rating__input--none:hover + .rating__label .rating__icon--none {
    color: red;
}

/*Star Rating style*/
.border-dashed {
    border-style: dashed !important;
}

/*Utility End*/

/*Pagination*/
.pagination .pagination-right ul li {
    border: 2px solid #00000017;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    color: #303744;
    font-weight: 500;
    text-decoration: none;
    border-radius: 4px;
    transition: all .5s;
    font-size: 14px;
    justify-content: center;
}

.pagination .pagination-right ul li svg {
    fill: #191d24;
}

.pagination .pagination-right ul li:hover svg {
    fill: #fff;
}

.pagination .pagination-right ul li:hover {
    background: #0036e3;
    color: #fff;
    cursor: pointer;
}

.pagination .pagination-right ul li.disabled:hover {
    background: inherit;
}

.pagination .pagination-right ul li.active {
    background: #0036e3;
    color: #fff !important;
}

.pagination .pagination-right ul li .hover-icon {
    position: absolute;
    opacity: 0;
}

.pagination .pagination-right ul li:hover .hover-icon {
    opacity: 1;
}

/*Pagination end*/


.form-input-group.password-input .icon-field-wrapper .form-input-icon {
    z-index: 1;
    cursor: pointer;
}

.edux-sidebar-layout {
    display: grid;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 12px 17px 48px 0px rgba(14, 0, 98, 0.1);
    grid-template-columns: auto;
}

.btn-edux-wishlist.show {
    background: #0036E3;
}

.btn-edux-wishlist.show svg path {
    fill: #fff;
}

.edux-custom-table {
    display: table;
    width: auto;
}


.scholarship-database-content-list-item {
    display: grid;
    grid-template-columns: 72px auto 300px;
    gap: 10px;
    padding: 16px 0;
    align-items: center;
    border-bottom: 1px solid #E7E5EF;
}

/*@Abdur Rahman todo move to sass */
.item-has-submenu ul,
.header-dropdown,
.header-search-activated {
    z-index: 2;
}
