/*Button Styles*/
.button{
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    transition: all 500ms;
    height: 50px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}
.button-xs {
    height: 35px;
}
.button-sm{
    width: 250px;
}
.button-lg{
    width: 350px;
}
.button-block{
    width: 100%;
}
.button.button-primary{
    background: #0036E3;
    color: #fff;
    border: solid 2px #0036E3;
}

.button.button-primary:hover{
    background: #fff;
    color: #0036E3;
}

.button.button-outline-primary{
    background: #fff;
    color: #0036E3;
    border: solid 2px #0036E3;
}

.button.button-outline-primary:hover{
    background: #0036E3;
    color: #fff;
}

.link-button{
    background: transparent;
    color: #303744;
    border: none;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 500;
}

.link-button:hover{
    color: #0036E3;
}
/*Button Styles End*/

/*Form error Styles*/
    .has-error{
        border: 2px solid #FF0000!important;
        box-shadow: 0 0 0 .25rem rgba(255, 0, 0, .1);
    }

    .error-message{
        color: #FF0000;
        font-size: 14px;
        margin-top: 8px;
    }
/*Form error Styles End*/

/*FilePond*/
.filepond--root .filepond--panel-root {
    background-color: transparent;
}
.filepond--root {
    border: 2px dashed #ccc;
    border-radius: 5px;
}
.filepond--drop-label label{
    font-size: 14px !important;
    cursor: pointer!important;
}
.filepond--root .filepond--item-panel {
    border-radius: 5px;
    border: 1px solid rgba(0, 89, 201, 0.3);
}
.filepond--root .filepond--file {
    color: #303744;
}
.filepond--root [data-filepond-item-state='processing-complete'] .filepond--item-panel {
    background-color: #F2F6FC;
}
.filepond--root .filepond--item-panel {
    background-color: #ccc;
}
/*FilePond end*/
/*Utility*/
.cursor-pointer{
    cursor: pointer;
}
/*Utility End*/

/*Star Rating style*/
.rating-group {
    display: inline-flex; position: relative;left: -7px;
    }
 
    .rating__icon {
    pointer-events: none;
    } 
    .rating__input {
    position: absolute !important;
    left: -9999px !important;
    }
 
    .rating__label {
    cursor: pointer; 
    padding: 0 0.1em;
    font-size: 1rem;
    }
 
    .rating__label--half {
    padding-right: 0;
    margin-right: -20px;
    z-index: 2;
    } 
    .rating__icon--star {
    color: #E9B911;
    }
 
    .rating__icon--none {
    color: #eee;
    }
 
    .rating__input--none:checked + .rating__label .rating__icon--none {
    color: red;
    }
 
    .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
    }
 
    .rating-group:hover .rating__label .rating__icon--star,
    .rating-group:hover .rating__label--half .rating__icon--star {
    color: #E9B911;
    }
 
    .rating__input:hover ~ .rating__label .rating__icon--star,
    .rating__input:hover ~ .rating__label--half .rating__icon--star {
    color: #ddd;
    }
 
    .rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
    color: #eee;
    }
 
    .rating__input--none:hover + .rating__label .rating__icon--none {
    color: red;
    }
/*Star Rating style*/
.border-dashed{
    border-style: dashed!important;
}
/*Utility End*/
