/* ================ Header start Here =========== */
header.expert-header {
    margin-top: 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 26px 24px;
  }
  .top-nav-area {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 44px;
  }
  .top-search-area {
    display: flex;
    align-items: center;
    gap: 56px;
  }
  /* ================= Menu Start ============ */
  .nav-area {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .nav-area ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 24px;
  }
  
  .nav-area ul li {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .nav-area ul li:last-child{
    margin-right: 0;
  }
  
  li.active, a.active{
    color:#0036E3 !important;
  }
  
  .nav-area ul li a{
    text-decoration: none;
    color: #303744;
    font-family: Colfax;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
  
  }
  
  .avatar img {
    border: 2px solid #D9D9D9;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background-color: rgba(0, 54, 227, 0.1411764706);
  }
  
  button.top-search {
    background: #EBEFF7;
    color: #191D24;
    font-size: 14px;
    border-radius: 0;
  }
  
  button.no-hover{
    background: transparent !important;
    color:#303744 !important; 
    font-family: Colfax;
    font-size: 16px;
    font-weight: 400;
    display: flex;
  }
  button.no-hover::after{
    display: none;
  }
  /* ================= Menu End ============ */
  
  
  /* ================ Header start Here =========== */
  
  
  
  
  .setting-area {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .setting-area .msg, .setting-area .noti{
    position: relative;
    width: 32px;
    height: 32px;
    border:2px solid #E7E5EF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .setting-area .msg a, .setting-area .noti a{
    line-height: 0;
  }
  .setting-area .msg img, .setting-area .noti img{
    width: 16px;
    height: 16px;
  }
  .input-group-text-search {
  
    background-color: #0036E3;
  
  
  }
  
  .setting-area-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 55px;
  }
  
  .search-input-group{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    max-width: 404px !important;
  }
  
  .header-top-navbar .navbar {
    padding: 27px 64px;
  }
  
  a.cl-nav-link {
    color: #000 !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  li.nav-item {
    display: flex;
  }
  
  .form-control-search{
    background: transparent !important;
    border: 1px solid #ddd !important;
  }
  .form-control-search::placeholder{
    color: #303744
  }
  
  .header-bar{
    width: 100%;
    height: 57px;
    border: 1px, 0px, 1px, 0px;
    background: linear-gradient(0deg, rgba(14, 0, 98, 0.1), rgba(14, 0, 98, 0.1)),
    linear-gradient(0deg, #0036E3, #0036E3);
    border-width: 1px, 0px, 1px, 0px;
    border-style: solid;
    border-color: rgba(14, 0, 98, 0.1);
    display: flex;
    align-items: center;
  }
  
  .header-bar nav {
    display: flex;
    width: 100%;
    padding: 0px 265px;
  }
  .header-bar nav ul {
    margin-bottom: 0px;
    display: flex;
    gap: 24px;
    padding-left: 0px;
  }
  .header-bar nav ul li{
    list-style: none;
    position: relative;
  }
  a.active-icon {
    border-bottom: 2px solid #fff;
  }
  
  span.material-symbols-outlined.active {
    position: absolute;
    top: -40px;
    color: #0036E3;
    width: 32px;
    height: 32px;
    font-size: 40px;
    left: 20px;
  }
  .header-bar nav ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Colfax;
    font-size: 14px;
    font-weight: 500;
  
  
  }
  .setting-area span.badge {
    position: absolute;
    height: 16px;
    width: 16px;
    right: -5px;
    top: -6px;
    padding: 2px 4px;
    font-size: 8px;
    font-weight: 700;
    background-color: #FF0000;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
  }

  .top-search-area .form-control{
    border:none;
  }


  
  @media only screen and (min-width: 1920px)  {
    .top-nav-area{
        gap:63px;
    }
    .nav-area ul li {
        margin-right: 24px;
      }
      .search-area{
        width: 404px;
      }
      .search-area .input-group{
        height: 56px;
      }
      button.top-search {
        width: 50px;
      }
      .setting-area .avatar, .setting-area .msg, .setting-area .noti{
        width: 44px;
        height: 44px;
      }
      .setting-area .avatar img{
        width: 44px;
        height: 44px;
      }
      .setting-area .msg img, .setting-area .noti img{
        width: 20px;
        height: 20px;
      }
      .setting-area span.badge{
        width: 22px;
        height: 22px;
        right: -8px;
        font-size: 11px;
      }
      .search-area button.dropdown-toggle{
        display: flex;
        align-items: center;
      }
      .search-area button.dropdown-toggle::before {
        content: "";
        position: absolute;
        height: 34px;
        width: 1px;
        background: #0E00621A;
        top: 10px;
        left: 0;
    }
  }
  