.card {
    position: relative;
    overflow: hidden;
    border-radius: 0;
}

.card .job-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    color: black;
    background-color: white;
    margin-bottom: 0;
}
.job-cat:hover {
    opacity: 0.75;
}
.job-title .fre-job-catagory:hover {
    color: red !important;
}

.skill {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.skill li {
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    color: #333;
}
.skill li :hover {
    background-color: #275846;
    color: #fff;
}
.skill li :hover-pointer {
    cursor: pointer;
}

@media only screen and (min-width: 320px) {
    .text-primary.mt-2.fs-20 {
        font-size: 14px !important;
    }
    p.mt-3.fs-16.text-justify.mobile-text {
        font-size: 11px !important;
        height: 150px !important;
    }
    .mt-3.fs-16.text-justify {
        font-size: 11px !important;
        height: 160px !important;
    }
    .fs-16.text-justify.mobile-text {
        font-size: 11px !important;
        height: 110px !important;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    .text-primary.mt-2.fs-20 {
        font-size: 1.25rem !important;
    }
    p.mt-3.fs-16.text-justify.mobile-text {
        font-size: 1rem !important;
        height: 160px !important;
    }
    .mt-3.fs-16.text-justify {
        font-size: 1rem !important;
        height: 160px !important;
    }
    .fs-16.text-justify.mobile-text {
        font-size: 1rem !important;
        height: 130px !important;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    .text-primary.mt-2.fs-20 {
        font-size: 1.25rem !important;
    }
    p.mt-3.fs-16.text-justify.mobile-text {
        font-size: 11px !important;
        height: 135px !important;
    }
    .mt-3.fs-16.text-justify {
        font-size: 1rem !important;
        height: 160px !important;
    }
    .fs-16.text-justify.mobile-text {
        font-size: 11px !important;
        height: 102px !important;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px)  {
    .text-primary.mt-2.fs-20 {
        font-size: 1.25rem !important;
    }
    p.mt-3.fs-16.text-justify.mobile-text {
        font-size: 14px !important;
        height: 180px !important;
    }
    .mt-3.fs-16.text-justify {
        font-size: 1rem !important;
        height: 160px !important;
    }
    .fs-16.text-justify.mobile-text {
        font-size: 14px !important;
        height: 150px !important;
    }
   
}
@media only screen and (min-width: 1200px)  {
    
    .main-content {
        margin-left: 275px !important;
        margin-right: 275px !important;
    }
}
