/*your custom css goes here*/

.dropdown-menu {
    max-width: unset;
}

.aiz-navbar .menu a {
    font-size: 15px;
}

.aiz-main-wrapper {
    overflow-x: unset;
  }
/* why scholarship - review */

#ch {
    display: none;
}
#leave {
    display: none;
}
#contest {
    display: none;
}
#ch:checked ~ label{
    display: none;
}
#ch:checked ~ .content{
    display: block;
}
#leave:checked ~ label{
    display: none;
}
#leave:checked ~ .content{
    display: block;
}
#contest:checked ~ label{
    display: none;
}
#contest:checked ~ .content{
    display: block;
}
.content{
    display: none;
}
label{
    display: inline-block;
    cursor: pointer;
    margin: 0;
    color:rgb(77, 95, 230) ;
    font-size: 15px;
    margin-bottom: 10px;

}
p{
    margin: 0 !important;
    font-size: 16px;
}
.joinscholarship{
    cursor:pointer;
}
.joinscholarship:hover{
    background: #1C51AF;
}
.get-work-title{
    margin-bottom: 25px;
    color: black;
    width: 600px;
}
.approvalHead{
    font-size: 22px;
    font-weight: bold;
    color:#5E6D60;

}
.approvalCheckMark{
    font-size: 18px;
    font-weight: bold;
    color:#5E6D60;


}
.trusted-main{
    display: flex;
    align-items: center;
    margin-top: 110px;
    height: 70px;
}
.trusted{
    margin-bottom: 0 !important;
    text-align: center;
    font-size: 20px;
    align-items: center;
    margin-right: 30px;

}
/* how-to-find-job */
.img-works{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.blog-img{
    height: 225px;
    margin-bottom: 0;
}
.Explore-blog-card{
    border-radius: 0 0 10px 10px;
}
.payments-img{
    border-radius: 0px 10px  10px 0;
}
#buildingBusiness {
    display: none;
}
#ch:checked ~ .buildingBusiness{
    display: block;
}
#buildingBusiness:checked ~ label{
    display: none;
}
