/*your custom css goes here*/

.dropdown-menu {
    max-width: unset;
}

.aiz-navbar .menu a {
    font-size: 15px;
}

.aiz-main-wrapper {
    overflow-x: unset;
}
/* why scholarship - review */

.fre-review-banner-title {
    letter-spacing: -0.035em;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: Upworkrza, sans-serif;
    font-size: 56px;
    font-weight: 400;
    line-height: 1em;
}
.fre-review-banner-text {
    padding-bottom: 35px;
    font-size: 18px;
    line-height: 22px;
    color: #5e6d55;
}
.fre-review-per-week-title {
    color: #001e00;
    letter-spacing: -0.032em;
    margin-top: 0;
    margin-bottom: 0px;
    font-family: Upworkrza, sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 1em;
    width: 50%;
}
.fre-review-clients {
    color: #001e00;
    letter-spacing: -0.02em;
    margin-bottom: 10px;
    font-family: Neuemontreal, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.1em;
}
.fre-review-they-say-topic {
    color: #001e00;
    font-size: 20px;
    padding: 5px 0;
    font-weight: 500;
    cursor: pointer;
}
.fre-tye-review-saying-topic {
    background-color: #f2f7f2;
    border-radius: 15px;
    padding: 8.5px 15px;
    font-size: 12px;
    line-height: 13px;
}
.fre-review-they-say-topic:hover {
    color: #1f57c3;
}

.fre-review-say-customer {
    height: 80vh !important;
    overflow: hidden;
    overflow-y: scroll;
}
.fre-review-say-customer-topic {
}
.fre-review-details {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fre-review-details h5 {
    color: #001e00;
    font-size: 30px;
    font-weight: 700;
}
.fre-review-details p {
    color: #5e6d55;
    font-size: 30px;
    font-weight: 700;
}
.fre-review-work-done {
    width: 84%;
    margin: 50px 8% 0 8%;
}
.fre-review-work-done h3 {
    color: #001e00;
    letter-spacing: -0.032em;
    margin-top: 0;
    margin-bottom: 25px;
    padding-bottom: 20px;
    font-family: Upworkrza, sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 1em;
}
.fre-review-work-done-card h4 {
    color: #001e00;
    letter-spacing: -0.004em;
    margin-bottom: 40px;
    font-family: Neuemontreal, sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 1.1em;
}
.fre-review-work-done-read {
    color: #1f57c3;
    font-family: Neuemontreal, sans-serif;
    font-weight: 700;
    text-decoration: underline;
    font-size: 16px;
    letter-spacing: 0.6px;
}
.fre-review-work-done-card img {
    z-index: 2;
    width: 13px;
    height: 15px;
    margin-left: 2px;
    position: relative;
    font-size: 20px;
    font-weight: 500;
}
.fre-review-explore-worldwide-title {
    color: #001e00;
    letter-spacing: -0.032em;
    margin-top: 0;
    margin-bottom: 25px;
    font-family: Upworkrza, sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 1em;
}
.fre-review-explore-worldwide-topic h5 {
    display: inline-block;
    width: 220px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    cursor: pointer;
    font-size: 16px;
}
.fre-review-explore-worldwide-topic h5:hover {
    color: #1f57c3;
}
.fre-review-say-other-way-title {
    color: #001e00;
    letter-spacing: -0.032em;
    margin-top: 0;
    margin-bottom: 15px;
    padding-bottom: 20px;
    font-family: Upworkrza, sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 1em;
}
.fre-review-say-other-way-card-text {
    color: #001e00;
    letter-spacing: -0.004em;
    margin-bottom: 40px;
    font-family: Neuemontreal, sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 1.1em;
}
.fre-review-get-started-title {
    color: #001e00;
    letter-spacing: -0.032em;
    margin-top: 0;
    margin-bottom: 25px;
    font-family: Upworkrza, sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 1em;
}
.fre-rv-find-work-bar {
    transition: all 0.2s;
    /* border: none !important; */
    margin-right: 5px !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: gray !important;
    position: relative;
}
.fre-rv-find-work-bar::after {
    content: " ";
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: #58b38d;
    position: absolute;
    bottom: 0;
    left: 0;
}
.fre-rv-find-work-bar:hover::after {
    opacity: 1;
}
.fre-rv-find-work-bar::active {
    content: " ";
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
}
.fre-review-hf-card-title {
    color: #222;
    margin-bottom: 5px;
    font-weight: 500;
    letter-spacing: 0.6px;
    font-family: Neuemontreal, sans-serif;
    font-size: 18px;
    line-height: 22px;
}
.fre-review-say-customer-review {
    width: 100%;
    color: #001e00;
    letter-spacing: -0.6px;
    font-family: Neuemontreal, sans-serif;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 20px;
    font-weight: 500;
}
.fre-review-hf-card-text {
    color: #5e6d55;
    letter-spacing: 0.6px;
    font-family: Neuemontreal, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
.fre-join-scholarship-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px 20px;
}
.fre-join-scholarship-btn:hover {
    background: #1c51af;
}
.fre-container-main-powerful {
    width: 84%;
    margin: 100px 8% 80px 8%;
}

#fre-ch {
    display: none;
}
#fre-leave {
    display: none;
}
#fre-contest {
    display: none;
}
#fre-ch:checked ~ label {
    display: none;
}
#fre-ch:checked ~ .fre-content {
    display: block;
}
#fre-leave:checked ~ label {
    display: none;
}
#fre-leave:checked ~ .fre-content {
    display: block;
}
#fre-contest:checked ~ label {
    display: none;
}
#fre-contest:checked ~ .fre-content {
    display: block;
}
.fre-content {
    display: none;
}
.fre-expand-icon {
    display: inline-block;
    cursor: pointer;
    margin: 0;
    color: rgb(77, 95, 230);
    font-size: 15px;
    margin-bottom: 10px;
}

.get-work-title {
    margin-bottom: 25px;
    color: black;
    width: 600px;
}
.approvalHead {
    letter-spacing: -0.02em;
    margin-bottom: 10px;
    font-family: Neuemontreal, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.1em;
    color: #5e6d55;
}
.approvalCheckMark {
    font-size: 18px;
    font-weight: bold;
    color: #5e6d60;
}
.trusted-main {
    margin: 110px 0 0px 0;
    height: 70px;
}
.trusted {
    color: #5e6d55;
    letter-spacing: 0.6px;
    font-family: Neuemontreal, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-top: 10px;
}
/* How to hire */
.how-to-hire-banner-title {
    letter-spacing: -0.035em;
    margin-top: 0;
    padding-bottom: 15px;
    font-family: Upworkrza, sans-serif;
    font-size: 56px;
    font-weight: 400;
    line-height: 1em;
}
.how-to-hire-banner-text {
    padding-bottom: 35px;
    font-size: 18px;
    line-height: 22px;
    color: #001e00;
}
.hth-lets-work-title {
    color: #001e00;
    letter-spacing: -0.032em;
    margin-top: 0;
    margin-bottom: 25px;
    font-family: Upworkrza, sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 1em;
}
.hth-lets-work-text {
    color: #5e6d55;
    letter-spacing: 0.6px;
    font-family: Neuemontreal, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    width: 60%;
}
.get-work-child-title {
    color: #001e00;
    letter-spacing: -0.032em;
    font-family: Upworkrza, sans-serif;
    font-weight: 400;
    margin-bottom: 5px;
}
.get-work-child-text {
    color: #5e6d55;
    letter-spacing: -0.02em;
    margin-bottom: 10px;
    font-family: Neuemontreal, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.1em;
}
.get-work-child-details {
    color: #5e6d55;
    letter-spacing: 0.6px;
    font-family: Neuemontreal, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
.hth-safe-us {
    color: #001e00;
    margin-bottom: 5px;
    letter-spacing: -0.032em;
    font-family: Upworkrza, sans-serif;
    font-weight: 400;
}
.hth-safe-text {
    letter-spacing: -0.004em;
    margin-bottom: 10px;
    font-family: Neuemontreal, sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.1em;
    max-width: 300px;
    margin-bottom: 15px;
    color: #5e6d55;
}
.hth-safe-text {
    letter-spacing: -0.004em;
    margin-bottom: 10px;
    font-family: Neuemontreal, sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.1em;
    margin-bottom: 15px;
    color: #5e6d55;
}
.hth-profile-active {
    bottom: -10 !important;
    margin: 10px 0 0 10px;
}

/* how-to-find-job */
.find-job-banner p {
    color: black;
    font-size: 18px;

    padding-bottom: 30px;
    padding-top: 10px;
}
.find-job-banner-title {
    font-size: 56px;
    font-weight: 700;
}
.find-job-banner-rating-section {
    bottom: 0px;
    width: 94%;
    margin: 0 2 0 2;
}
.find-job-banner-rating-section p {
    color: #5e6d55;
    letter-spacing: -0.02em;
    margin-bottom: 10px;
    font-family: Neuemontreal, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.1em;
}
.find-job-banner-rating {
    margin-top: 9px;
}
.find-job-banner-star {
    display: flex;
    justify-content: center;
    align-items: center;
}
.find-job-banner-star p {
    padding: 0 !important;
    font-family: Neuemontreal, sans-serif;
    font-size: 30px;
    font-weight: 500;
}
.find-job-banner-total-review {
    color: #65735b !important;
    font-weight: bold !important;
    font-size: 18px !important;
    font-weight: 500 !important;
}
.img-works {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
/* .blog-img {
    height: 225px;
    margin-bottom: 0;
} */
/* .Explore-blog-card {
    border-radius: 0 0 10px 10px;
} */
.htfj-learn-work-title {
    color: #001e00;
    letter-spacing: -0.032em;
    margin-top: 0;

    font-family: Upworkrza, sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 1em;
}
.htfj-learn-work-child-title {
    color: #001e00;
    letter-spacing: -0.006em;
    font-family: Neuemontreal, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 1em;
}
.payments-img {
    border-radius: 0px 10px 10px 0;
}
/* How it works */
.container-main {
    width: 84%;
    margin: 100px 8% 0 8%;
}
.how-work-title {
    color: #001e00;
    letter-spacing: -0.03em;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 500;
    line-height: 1em;
}
.how-work-details {
    color: #5e6d55;
    letter-spacing: 0.6px;
    font-family: Neuemontreal, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

/* Explore ways to earn */
.explore-title {
    color: #001e00;
    letter-spacing: -0.032em;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: Upworkrza, sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 1em;
}
.explore-find-oppor {
    margin-top: 80px;
    margin-bottom: 80px;
}
.explore-find-oppor-title {
    color: #001e00;
    letter-spacing: -0.03em;
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 500;
    line-height: 1em;
}
.explore-find-oppor-details {
    color: #5e6d55;
    letter-spacing: 0.6px;
    font-family: Neuemontreal, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

/* How payments work */
.payment-work-main-title {
    color: #001e00;
    letter-spacing: -0.032em;
    margin-top: 0;
    margin-bottom: 25px;
    font-family: Upworkrza, sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 1em;
}
.payment-work-main-details {
    color: #5e6d55;
    letter-spacing: 0.6px;
    font-family: Neuemontreal, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
.payment-work-child-title {
    color: #001e00;
    letter-spacing: -0.02em;
    margin-bottom: 10px;
    font-family: Neuemontreal, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.1em;
}
.payment-work-child-details {
    color: #5e6d55;
    letter-spacing: 0.6px;
    font-family: Neuemontreal, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
.payment-work-child-details-percent {
    color: #5e6d55;
    letter-spacing: 0.6px;
    font-family: Neuemontreal, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin: 10px 0;
}
.learn-service {
    color: #1f57c3;
    font-family: Neuemontreal, sans-serif;
    font-weight: 500;
    font-size: 20px;
}

/* Frequently asked questions */
.container-main-freQus {
    width: 84%;
    margin: 100px 8% 95px 8%;
}
.frequently-qsn-main-title {
    color: #001e00;
    letter-spacing: -0.032em;
    font-family: Upworkrza, sans-serif;
    font-weight: 400;
    font-size: 38px;
}
.frequently-qsn-title {
    color: #001e00;
    letter-spacing: -0.02em;
    margin-bottom: 10px;
    font-family: Neuemontreal, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.1em;
}
.frequently-qsn-details {
    color: #5e6d55;
    letter-spacing: 0.6px;
    font-family: Neuemontreal, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 10px;
}
.fre-content {
    color: #5e6d55;
    letter-spacing: 0.6px;
    font-family: Neuemontreal, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

#fre-buildingBusiness {
    display: none;
}
#fre-buildingBusiness:checked ~ .fre-content {
    display: block;
}
#fre-buildingBusiness:checked ~ label {
    display: none;
}
fre-badges {
    display: none;
}
fre-badges:checked ~ .fre-content {
    display: block;
    color: #5e6d55;
    letter-spacing: 0.6px;
    font-family: Neuemontreal, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
fre-badges:checked ~ label {
    display: none;
}
#fre-Connects {
    display: none;
}
#fre-Connects:checked ~ .fre-content {
    display: block;
}
#fre-Connects:checked ~ label {
    display: none;
}
#fre-freelancing {
    display: none;
}
#fre-freelancing:checked ~ .fre-content {
    display: block;
}
#fre-freelancing:checked ~ label {
    display: none;
}
