:root {
  --primary: #0036E3;
  --success: #369450;
  --white: #ffffff;
  --heading-color: #303744;
  --dark: #191D24;
  --border-color: rgba(14, 0, 98, 0.10);
  --white: #ffffff;
}

.h1 {
  font-size: 2.875rem;
  font-weight: 600;
  color: var(--heading-color);
}

h2, .h2 {
  font-size: 2.25rem;
  font-weight: 600;
  color: var(--heading-color);
}

h3, .h3 {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--heading-color);
}

h4, .h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

h5, .h5 {
  font-size: 1.25rem;
}

.lead-lg {
  font-size: 1.375rem;
}

.lead-sm {
  font-size: 1.125rem;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-15 {
  font-size: 0.937rem !important;
}

.bg-light {
  background-color: rgba(1, 59, 69, 0.05) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-dark {
  background-color: var(--dark) !important;
}

.transition {
  transition: all 0.3s ease-in-out;
}

.text-primary {
  color: var(--primary) !important;
}

.text-dark {
  color: var(--heading-color) !important;
}

.text-black {
  color: var(--dark) !important;
}

.text-muted {
  color: rgba(25, 29, 36, 0.7) !important;
}

.fw-medium {
  font-weight: 500 !important;
}

.fw-semibold {
  font-weight: 600;
}

.text-justify {
  text-align: justify;
}

.bgi {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.spacing-x {
  letter-spacing: 2px;
}

.spacing-x-1 {
  letter-spacing: 1px;
}

.link {
  color: var(--primary);
  cursor: pointer;
  word-wrap: break-word;
  text-decoration: none;
}
.link:hover {
  color: var(--dark);
}

a {
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  color: #191D24;
}
a:hover {
  color: var(--primary);
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}
ul li {
  list-style-type: none;
}

.btn:focus, .form-control:focus, .form-select:focus, .form-check-input:focus {
  box-shadow: none;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--primary);
  border: 2px solid var(--primary);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: var(--white);
  border-color: var(--primary);
  color: var(--primary);
}

.btn-outline-primary {
  border-color: var(--primary);
  color: var(--primary);
}
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--white) !important;
}

.btn-outline-white {
  border-color: var(--white);
  color: var(--white);
}
.btn-outline-white:hover, .btn-outline-white:focus, .btn-outline-white:active {
  background-color: var(--white);
  border-color: var(--white);
  color: var(--primary) !important;
}

.btn-outline-dark {
  border-color: var(--btn-bg);
  color: var(--white);
  background-color: var(--btn-bg);
}
.btn-outline-dark:hover, .btn-outline-dark:focus, .btn-outline-dark:active {
  background-color: var(--white);
  border-color: var(--btn-bg);
  color: var(--primary) !important;
}

.btn-white {
  background-color: #fff;
  border-color: #fff;
  color: var(--dark);
}
.btn-white:hover, .btn-white:focus {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--white);
}
.btn-white:hover svg, .btn-white:focus svg {
  color: var(--white);
}

.find-consultant-details {margin-top:50px; margin-bottom: 100px;}
.find-consultant-details > .container > .row .col-md-4 {width: 32%;}
.find-consultant-details > .container > .row > .col-md-8 {width: 68%;}

.find-consultant-details > .container > .row {
    box-shadow: 12px 17px 48px 0px #0e00621a;
    border: solid 1px #0E00621A;
    border-radius: 7px;
    margin: 0;
    display: flex;
}
.consultant-left {
  padding: 30px;
  height: 100%;
  background-color: #FCFCFF;
  border-radius: 7px 0px 0px 7px;
  border-right: 2px solid rgba(14, 0, 98, 0.10);
}
.consultant-left .consultant-left-block {text-align: center;margin-bottom: 25px;}
.consultant-left .consultant-left-block img{
    width: 168px;
    height: 168px;
}
.consultant-left .consultant-left-sydney {text-align: center;}
.consultant-left .consultant-left-sydney ul {padding: 0;margin: 0;}
.consultant-left .consultant-left-sydney li {font-family: 'Public Sans', sans-serif; color: #303744;font-size: 14px;font-weight: 500;}
.consultant-left .consultant-left-sydney li img {margin-right: 5px;}
.consultant-left .consultant-left-block h3 {color: #303744;font-size: 23px;font-weight: 500;margin: 10px 0 5px;}
.consultant-left .consultant-left-block p {margin: 0 0 3px;font-size: 16px;color: #303744B2;}
.consultant-left .consultant-left-block h5 {margin: 0;font-size: 16px;font-weight: 400;color: #0036E3;}

.consultant-right{
  margin-top: 30px;
  padding-left: 24px;
  padding-right: 41px;
}
.consultant-right .consultant-d .consultant-d-left {display: flex;align-items: center;}
.consultant-right .consultant-d .consultant-d-left h3 {margin: 0;flex-grow: 1;font-size: 23px;font-weight: 500;}
.consultant-right .consultant-d .consultant-d-left p {margin: 0;color: #303744;font-size: 16px;font-weight: 500;}
.consultant-right .consultant-d .consultant-d-left {display: flex;align-items: center;margin-bottom: 20px;}
.consultant-right .consultant-d p {color: #303744;font-size: 16px;line-height: 25px;margin-bottom: 0;}

.consultant-left .consultant-left-block h3 {font-size: 18px;}
.consultant-right .consultant-d p {font-size: 16px;line-height: 23px;}
.consultant-right .consultant-d p a{
  font-weight: 500;
  color: #0036E3;
}
.consultant-d, .consultant-work, .consultant-tab, .consultant-testimonial {padding: 24px 0px;}
.consultant-right .consultant-d .consultant-d-left h3 {font-size: 20px;}

.consultant-l h3 {color: #303744;font-size: 16px;font-weight: 500;}
.consultant-l.languages p {margin-bottom: 0;display: flex;align-items: center;font-size: 14px;font-weight: 500;color: #303744;}
.consultant-l.languages img {margin-right: 7px;}
.consultant-l.expertise ul {padding: 0;margin: 0;}
.consultant-l.expertise ul li {display: inline-block;}
.consultant-l.expertise ul li a {font-size: 14px;font-weight: 500;color: #0036E3;text-decoration: none;border: solid 1px #0036E3;border-radius: 50px;padding: 0 12px;display: inline-block;margin: 0 3px 6px 0;transition: all 500ms;height: 26px;line-height: 26px;}
.consultant-l.expertise ul li a:hover {background:#0036E3;color: #fff;}
.consultant-l.education p {font-size: 14px;color: #303744;line-height: 22px;margin-bottom: 10px;font-weight: 500;}
.consultant-l.education p span {display: block;font-weight: 400;}
.consultant-l.profile p {margin-bottom: 0;}
.consultant-l.profile p a {
font-family: Public Sans;
font-style: normal;
font-weight: 400;
line-height: 22px;
text-decoration-line: underline;
color: #303744;
font-size: 14px;
}
.consultant-l {margin-bottom: 25px;}
.consultant-l:last-child {margin-bottom: 0;}
.consultant-l.profile p a:hover {color: #0036E3;}


.profile__box {
  width: 10rem;height: 10rem; 
  background: rgba(0, 54, 227, 0.14);
}

.profile__box img { width: 10rem;height: 10rem;object-fit: cover;object-position: top; }
.profile__box .upload__btn { cursor: pointer;background-color: #191D24; }
.profile__box .upload__btn:hover { background-color: #0036E3; }

.edit__fab__btn { width: 2rem;height: 2rem;border: 2px solid #0E00621A;background-color: #fff; }
.edit__fab__btn:hover, .edit__fab__btn:focus, .edit__fab__btn:active { border-color: 2px solid #0E00621A;background-color: #0E00621A; }

.portfolio__card .title a {font-family: 'Public Sans', sans-serif; font-weight: 600; color: #303744;text-decoration: none; }
.portfolio__card .title a:hover { color: #0036E3;text-decoration: underline; }
.portfolio__card .tags span { color: #0036E3;font-size: 11px;font-weight: 600;padding: .25rem .5rem;border-radius: 3rem;font-family: 'Public Sans', sans-serif;border: 1px solid #0036E3;display: inline-block;  }
.portfolio__card .hovered__action__box { border-radius: 4px;background: rgba(0, 0, 0, 0.58);opacity: 0;visibility: hidden;transition: all .3s ease-in-out; }
.portfolio__card .hovered__action__box .edit__fab__btn:hover,
.portfolio__card .hovered__action__box .edit__fab__btn:focus,
.portfolio__card .hovered__action__box .edit__fab__btn:active { background: #ddd; }
.portfolio__card:hover .hovered__action__box { opacity: 1;visibility: visible; }
.owl-carousel .owl-item .portfolio__card img{
height: 248px;
}

.consultant-prof h3 {font-size: 19px;font-weight: 500;color: #303744;margin-bottom: 15px;}
.consultant-prof .prof-img {text-align: center;}
.consultant-prof .prof-img img {width: 100%;}
.consultant-prof .prof-img h4 {font-family: 'Public Sans', sans-serif;margin: 12px 0 0;font-size: 16px;font-weight: 600;color: #000000;}
.consultant-prof .prof-text .prof-expart {display: flex;}
.consultant-prof .prof-text .prof-expart ul {flex-grow: 1;padding: 0;margin: 0;}
.consultant-prof .prof-text .prof-expart ul li {display: inline-block;color: #303744;font-family: 'Public Sans', sans-serif;font-size: 16px;font-weight: 700;}
.consultant-prof .prof-text .prof-expart ul li a {font-family: 'Public Sans', sans-serif; font-size: 14px;font-weight: 500;color: #0036E3;text-decoration: none;border: solid 1px #0036E3;border-radius: 50px;padding: 0 12px;display: inline-block;margin: 0 0 0 2px;transition: all 500ms;height: 26px;line-height: 26px;}
.consultant-prof .prof-text .prof-expart ul li a:hover {background:#0036E3;color: #fff;}
.consultant-prof .prof-text .prof-expart p {font-family: 'Public Sans', sans-serif; margin: 0;color: #303744;font-size: 14px;font-weight: 500;}
.consultant-prof .prof-text .profp1 {color: #303744B2;font-size: 16px;line-height: 25px;margin: 15px 0;}
.consultant-prof .prof-text .profp1 span {color: #000000;}
.consultant-prof .prof-text .profip2 {font-family: 'Public Sans', sans-serif;font-size: 14px;color: #303744;}
.consultant-prof .prof-text .profip2 a {color: #0036E3;font-weight: 500;}
.consultant-prof .prof-text .profip2 a:hover {color: #303744;}
.consultant-prof .consultant-prof1 {border: solid 1px #0000001A;border-radius: 8px;padding: 22px;margin-bottom: 25px;}
.consultant-prof .consultant-prof1:last-child {margin-bottom: 0;}
.consultant-prof {margin: 40px 0;}

.consultant-work {border: solid 1px #0000001A;border-radius: 8px;padding: 24px 32px;}
.consultant-work h3 {display: flex;align-items: center;margin: 0 0 20px;color: #303744;font-size: 23px;font-weight: 500;}
.consultant-work h3 img {margin-right: 10px;}
.consultant-work button i.fa-plus{
  color: #0036E3;
  font-size: 20px;
}
.consultant-work-b h4 {color: #303744;font-size: 19px;font-weight: 500;}
.consultant-work-b h5 {font-family: 'Public Sans', sans-serif;color: #303744B2;font-weight: 400;font-size: 16px;margin: 0 0 20px; font-style: italic;}
.consultant-work-b h5 strong {font-weight: 500;color: #303744;margin-left: 15px;}
.consultant-work-b p {font-family: 'Public Sans', sans-serif;color: #303744;font-size: 16px;line-height: 25px;margin-bottom: 15px;}
.consultant-work-b p:last-child {margin-bottom: 0;}
.consultant-work-b {border-bottom: solid 1px #0000001A;padding-bottom: 20px;margin-bottom: 25px;}
.consultant-work-b:last-child {padding-bottom: 0;margin-bottom: 0;border: none;}

.consultant-tab {border: solid 1px #0000001A;border-radius: 8px;padding: 24px 32px;margin: 40px 0;}
.consultant-tab .nav-tabs {border: none;align-items: center;}
.consultant-tab .nav-tabs li {float: none;display: inline-block;margin: 0;}
.consultant-tab .nav-tabs li button {color: #303744;font-size: 23px;font-weight: 500;border: none;margin: 0;padding: 0;background: none;}
.consultant-tab .nav-tabs button.active  {font-family: 'Public Sans', sans-serif;color: #0036E3;border-bottom: solid 2px #275846;font-weight: 700;}
.consultant-tab .tab-content {border-top: solid 1px #dadceb;padding-top: 25px;}
.consultant-tab .nav-tabs span {color: #303744;font-size: 23px;font-weight: 500;margin: 0 20px;}
.consultant-tab .nav-tabs img {margin-right: 10px;}

.consultant-testimonial {border: solid 1px #0000001A;border-radius: 8px;padding: 24px 32px;margin-bottom: 56px;}
.consultant-testimonial h3 {display: flex;align-items: center;margin-bottom: 30px;color: #303744;font-size: 23px;font-weight: 500;}
.consultant-testimonial h3 img {margin-right: 10px;}
.consultant-testimonial p {font-family: 'Public Sans', sans-serif;font-size: 16px;color: #303744;font-style: italic;line-height: 25px;margin-bottom: 0;}
.consultant-testimonial .testimonial-block h4 {font-family: 'Public Sans', sans-serif;color: #303744;font-size: 16px;font-weight: 500;margin-bottom: 3px;}
.consultant-testimonial .testimonial-block p {font-family: 'Public Sans', sans-serif;color: #303744B5;font-size: 14px;font-style: normal;}
.consultant-testimonial .testimonial-text {border-bottom: solid 1px #00000017;padding-bottom: 30px;margin-bottom: 30px;margin-top: 18px;}
.consultant-testimonial .testimonial-block .testimonial-img {margin-right: 15px;}
.consultant-testimonial .testimonialnone {margin: 0;padding: 0;border: none;} 
.consultant-testimonial .testimonial-text .testimonial-block {display: flex;align-items: center;margin-top: 18px;}
.consultant-testimonial .testimonial-button {text-align: center;margin-top: 20px;}
.consultant-testimonial .testimonial-button a {font-family: 'Public Sans', sans-serif;font-size: 16px;color: #0036E3;font-weight: 600;display: inline-block;text-decoration: none;line-height: normal;border-bottom: solid 1px #275846;padding-bottom: 2px;}
.consultant-testimonial .testimonial-button a:hover {color: #303744;}
.consultant-testimonial .testimonial-button a .fa {margin-left: 10px;}

.billing-method {margin-bottom: 100px;}
.billing-method .container {max-width: 1090px;}
.billing-method  .billing-left .Select-billing h3 {color: #303744;font-size: 23px;font-weight: 500;}
.billing-method .billing-left .Select-billing p {font-size: 16px;font-weight: 400;line-height: 25px;margin: 0;}
.billing-method .billing-left .Select-billing {margin-bottom: 40px;}
.billing-method .Select-billing-pay ul {padding: 16px 24px;margin: 0;background: #0059C90D;border: solid 1px #0059C94D;border-radius: 4px;}
.billing-method .Select-billing-pay ul li {display: flex;align-items: center;margin-bottom: 10px;}
.billing-method .Select-billing-pay ul li p {margin: 0;font-size: 15px;font-weight: 500;color: #303744;}
.billing-method .Select-billing-pay ul li a {font-size: 14px;font-weight: 500;color: #0036E3;text-decoration: none;border: solid 2px #0036E3;border-radius: 50px;padding: 2px 16px;margin-left: 30px;transition: all 500ms;}
.billing-method .Select-billing-pay ul li a:hover {background:#0036E3;color: #fff;}
.billing-method .Select-billing-pay ul li input[type="radio"] {width: 20px;height: 20px;margin-right: 10px;}
.billing-method .Select-billing-pay ul li p img {margin-right: 10px;}
.billing-method .Select-billing-pay ul li:last-child {margin-bottom: 0;}
.billing-method .Select-billing-pay {margin-bottom: 40px;padding-bottom: 40px;border-bottom: solid 1px #0000001C;}
.billing-method .add-biling-method a {text-decoration: none;display: flex;align-items: center;font-size: 15px;font-weight: 500;color: #0036E3;width: 265px;height: 45px;border: solid 2px #0036E3;border-radius: 4px;justify-content: center;transition: all 500ms;}
.billing-method .add-biling-method a:hover {background: #0036E3;color: #fff;}
.billing-method .add-biling-method a img {margin-right: 10px;}
.billing-method .add-biling-method a:hover img {filter: brightness(0) invert(1);}

.billing-method .billing-right {box-shadow: 12px 17px 48px 0px #0e00621a;padding: 30px;}
.billing-method .billing-right .biling-img {border: solid 1px #0000001C;padding: 22px;text-align: center;border-radius: 8px;}
.billing-method .billing-right .biling-img img {width: 100%;margin: 20px 0 10px;}
.billing-method .billing-right .biling-img h3 {margin: 0;font-size: 17px;font-weight: 500;}
.billing-method .billing-right .biling-img h4 {margin: 0;font-size: 16px;font-weight: 500;color: #303744;}
.billing-method .billing-right .the-time {display: flex;align-items: center;margin-top: 20px;}
.billing-method .billing-right .the-time p {margin: 0 0 0 8px;font-size: 14px;font-weight: 500;color: #303744B2;line-height: normal;}
.billing-method .billing-table {border-top: solid 1px #0000001A;padding-top: 20px;margin-top: 25px;}
.billing-method .billing-table .table {margin: 0;}
.billing-method .billing-table .table th, .billing-table .table td {padding: 6px 0;border: none;vertical-align: middle;font-size: 14px !important;}
.billing-method .billing-table .table thead th {font-size: 14px;font-weight: 500;color: #000000;}
.billing-method .billing-table .table tbody th {font-size: 14px;font-weight: 400;color: #303744;}
.billing-method .billing-table .table tbody td a {color: #0036E3;font-size: 14px;font-weight: 500;text-decoration: none;}
.billing-method .billing-table .table tbody td a:hover {color: #000000;}
.billing-method .billing-table .table td {text-align: right;}
.billing-method .promo-code {margin-top: 15px;}
.billing-method .promo-code p {font-size: 14px;font-weight: 500;margin-bottom: 6px;}
.billing-method .promo-code input[type="text"]::placeholder {color: #303744B2;}
.billing-method .promo-code input[type="text"] {width: 100%;height: 40px;padding: 0 10px;outline: none;border-radius: 4px;border: solid 2px #0000001A;font-size: 16px;color: #303744B2;}
.billing-method .billing-table .table thead th:last-child {text-align: right;}
.billing-method .billing-table2 .table thead th {font-weight: 400;}
.billing-method .billing-table2 .table tbody tr:last-child th, .billing-table2 .table tbody tr:last-child td {font-weight: 500;}
.billing-method .billing-table2 {border-bottom: solid 1px #0000001A;padding-bottom: 20px;margin-bottom: 10px;}
.billing-method .estimated-taxes p {margin: 0;color: #303744;font-size: 14px;font-weight: 400;}
.billing-method .estimated-taxes p a {color: #0036E3;font-weight: 500;}
.billing-method .estimated-taxes p a:hover {color: #303744;}
.billing-method .check-fund-button {text-align: center;margin-top: 30px;}
.billing-method .check-fund-button a {text-decoration: none;background: #0036E3;height: 45px;display: inline-table;width: 100%;color: #fff;font-weight: 500;font-size: 15px;border-radius: 4px;line-height: 45px;transition: all 500ms;border: solid 2px #0036E3;}
.billing-method .check-fund-button a:hover {background: #fff;color: #0036E3;}

.client-job-post {margin-bottom: 80px;}
.client-job-post .container {max-width: 870px;}
.client-job-post .client-job-block {border: solid 1px #0E00621A;padding: 50px;border-radius: 8px;box-shadow: 12px 17px 48px 0px #0e00621a;}
.client-job-post .client-job-block .client-job-hire h3 {font-size: 23px;font-weight: 500;margin-bottom: 14px;}
.client-job-post .client-job-block .client-job-hire p {margin: 0;font-size: 16px;line-height: 25px;color: #303744;}
.client-job-post .client-job-block .client-job-hire {background: #0036E30D;border: solid 1px #0059C924;padding: 0 30px;border-radius: 8px;display: flex;margin-bottom: 50px;}
.client-job-post .client-job-block .client-job-hire .client-job-left {padding: 45px 0;}
.client-job-post .client-job-block .client-job-hire .client-job-right {width: 36%;text-align: right;padding: 9px 0 4px;}
.client-job-post .client-job-block .client-job-hire .client-job-left {padding: 45px 0;width: 64%;}
.client-job-post .form-group label {font-size: 14px;font-weight: 500;color: #303744;position: absolute;top: -9px;background: #fff;padding: 0 10px;left: 15px;}
.client-job-post .form-group input[type="text"]::placeholder {color: #303744B2;}
.client-job-post .form-group input[type="text"] {border: solid 2px #0000001A;height: 55px;width: 100%;border-radius: 4px;padding: 0 15px;outline: none;font-size: 15px;color: #303744B2;}
.client-job-post .form-group {position: relative;}
.client-job-post .next-button {margin-top: 25px;}
.client-job-post .next-button a {color: #fff;font-size: 15px;font-weight: 500;text-decoration: none;background: #0036E3;width: 265px;height: 55px;display: inline-block;text-align: center;line-height: 55px;border-radius: 4px;border: solid 2px #0036E3;transition: all 500ms;}
.client-job-post .next-button a:hover {color: #0036E3;background: #fff;}

.client-job-post .form-group2 img {position: absolute;top: 18px;right: 15px;cursor: pointer;}
.client-job-post .client-form .form-new {margin-top: 30px;position: relative;}  
.client-job-post .client-job-post .client-form .form-new {margin-top: 30px;} 
.client-job-post .client-form .form-new label {position: absolute;margin: 0;left: 15px;color: #303744;font-size: 15px;font-weight: 500;top: -9px;background: #fff;padding: 0 10px;}
.client-job-post .client-form .form-new textarea {width: 100%;padding: 15px;border: solid 2px #0000001A;border-radius: 4px;color: #303744B2;font-size: 15px;height: 120px;outline: none;}
.client-job-post .client-form .upload-file {text-align: center;border: dashed 2px #0000001A;border-radius: 4px;padding: 23px 15px;margin-top: 20px;}
.client-job-post .client-form .upload-file .upload-icon {position: relative;}
.client-job-post .client-form .upload-file .upload-icon input {margin: auto;width: 80px;height: 40px;position: absolute;right: 0;left: 0;opacity: 0;cursor: pointer;z-index: 9;}
.client-job-post .client-form .upload-file span {color: #303744;font-size: 15px;font-weight: 500;margin: 10px 0 6px;display: inline-block;}
.client-job-post .client-form .upload-file p {color: #303744B2;line-height: 19px;font-size: 14px;margin: 0;}
.client-job-post .form-group2 input[type="text"] {font-size: 18px;font-weight: 500;}
.client-job-post .form-group2 input[type="text"]::placeholder {color: #303744;}

.client-job-post .customer-upload {margin-top: 20px;display: flex;align-items: center;background: #0059C90D;border: solid 1px #0059C94D;border-radius: 4px;padding: 16px 24px;}
.client-job-post .customer-upload .upload-file-user {display: flex;flex-grow: 1;}
.client-job-post .customer-upload .upload-file-user-text h4 {margin: 0;font-size: 15px;font-weight: 500;color: #303744;}
.client-job-post .customer-upload .upload-file-user-text p {margin: 0;color: #303744;font-size: 14px;}
.client-job-post .customer-upload .upload-file-user .upload-file-user-img {margin-right: 18px;}
.client-job-post .customer-upload .dust-img img {cursor: pointer;}

.client-job-post .client-contant {margin-top: 40px;}
.client-job-post .client-contant h3 {font-size: 19px;font-weight: 500;color: #303744;}
.client-job-post .client-contant p {font-size: 16px;font-weight: 400;color: #303744;line-height: 25px;}
.client-job-post .client-contant2 input[type="text"] {border: solid 2px #0000001A;height: 55px;width: 100%;border-radius: 4px;padding: 0 15px;outline: none;font-size: 15px;color: #303744B2;}
.client-job-post .client-contant2 p {font-size: 14px;font-weight: 400;color: #303744B2;margin: 10px 0 0;}
.client-job-post .client-contant2 p strong {font-weight: 500;}

.client-job-post .skillandhit ul {padding: 0;margin: 0;}
.client-job-post .skillandhit ul li {display: inline-block;}
.client-job-post .skillandhit ul li a {text-decoration: none;display: flex;align-items: center;font-size: 14px;color: #303744;background: #30374408;border: solid 1px #30374445;border-radius: 4px;padding: 2px 6px;}
.client-job-post .skillandhit ul li a img {margin-left: 8px;}
.client-job-post .skillandhit p {margin: 8px 0 0;font-size: 16px;font-weight: 400;color: #303744B2;line-height: normal;}
.client-job-post .skillandhit {border: solid 2px #0000001A;border-radius: 4px;padding: 12px 15px;}

.client-job-post .client-job-col {margin-top: 40px;}
.client-job-post .client-job-col .client-job-hourly {background: #0059C905;border-radius: 4px;border: solid 1px #0059C94D;display: flex;padding: 30px;margin-top: 18px;}
.client-job-post .client-job-col .client-job-hourly .hourly-text h4 {font-size: 19px;font-weight: 500;color: #303744;}
.client-job-post .client-job-col .client-job-hourly .hourly-text p {margin: 0;color: #303744;font-weight: 400;font-size: 14px;}
.client-job-post .client-job-col .client-job-hourly .hourly-img {width: 18%;}
.client-job-post .client-job-col .client-job-hourly .hourly-text {width: 77%;margin-left: 20px;}
.client-job-post .client-job-col h3 {margin: 0;font-size: 19px;font-weight: 500;color: #303744;}
 
.client-job-post .client-budget {margin-top: 40px;} 
.client-job-post .client-budget h3 {margin: 0;font-size: 19px;font-weight: 500;color: #303744;}
.client-job-post .client-budget select {appearance: none;border: solid 2px #0E00624D;border-radius: 4px;height: 55px;padding: 0 10px;margin-top: 15px;outline: none;background: url(../images/arrow-icon.png) no-repeat;background-position: right 20px center;}
.client-job-post .client-budget .select1 {width: 150px;margin-right: 15px;}
.client-job-post .client-budget .select2 {width: 78%;}
.client-job-post .client-budget select:focus {border-color: #0036E3;}
.client-job-post .client-budget .custom-select .select-selected {height: 55px;line-height: 55px;}
.client-job-post .client-budget .custom-select-main .custom-select {margin-top: 15px;}
.client-job-post .client-budget .custom-select-main {display: flex;}
.client-job-post .client-budget .custom-select .select-selected {overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;}
.client-job-post .client-budget .custom-select .select-selected:after {top: 0;}

.client-job-post .client-detail-main h3 {font-size: 16px;font-weight: 500;color: #303744;margin-bottom: 12px;}
.client-job-post .client-detail-main {    margin-top: 40px;}
.client-job-post .client-detail-carrect {border: solid 2px #0E00621A;border-radius: 8px;padding: 20px;}
.client-job-post .client-detail-carrect > p {font-size: 16px;font-weight: 400;color: #303744;line-height: 25px;}
.client-job-post .client-detail-carrect ul {padding: 0;margin: 0 0 15px;}
.client-job-post .client-detail-carrect ul li {display: inline-block;}
.client-job-post .client-detail-carrect ul li a {text-decoration: none;display: flex;align-items: center;font-size: 14px;color: #303744;background: #30374408;border: solid 1px #30374445;border-radius: 4px;padding: 2px 6px;}
.client-job-post .client-detail-carrect ul li a img {margin-left: 8px;}
.client-job-post .client-detail-carrect .client-detail-carrects {display: flex;align-items: center;border: solid 1px #0036E3;border-radius: 5px;padding: 15px 20px;}
.client-job-post .client-detail-carrect .client-detail-carrects .client-detail-text h5 {color: #3037448A;font-size: 14px;font-weight: 500;margin-bottom: 4px;}
.client-job-post .client-detail-carrect .client-detail-carrects .client-detail-text h4 {margin: 0;color: #303744;font-size: 16px;font-weight: 500;}
.client-job-post .client-detail-carrect .client-detail-carrects .detail-img {margin-right: 18px;}

.register {margin-bottom: 80px;}
.register .container {max-width: 640px;}
.register .register-form {box-shadow: 12px 12px 48px 0px #0e006221;padding: 60px 40px;border-radius: 12px;}
.register .register-form h3 {text-align: center;font-size: 28px;font-weight: 500;color: #303744;margin: 0 0 25px;}
.register .register-form .register-ac {display: flex;align-items: center;border: solid 1px #0000001A;border-radius: 4px;padding: 8px 16px;cursor: pointer;margin-top: 15px;transition: all 500ms;}
.register .register-form .register-ac:hover {background: #0059C90D;border-color: #0036E3;}
.register .register-form .register-ac .register-img {flex-grow: 1;display: flex;align-items: center;}
.register .register-form .register-ac .register-img h4 {margin: 0;font-size: 19px;font-weight: 500;line-height: normal;}
.register .register-form .register-ac .register-radio input {width: 19px;height: 19px;cursor: pointer;}
.register .register-form .register-ac .register-radio {display: flex;}
.register .register-form .register-ac .register-icon {width: 48px;height: 48px;border-radius: 8px;border: solid 1px #00000014;display: flex;align-items: center;justify-content: center;background: #fff;margin-right: 12px;}
.register .register-form .register-ac {display: flex;align-items: center;border: solid 1px #0000001A;border-radius: 4px;padding: 8px 16px;}
.register .register-form .creat-button a {font-size: 16px;font-weight: 500;text-decoration: none;color: #fff;transition: all 500ms;background: #0036E3;width: 100%;display: inline-table;text-align: center;border-radius: 4px;height: 53px;line-height: 55px;border: solid 2px #0036E3;}
.register .register-form .creat-button a:hover {background: #fff;color: #0036E3;}
.register .register-form .creat-button {margin-top: 25px;}
.register .register-form .singup {margin-top: 20px;}
.register .register-form .singup p {margin: 0;font-size: 16px;color: #303744;font-weight: 400;text-align: center;}
.register .register-form .singup p a {color: #0036E3;font-weight: 500;}

.sign-up .register-form .singup p a:hover {color: #303744;}
.sign-up .register-form .link-open ul {display: flex;justify-content: space-between;padding: 0;margin: 0;}
.sign-up .register-form .or-border {text-align: center;position: relative;display: flex;align-items: center;justify-content: center;margin: 20px 0;}
.sign-up .register-form .or-border:before {content: "";background: #0000001C;height: 1px;width: 100%;position: absolute;left: 0;right: 0;top: 10px;}
.sign-up .register-form .or-border span {background: #fff;z-index: 999;position: relative;width: 85px;display: inline-block;color: #303744;font-size: 15px;}
.sign-up .register-form .register-sign-up .form-group {position: relative;margin-bottom: 23px;}
.sign-up .register-form .register-sign-up .form-group label {z-index: 1;font-size: 14px;font-weight: 500;color: #303744;position: absolute;top: -9px;background: #fff;padding: 0 10px;left: 15px;}
.sign-up .register-form .register-sign-up .form-group input {border: solid 2px #0000001A;height: 55px;width: 100%;border-radius: 4px;padding: 0 15px;outline: none;font-size: 15px;color: #303744B2;}
.sign-up .register-form .register-sign-up .form-group input::placeholder {color: #303744B2;}
.sign-up .register-form .register-sign-up .form-group select {width: 100%;height: 55px;border-radius: 4px;padding: 0 15px;outline: none;font-size: 15px;color: #303744B2;border: solid 2px #0000001A;}
.sign-up .register-form .register-sign-up .form-group .select-selected {height: 55px;line-height: 55px;}
.sign-up .register-form .register-sign-up .sign-up1 .form-group {width: 100%;padding: 0 5px;}
.sign-up .register-form .register-sign-up .sign-up1 {display: flex;margin: 0 -5px;}
.sign-up .register-form .sendemail .sendemaicheck {display: flex;}
.sign-up .register-form .sendemail .sendemaicheck p {margin: 0;font-size: 13px;color: #303744;line-height: 20px;}
.sign-up .register-form .sendemail .sendemaicheck input {width: 20px;height: 20px;margin-right: 8px;min-width: 20px;}
.sign-up .register-form .sendemail .sendemaicheck:last-child {margin-top: 15px;}
.sign-up .register-form .sendemail .sendemaicheck p a {color: #303744;}
.sign-up .register-form .sendemail .sendemaicheck p a:hover {color: #0036E3;}

.verify-email .register-form .creat-button a {height: 45px;line-height: 45px;}
.verify-email .verify-img {text-align: center;margin-bottom: 65px;}
.verify-email .verify-text {text-align: center;}
.verify-email .verify-text h3 {margin-bottom: 15px;}
.verify-email .verify-text p {font-size: 16px;line-height: 25px;font-weight: 400;color: #303744B2;margin: 0 50px;}
.verify-email .verify-link ul {padding: 0;margin: 25px 0 30px;text-align: center;}
.verify-email .verify-link ul li {display: inline-block;margin: 0 6px;}
.verify-email .verify-link ul li a {font-size: 16px;font-weight: 500;color: #0036E3;}
.verify-email .verify-link ul li a:hover {color: #303744;} 

.verify-complete .register-form .verify-complete-text h3 {text-align: left !important;font-family: Colfax;font-size: 19px;font-weight: 500;margin: 30px 0;}
.verify-complete .register-form .verify-complete-text p {margin: 20px 0 0;color: #303744;font-size: 16px;font-weight: 400;line-height: 28px;text-align: left;}
.verify-complete .register-form .verify-complete-team {margin-top: 40px;}
.verify-complete .register-form .verify-complete-team p {margin: 0;color: #303744;font-size: 16px;font-weight: 400;line-height: 26px;}
.verify-complete .register-form .verify-button a {height: 45px;line-height: 45px;}
.verify-complete .register-form .verify-complete-text {margin-bottom: 35px;}
.verify-complete .register-form .resend-img {margin-bottom: 50px;}

.register-profile .expert-left h3 {font-size: 23px;font-weight: 500;color: #303744;margin-bottom: 30px;}
.register-profile .expert-left ul {padding: 0;margin: 0;}
.register-profile .expert-left ul a {display: flex;align-items: center;text-decoration: none;border: solid 1px #30374433;border-radius: 4px;padding: 10px 24px;}
.register-profile .expert-left ul li .expert-left-img {background: #0059C90F;width: 48px;height: 48px;border-radius: 100%;text-align: center;display: flex;align-items: center;justify-content: center;margin-right: 15px;}
.register-profile .expert-left ul li p {margin: 0;color: #303744;font-size: 18px;font-weight: 400;}
.register-profile .expert-left ul li {margin-bottom: 17px;}
.register-profile .expert-left .profile-edit-latter p {margin: 0;font-size: 14px;font-weight: 400;}
.register-profile .expert-left .profile-edit-latter {margin: 40px 0 20px;} 
.register-profile .expert-left .profile-button a {background: #0036E3;color: #fff;font-weight: 500;text-decoration: none;border-radius: 4px;width: 525px;height: 55px;display: inline-table;text-align: center;line-height: 55px;border: solid 2px #0036E3;transition: all 500ms;}
.register-profile .expert-left .profile-button a:hover {background: #fff;color: #0036E3;}
.register-profile {margin-bottom: 80px;}
.register-profile .expert-sidebar .expert-right {box-shadow: 12px 12px 48px 0px #0e006221;padding: 40px 15px;border-radius: 8px;}
.register-profile .expert-sidebar {text-align: center;}
.register-profile .expert-sidebar h4 {font-size: 19px;font-weight: 500;margin-bottom: 20px;}
.register-profile .expert-sidebar .expert-right h3 {color: #303744;font-size: 16px;font-weight: 500;margin: 20px 0 0;}
.register-profile .expert-sidebar .expert-right ul {padding: 0;margin: 0;}
.register-profile .expert-sidebar .expert-right ul li {font-family: 'Public Sans', sans-serif;color: #303744;font-size: 14px;font-weight: 500;}
.register-profile .expert-sidebar .expert-right ul li img {margin-right: 5px;}
.register-profile .expert-sidebar .expert-right .consultant-left-block {margin-bottom: 15px;}
.register-profile .expert-sidebar .expert-right p {font-size: 14px;margin: 0;color: #303744B2;font-weight: 400;}
.register-profile .col-md-4 {width: 28%;}
.register-profile .col-md-8 {padding-right: 40px;width: 72%;}
.register-profile .container {max-width: 1100px;}

.register-michael {margin-bottom: 80px;}
.register-michael .container {max-width: 980px;}
.register-michael .register-form {box-shadow: 19px 17px 48px 0px #0e00621f;padding: 60px 50px;border-radius: 16px;}
.register-michael .resend-text h3 {text-align: left;color: #303744;font-size: 28px;font-weight: 500;}
.register-michael .resend-text p {margin: 25px 0;font-family: Colfax;font-size: 16px;font-weight: 400;line-height: 26px;letter-spacing: 0em;text-align: left;}
.register-michael .michael-text p {margin: 0 0 3px;font-family: Colfax;font-size: 16px;font-weight: 400;line-height: 26px;letter-spacing: 0em;text-align: left;color: rgb(48 55 68 / 70%);}
.register-michael .michael-text .resend-img {margin-top: 30px;}

.register-michael-2 .resend-text p {margin: 25px 0;font-family: Colfax;font-size: 16px;font-weight: 400;line-height: 26px;letter-spacing: 0em;text-align: left;}
.register-michael-2 .michael-text p {margin: 0 0 3px;font-family: Colfax;font-size: 16px;font-weight: 400;line-height: 26px;letter-spacing: 0em;text-align: left;color: rgb(48 55 68 / 70%);}
.register-michael-2 .michael-text .resend-img {margin-top: 30px;}
.register-michael-2 .resend-text ul {padding: 0;margin: 10px 0;}
.register-michael-2 .resend-text ul li {font-family: Colfax;font-size: 16px;font-weight: 400;line-height: 28px;}
.register-michael-2 .resend-text h1 {margin: 0;font-size: 16px;font-weight: 400;color: #303744;}
.register-michael-2 .resend-text h1 {margin: 30px 0;font-size: 16px;font-weight: 400;color: #303744;}
.register-michael-2 .michael-text {margin-top: 30px;}
.register-michael-2 h2 {font-size: 16px;font-weight: 500;color: #303744;}

.register-michael-3 .resend-text p {margin: 25px 0;font-family: Colfax;font-size: 16px;font-weight: 400;line-height: 26px;letter-spacing: 0em;text-align: left;}
.register-michael-3 .michael-text p {margin: 0 0 3px;font-family: Colfax;font-size: 16px;font-weight: 400;line-height: 26px;letter-spacing: 0em;text-align: left;color: rgb(48 55 68 / 70%);}
.register-michael-3 .michael-text .resend-img {margin-top: 30px;}

.register-michael-4 .resend-text h3 {text-align: left;}
.register-michael-4 .resend-text p {margin: 25px 0;font-family: Colfax;font-size: 16px;font-weight: 400;line-height: 26px;letter-spacing: 0em;text-align: left;}
.register-michael-4 .michael-text p {margin: 0 0 3px;font-family: Colfax;font-size: 16px;font-weight: 400;line-height: 26px;letter-spacing: 0em;text-align: left;color: rgb(48 55 68 / 70%);}
.register-michael-4 .michael-text .resend-img {margin-top: 30px;}
.register-michael-4 .creat-button a {background: #0036E3;width: 220px;height: 45px;display: inline-table;border-radius: 4px;text-align: center;line-height: 45px;color: #fff;text-decoration: none;font-weight: 500;font-size: 15px;border: solid 2px #0036E3;transition: all 500ms;}
.register-michael-4 .creat-button {margin-top: 25px;}
.register-michael-4 .creat-button a:hover {background: #fff;color: #0036E3;}

.register-timeline > .container > .row > .col-md-8 {width: 73%;padding-left: 60px;}
.register-timeline > .container > .row > .col-md-4 {width: 27%;}
.register-timeline .timeline-left {box-shadow: 8px 8px 24px 0px #02024624;padding: 40px;border-radius: 8px;}
.register-timeline {margin-bottom: 80px;}
.register-timeline .timeline-left ul {padding: 0 0 0 22px;margin: 0;position: relative;}
.register-timeline .timeline-left ul:before {content: "";background: #E4E7EC;width: 2px;height: 385px;position: absolute;left: 0;}
.register-timeline .timeline-left ul li {margin-bottom: 25px;position: relative;}
.register-timeline .timeline-left ul li h4 {font-size: 19px;font-weight: 500;color: #344054;margin-bottom: 0;}
.register-timeline .timeline-left ul li p {margin: 0;font-weight: 400;font-size: 16px;color: #303744;}
.register-timeline .timeline-left ul li:before {content: "";background: #fff;width: 35px;height: 35px;position: absolute;border-radius: 100%;left: -40px;z-index: 1;top: -5px;}
.register-timeline .timeline-left ul li:after {content: '';background: #fff;width: 25px;height: 25px;position: absolute;border-radius: 100%;left: -34px;top: 0;border: solid 8px #f2f4f7;z-index: 9;}

.register-timeline .timeline-left ul:after {content: "";background: #0036E3;width: 2px;height: 1px;position: absolute;left: 0;top: 0;}
.register-timeline-2 .timeline-left ul:after {height: 70px;}
.register-timeline-3 .timeline-left ul:after {height: 155px;}
.register-timeline-4 .timeline-left ul:after, .register-timeline-5 .timeline-left ul:after {height: 225px;}
.register-timeline-10 .timeline-left ul:after {height: 300px;}
.register-timeline-11 .timeline-left ul:after {height: 385px;}
.register-timeline-11 .timeline-left ul li:nth-child(2):after, .register-timeline-11 .timeline-left ul li:nth-child(3):after, .register-timeline-11 .timeline-left ul li:nth-child(4):after, .register-timeline-11 .timeline-left ul li:nth-child(5):after, .register-timeline-11 .timeline-left ul li:first-child:after, .register-timeline-10 .timeline-left ul li:nth-child(2):after, .register-timeline-10 .timeline-left ul li:nth-child(3):after, .register-timeline-10 .timeline-left ul li:nth-child(4):after, .register-timeline-10 .timeline-left ul li:first-child:after, .register-timeline-5 .timeline-left ul li:nth-child(2):after, .register-timeline-5 .timeline-left ul li:nth-child(3):after, .register-timeline-5 .timeline-left ul li:first-child:after, .register-timeline-4 .timeline-left ul li:nth-child(2):after, .register-timeline-4 .timeline-left ul li:nth-child(3):after, .register-timeline-4 .timeline-left ul li:first-child:after, .register-timeline-3 .timeline-left ul li:nth-child(2):after, .register-timeline-3 .timeline-left ul li:nth-child(1):after, .register-timeline-2 .timeline-left ul li:first-child:after {content: "\f00c";font-size: 12px;font-family: fontawesome;color: #fff;background: #0036E3;text-align: center;line-height: 10px;border-color: #0036E3;}
.register-timeline-11 .timeline-left ul li:nth-child(6):after, .register-timeline-10 .timeline-left ul li:nth-child(5):after, .register-timeline-5 .timeline-left ul li:nth-child(4):after, .register-timeline-4 .timeline-left ul li:nth-child(4):after, .register-timeline-2 .timeline-left ul li:nth-child(2):after, .register-timeline .timeline-left ul li:first-child:after, .register-timeline-3 .timeline-left ul li:nth-child(3):after {border-color: #0036E3;}
 
.register-timeline .timeline-right .timeline-text h2 {color: #303744;font-size: 23px;font-weight: 500;}
.register-timeline .timeline-right .timeline-text  p {margin: 0;font-size: 16px;font-weight: 400;color: #303744;}
.register-timeline .timeline-right .timeline-text2 h2 {font-size: 19px;font-weight: 500;color: #303744;}
.register-timeline .timeline-right .timeline-text2  p {margin: 0;font-size: 16px;font-weight: 400;color: #303744;}
.register-timeline .timeline-right .timeline-input input {width: 598px;border: solid 2px #0000001A;height: 55px;padding: 0 15px;border-radius: 4px;outline: none;}
.register-timeline .timeline-right .timeline-text2 {margin: 30px 0 20px;}
.register-timeline .timeline-right .timeline-button {display: flex;border-top: solid 1px #0000001A;margin-top: 40px;padding-top: 40px;}
.register-timeline .timeline-right .timeline-button .timeline-btn {flex-grow: 1;}
.register-timeline .timeline-right .timeline-button a {border: solid 2px #0036E3;width: 250px;height: 45px;display: inline-table;text-align: center;line-height: 45px;border-radius: 4px;text-decoration: none;font-weight: 500;color: #0036E3;font-size: 15px;transition: all 500ms;}
.register-timeline .timeline-right .timeline-button a:hover {background: #0036E3;color: #fff;}
.register-timeline .timeline-right .timeline-button a i {margin-right: 8px;}

.register-timeline-2 .timeline-right .col-md-4 h4 {font-size: 16px;font-weight: 500;color: #303744;margin-bottom: 15px;}
.register-timeline-2 .timeline-block .timeline-according .at-title h2 {transition: all 500ms;align-items: center;font-size: 16px;color: #303744;font-weight: 400;cursor: pointer;position: relative;display: flex;border-bottom: solid 1px #0E00621A;padding-bottom: 12px;margin-bottom: 14px;}
.register-timeline-2 .timeline-block .timeline-according .at-title h2:after {content: "\f107";font-family: 'FontAwesome';position: absolute;right: 0;}
.register-timeline-2 .timeline-block .timeline-according .at-title.active h2:after {content: "\f106";}
.register-timeline-2 .timeline-block .timeline-according .at-title.active h2{color: #0036E3;font-weight:500;}
.register-timeline-2 .timeline-block .timeline-according ul {padding: 0;margin-bottom: 5px;}
.register-timeline-2 .timeline-block .timeline-according ul li a {text-decoration: none;color: #303744B2;font-size: 16px;font-weight: 400;padding: 4px 15px;display: inline-block;width: 100%;border-radius: 4px;transition: all 500ms;}
.register-timeline-2 .timeline-block .timeline-according ul li a:hover {background: #0059C91A;color: #275846;}
.register-timeline-2 .timeline-block .timeline-search input {width: 100%;height: 40px;border-radius: 4px;outline: none;border: solid 2px #0000001A;color: #303744;font-size: 16px;padding: 0 15px 0 35px;}
.register-timeline-2 .timeline-block .timeline-search button {position: absolute;left: 22px;border: none;background: none;outline: none;height: 40px;line-height: 40px;padding: 0 10px;}
.register-timeline-2 .timeline-block .timeline-search {position: relative;padding: 20px;border-bottom: solid 1px #00000012;margin-bottom: 25px;}
.register-timeline-2 .timeline-block .timeline-search button i {color: #303744B2;}
.register-timeline-2 .timeline-block .timeline-according {padding: 0 20px;}
.register-timeline-2 .timeline-block {border: solid 2px #0000001A;border-radius: 4px;padding-bottom: 15px;min-height: 448px;}
.register-timeline-2 .timeline-block2 {padding: 20px;margin-top: 33px;}
.register-timeline-2 .timeline-block2 ul li a {text-decoration: none;display: flex;align-items: center;font-size: 14px;color: #303744;background: #30374408;border: solid 1px #30374445;border-radius: 4px;padding: 2px 6px;}
.register-timeline-2 .timeline-block2  ul li a img {margin-left: 8px;}
.register-timeline-2 .timeline-block2 ul {padding: 0;margin: 0 0 20px;}
.register-timeline-2 .timeline-block2 ul li {display: inline-block;margin-bottom: 5px;}

.register-timeline-3 .timeline-form .form-group {position: relative;margin-bottom: 22px;}
.register-timeline-3 .timeline-form .form-group label {z-index: 1;font-size: 14px;font-weight: 500;color: #303744;position: absolute;top: -9px;background: #fff;padding: 0 10px;left: 15px;}
.register-timeline-3 .timeline-form .form-group input[type="text"] {border: solid 2px #0000001A;height: 55px;width:560px;border-radius: 4px;padding: 0 15px;outline: none;font-size: 15px;color: #303744B2;}
.register-timeline-3 .timeline-form .form-group select {border: solid 2px #0000001A;height: 55px;width: 560px;border-radius: 4px;padding: 0 15px;outline: none;font-size: 15px;color: #303744B2;background: url(../images/arrow-icon.png) no-repeat;background-position: right 20px center;appearance: none;}
.register-timeline-3 .timeline-right .timeline-tell h3 {font-size: 23px;font-weight: 500;color: #303744;}
.register-timeline-3 .timeline-right .timeline-tell p {color: #303744;font-size: 16px;margin: 0;}
.register-timeline-3 .timeline-right .timeline-tell {margin-bottom: 30px;}
.register-timeline-3 .timeline-right .timeline-method a {text-decoration: none;display: flex;align-items: center;font-size: 15px;font-weight: 500;color: #0036E3;width: 320px;height: 45px;border: solid 2px #0036E3;border-radius: 4px;justify-content: center;transition: all 500ms;}
.register-timeline-3 .timeline-right .timeline-method a img {margin-right: 10px;}
.register-timeline-3 .timeline-form .form-group .select-selected {height: 55px;line-height: 55px;}
.register-timeline-3 .timeline-form .form-group .custom-select {width: 560px;}

.register-timeline-4 .top-text h2 {font-size: 23px;font-weight: 500;color: #303744;margin-bottom: 15px;}
.register-timeline-4 .top-text h2 span {color: #0036E3;}
.register-timeline-4 .top-text ul {padding: 0;margin: 10px 0 0;}
.register-timeline-4 .top-text ul li {display: inline-block;margin-right: 5px;}
.register-timeline-4 .top-text ul li a {text-decoration: none;color: #0036E3;width: 88px;height: 34px;display: flex;border: solid 2px #0036E3;border-radius: 4px;text-align: center;justify-content: center;align-items: center;transition: all 500ms;font-size: 15px;font-weight: 500;}
.register-timeline-4 .top-text ul li a:hover {color: #fff;background: #0036E3;}
.register-timeline-4 .center-text {margin: 35px 0 30px;}
.register-timeline-4 .center-text h1 {margin: 0 0 15px;font-family: Colfax;font-size: 16px;font-weight: 500;color: #303744;}
.register-timeline-4 .center-text .Search input {width: 100%;height: 40px;padding: 8px 12px;border: solid 2px #30374426;border-radius: 4px;outline: none;font-size: 15px;color: #303744B2;}
.register-timeline-4 .center-text .Search input::placeholder {color: #303744B2;}
.register-timeline-4 .center-text .Search {position: relative;max-width: 560px;}
.register-timeline-4 .center-text .Search button {position: absolute;top: 10px;right: 12px;border: none;background: none;padding: 0;}
.register-timeline-4 .center-text .Search button .fa {font-size: 15px;color: #3037444D;}
.register-timeline-4 .buttom-text ul {padding: 0;margin: 0 0 30px;}
.register-timeline-4 .buttom-text ul li {display: inline-block;margin-right: 5px;}
.register-timeline-4 .buttom-text ul li a {text-decoration: none;background: #30374408;border: solid 1px #30374445;color: #303744;font-size: 14px;padding: 6px 8px 4px 8px;display: inline-block;border-radius: 4px;}
.register-timeline-4 .buttom-text ul li:nth-child(2) a {background: #0036E3;color: #fff;border-color: #0036e3;}
.register-timeline-4 .buttom-text ul li:nth-child(4) a {background: #0036E3;color: #fff;border-color: #0036e3;}
.register-timeline-4 .buttom-input {display: flex;grid-gap: 30px;}
.register-timeline-4 .buttom-input .buttom-left {width: 50%;}
.register-timeline-4 .buttom-input .buttom-left .form-group {position: relative;}
.register-timeline-4 .buttom-input .buttom-left .form-group label {font-size: 14px;font-weight: 500;color: #303744;position: absolute;top: -9px;background: #fff;padding: 0 10px;left: 15px;}
.register-timeline-4 .buttom-input .buttom-left .form-group input[type="text"] {border: solid 2px #0000001A;height: 56px;width: 100%;border-radius: 4px;padding: 0 15px;outline: none;font-size: 15px;color: #303744B2;margin: 0 !important;}
.register-timeline-4 .buttom-input .buttom-right {width: 50%;}
.register-timeline-4 .buttom-input .buttom-right form {position: relative;border: solid 2px #0036E3;border-radius: 4px;padding: 10px 0;}
.register-timeline-4 .buttom-input .buttom-right a {position: absolute;top: 12px;left: 0;right: 0;text-align: center;}
.register-timeline-4 .buttom-input .buttom-right input#fileToUpload {opacity: 0;width: 100%;}
.register-timeline-4 .creat-button {margin-top: 20px;}
.register-timeline-4 .creat-button a:hover {background: #fff;color: #0036E3;}
.register-timeline-4 .creat-button a {font-size: 15px;font-weight: 500;text-decoration: none;color: #fff;transition: all 500ms;background: #0036E3;display: inline-table;text-align: center;border-radius: 4px;height: 45px;line-height: 45px;border: solid 2px #0036E3;width: 368px;}

.register-timeline-5 .timeline-prof1{border: solid 1px #0000001A;border-radius: 8px;padding: 22px;margin-bottom:45px;}
.register-timeline-5 .timeline-prof1 .prof-text {margin-top: 30px;}
.register-timeline-5 .timeline-prof1 .prof-text .profp1 span {color: #000000;}
.register-timeline-5 .timeline-prof1 h3 {font-size: 19px;font-weight: 500;color: #303744;margin-bottom: 15px;}
.register-timeline-5 .timeline-prof1 .prof-img {text-align: center;}
.register-timeline-5 .timeline-prof1 .prof-img img {width: 100%;}
.register-timeline-5 .timeline-prof1 .prof-img h4 {margin: 12px 0 0;font-size: 16px;font-weight: 500;color: #000000;}
.register-timeline-5 .timeline-prof1 .prof-text .prof-expart {display: flex;}
.register-timeline-5 .timeline-prof1 .prof-text .prof-expart ul {flex-grow: 1;padding: 0;margin: 0;}
.register-timeline-5 .timeline-prof1 .prof-text .prof-expart ul li {display: inline-block;color: #303744;font-size: 16px;}
.register-timeline-5 .timeline-prof1 .prof-text .prof-expart ul li a {font-size: 14px;font-weight: 500;color: #0036E3;text-decoration: none;border: solid 1px #0036E3;border-radius: 50px;padding: 2px 12px 2px 12px;display: inline-block;margin: 0 0 0 2px;transition: all 500ms;}
.register-timeline-5 .timeline-prof1 .prof-text .prof-expart ul li a:hover {background: #0036E3;color: #fff;}
.register-timeline-5 .timeline-prof1 .prof-text .prof-expart p {margin: 0;color: #303744;font-size: 14px;font-weight: 500;}
.register-timeline-5 .timeline-prof1 .prof-text .profp1 {color: #303744B2;font-size: 16px;line-height: 25px;margin: 15px 0;}
.register-timeline-5 .timeline-would h3 {font-size: 23px;font-weight: 500;color: #303744;margin-bottom: 15px;}
.register-timeline-5 .timeline-would h3 span {color: #0036E3;}
.register-timeline-5 .timeline-would ul {padding: 0;margin: 0;}
.register-timeline-5 .timeline-would ul li {display: inline-block;margin-right: 5px;}
.register-timeline-5 .timeline-would ul li a {text-decoration: none;color: #0036E3;width: 88px;height: 34px;display: flex;border: solid 2px #0036E3;border-radius: 4px;text-align: center;justify-content: center;align-items: center;transition: all 500ms;font-size: 15px;font-weight: 500;}
.register-timeline-5 .timeline-would ul li a:hover {color: #fff;background:#0036E3;}

.register-timeline-10 .timeline-biography h3 {font-size: 23px;font-weight: 500;color: #303744;}
.register-timeline-10 .timeline-biography p {color: #303744;font-size: 16px;margin: 0;}
.register-timeline-10 .timeline-form2 .form-group {margin-top: 25px;position: relative;}
.register-timeline-10 .timeline-form2 .form-group label {position: absolute;margin: 0;left: 15px;color: #303744;font-size: 15px;font-weight: 500;top: -9px;background: #fff;padding: 0 10px;}
.register-timeline-10 .timeline-form2 .form-group textarea {width: 100%;padding: 15px;border: solid 2px #0000001A;border-radius: 4px;color: #303744B2;font-size: 15px;height: 134px;outline: none;margin-bottom: 10px;}
.register-timeline-10 .timeline-form2 .form-group input[type="text"] {border: solid 2px #0000001A;height: 55px;width: 100%;border-radius: 4px;padding: 0 15px;outline: none;font-size: 15px;color: #303744B2;}

.register-timeline-11 .upload-picture h3 {font-size: 23px;font-weight: 500;color: #303744;}
.register-timeline-11 .upload-picture p {color: #303744;font-size: 16px;margin: 0;}
.register-timeline-11 .upload-picture {margin-bottom: 40px;}
.register-timeline-11 .upload-user {display: inline-block;}
.register-timeline-11 .upload-user .upload-uder-btn input {position: absolute;width: 100%;opacity: 0;}
.register-timeline-11 .upload-user .upload-uder-btn img {margin-right: 10px;}
.register-timeline-11 .upload-user .upload-uder-btn {display: flex;align-items: center;position: relative;border: solid 2px #0036E3;border-radius: 4px;justify-content: center;height: 45px;width: 218px;margin: auto;font-weight: 500;color: #0036E3;font-size: 15px;}
.register-timeline-11 .upload-user p {margin: 12px 0;text-align: center;font-size: 13px;font-weight: 400;color: #303744;font-style: italic;}
.register-timeline-11 .upload-user .remove-picture {text-align: center;margin-top: 15px;}
.register-timeline-11 .upload-user .remove-picture a {color: #303744;font-size: 14px;font-weight: 500;}
.register-timeline-11 .upload-user .remove-picture a:hover {color: #0036E3;}
.register-timeline-11 .preview-your-Profile-btn {text-align: center;border-top: solid 1px #0000001A;margin-top: 30px;padding-top: 40px;}
.register-timeline-11 .preview-your-Profile-btn p {color: #303744;font-size: 16px;font-weight: 400;margin-bottom: 15px;}
.register-timeline-11 .preview-your-Profile-btn a {background: #0036E3;color: #fff;text-decoration: none;width: 265px;height: 45px;font-size: 15px;font-weight: 500;display: inline-table;border-radius: 4px;line-height: 45px;transition: all 500ms;border: solid 2px #0036E3;}
.register-timeline-11 .preview-your-Profile-btn a:hover {background: #fff;color: #0036E3;}

.register-michael-5 .container {max-width: 640px;}
.register-michael-5 .verify-img {margin-bottom: 40px;}

.register-michael-6 .resend-text p strong {font-weight: 500;}
.register-michael-6 .resend-text p a {color: #0036E3;font-weight: 500;}
.register-michael-6 .resend-text p a:hover {color: #303744;}
.register-michael-6 .michael-6-btn ul {margin: 0 0 25px;padding: 0;}
.register-michael-6 .michael-6-btn ul li {display: inline-block;}
.register-michael-6 .michael-6-btn ul li a {text-decoration: none;font-weight: 500;font-size: 15px;color: #0036E3;transition: all 500ms;width: 184px;height: 45px;display: inline-table;border: solid 2px #0036E3;text-align: center;line-height: 45px;border-radius: 4px;}
.register-michael-6 .michael-6-btn ul li a:hover {background:#0036E3;color:#fff;}
.register-michael-6 .michael-6-btn ul li {display: inline-block;margin-right: 8px;}

.portfolioCaousel .owl-nav {
  position: absolute;top: -4rem;right: 0%;
}
.portfolioCaousel .owl-nav .owl-prev,
.portfolioCaousel .owl-nav .owl-next {
  width: 2.5rem;height: 2.5rem;border-radius: 4px;font-size: .875rem !important;
  border: 2px solid rgba(0, 0, 0, 0.10) !important;transition: all .3s ease-in-out;
  background: #0036E3 !important;color: #fff !important;
}
.portfolioCaousel .owl-nav .owl-prev { margin-right: 4px; }
.portfolioCaousel .owl-nav .owl-prev:hover,
.portfolioCaousel .owl-nav .owl-next:hover { 
  background: #0036E3 !important;color: #fff !important;
}
.portfolioCaousel .owl-nav .owl-prev.disabled,
.portfolioCaousel .owl-nav .owl-next.disabled { 
  background: #fff !important;color: #000000 !important;
}















