.dropdown:hover  {
    /* display: block; */

  }

  .dropdown>.dropdown-toggle:active {
    /* Without this, clicking will make it sticky */
      /* pointer-events: none; */
  }
.btn-primary{
    /* background: #055846 !important; */
    background: #0059C9 !important;
    color: #fff;
}
.navbar .nav-item .nav-link{
    color:#fff;
    font-size: 14px;
    font-weight: 600;
    margin-left: 15px;
    transition: all 0.5s ease-in-out;
}


.mega-menu-head {
   position: absolute;
    right: 5;
}

.mega_menu {
    position: static;
}

.mega_area {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}

.mega-menu-item a {
    font-weight: 600;
    font-size: 16px;
    color: black;
    margin: 0;

}


.mega-menu-item {
    padding: 10px 0;
    margin-left: 10px;
    cursor: pointer;
}

.mega-menu-item p {
    font-weight: normal;
    font-size: 14px;
    color: gray;
    padding-left: 22px;
    margin: 0;
    padding-right: 5px;


}
 .mega-menu-item:hover,
.about-mega-menu-right:hover,
.mega-menu-fj-item:hover
 {
    background-color: #057a61;
    border-radius: 10px;


}
 .mega-menu-item:hover a ,
 .mega-menu-item:hover p,
 .mega-menu-fj-item:hover a,
 .mega-menu-fj-item:hover p,
 .about-mega-menu-right:hover p,
 .about-mega-menu-right:hover h3 {

    border-radius: 10px;
    color: #fff!important;

}

.about-mega-menu-right {
    width: 60%;
    height: auto;
    color: #222;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 0 10px 0;
    padding: 10px 20px 15px;
    font-size: 16px;
    line-height: 1.5em;
}

.about-mega-menu-right p {
    color: #a0a0a0;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 5px;
}

.about-mega-menu-right h3 {
    color: #000;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
}

.mega-menu-fj-item {
    padding: 10px 0;
    margin-bottom: 30px;
    cursor: pointer;
}

.mega-menu-fj-item a {
    color: #001e00;
    margin-bottom: 5px;
    font-size: 16px;
    padding-right:5px ;
}

.mega-menu-fj-item p {
    color: #5e6d55;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 21px;
    padding-left: 22px;
}

.about-mega-menu-sm {
    color: #1f57c3;
    font-family: Neuemontreal, sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.6px;
}

@media only screen and (max-width: 425px){
    .logo-for-small-responsive{
        width: 190px !important;
    }
}
