body {
    font-family: "DM Sans", sans-serif;
}
.category-title {
    font-weight: 700;
}

.category {
    height: 310px !important;
    color: black;
}
.category-list {
    color: black !important;
}
.button-color {
    color: white !important;
}

.search-box {
    bottom: 0;
    right: 0;
    width: 50%;
}
.jobs {
    height: 200px;
}

#myCarousel {
    /* max-width: 1200px; */
    /* margin: 0 auto; */
}
.carousel-container {
    position: relative;
}
.category-title {
    font-weight: 700;
}

/* .trusted-home {
    margin: 110px 0 0px 0;
    height: 70px;
}
.trusted {
    color: #5e6d55;
    letter-spacing: 0.6px;
    font-family: Neuemontreal, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-top: 10px;
} */

.consultant-category {
    line-height: 23px !important;
    margin-bottom: 0 !important;
}
.talent-button {
    background: #ffffff;
    color: #275846;
    border: 1px solid #275846 !important;
    border-radius: 5px !important;
}
.category {
    height: 275px !important;
    color: black;
    line-height: 23px !important;
}
.category-list {
    color: black !important;
}
.button-color {
    color: white !important;
}

.search-box {
    bottom: 0;
    right: 0;
    width: 50%;
}
.jobs {
    height: 200px;
}

.carousel-container {
    position: relative;
}

.carousel-control-next,
.carousel-control-prev {
    width: 9% !important;
}

.carousel-inner {
    /* background: #111; */
    position: relative !important;
    min-height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.carousel-indicators {
    bottom: -13px !important;
}

.carousel-item {
    padding-bottom: 25px;
}

.video {
    width: 100%;
}

.features-text span {
    max-width: 200px;
    text-align: center;
    justify-content: center !important;
}

/* video banner start */
.carousel-item {
    margin: 0 !important;
}

.carousel-item video {
    height: 100%;
    width: 100%;
}

.carousel-caption {
    top: 175px !important;
    text-align: start !important;
    padding-top: 100px !important;
}

.carousel-caption-background {
    /* background-color: #2c2c2c; */
    opacity: 0.5;
    height: 97% !important;
    width: 100% !important;
    margin-left: -15% !important;
    /* margin-bottom: -3%; */
    margin-top: -8%;
}
.carousel-caption h1 {
    color: #ffffff;
    z-index: 100;
    opacity: 1;
}

.hero-section {
    margin-top: 0;
}
.services-card {
    height: 430px !important;
}
.container-home {
    width: 86%;
    margin: 70px 8%;
}
.home-slider {
    width: 84%;
    margin: 10px 8% 30px !important;
}
.content-title {
    padding-bottom: 30px;
}
.heading-title {
    color: #5abc76;
}
.img-slider {
    width: 84%;
    margin: 30px 8% 0 8%;
}
.blog-cat-name {
    color: red !important;
}
.service-card-caption {
    top: 300px !important;
    text-align: start !important;
    /* padding-top: 100px !important; */
}

.fre-profile{
    margin-top: -9rem!important;
}
/* responsive */
@media only screen and (max-width: 1210px) {
    .home-banner-button {
        margin: 0;
    }
    .home-banner-button a {
        margin: 0;
        font-size: 14px !important;
        padding: 10px !important;
    }
    .carousel-inner {
        min-height: 30vh !important;
    }
    .hero-section {
        margin-top: 0;
    }
    .carousel-caption {
        top: 16px !important;
        padding-top: 10px !important;
    }
}

@media only screen and (max-width: 600px) {
    .home-cacap-head h2 {
        font-size: 25px !important;
    }
    .home-banner-button {
        margin: 0;
    }
    .home-banner-button a {
        margin: 0;
        font-size: 14px !important;
        padding: 10px !important;
    }
    .carousel-inner {
        min-height: 30vh !important;
    }
    .hero-section {
        margin-top: 0;
    }
    .carousel-caption {
        top: 55px !important;
        padding-top: 10px !important;
    }
    .service-category-head h2 {
        font-size: 18px !important;
    }
    .service-category-head p {
        font-size: 12px !important;
    }
    .service-category-head-right a,
    img {
        font-size: 12px !important;
    }
    .service-category-head-right img {
        font-size: 12px !important;
    }
}
@media only screen and (max-width: 425px) {
    .carousel-inner {
        min-height: 20vh !important;
    }
    .hero-section {
        margin-top: 0;
    }
    .carousel-caption {
        top: 90px !important;
    }
    .carousel-caption-background {
        /* background-color: #2c2c2c; */
        opacity: 0.5;
        height: 105% !important;
        width: 100% !important;
        margin-left: -15% !important;
        margin-bottom: 2%;
        margin-top: -18%;
    }
}


/* skill part  */
.vertical-line {
  border-left: 1px solid #ccc;
  height: 100%;
}

/* underline  */
.hover-underline {
  position: relative;
  text-decoration: none;
}

.hover-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #f00; /* Replace with your desired underline color */
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.hover-underline:hover::after {
  visibility: visible;
  transform: scaleX(1);
}



/* Job Category part */

.fre-job-catagory {
}

.fre-job-catagory:hover {
    opacity: 0.75;
}
.fre-job-catagory p:hover {
    color: red;
}

.skills h6 {
    line-height: 1.8;
}

.need-help-section {
    max-width: 1200px !important; /* Set your desired max-width value */
    margin-left: auto !important;
    margin-right: auto !important;

  }

 .row .col-md-3 {
    padding-left: 0;
    padding-right: 0;
}

.row .col-md-3 > .cat-list {
    margin-left: 6px;
    margin-right: -6px;
    padding-left: 8px;

}


  @media (min-width: 1200px) {
    .need-help-section {
      max-width: 100%; /* Override the max-width for extra-large devices */
    }
  }
@media (min-width: 1200px) {
    .d-flex {
        position: relative;
    }

    .need-help-section-bar {
        height: 2px;
        width: 91%;
        background: white;
        position: absolute;
        bottom: 50%;
        transform: translateY(50%);
        left: 161px;
        right:0;
}
}

/* responsive */
@media only screen and (max-width: 1210px) {
    .home-banner-button {
        margin: 0;
    }
    .home-banner-button a {
        margin: 0;
        font-size: 14px !important;
        padding: 10px !important;
    }
    .carousel-inner {
        min-height: 30vh !important;
    }
    .hero-section {
        margin-top: 0;
    }
    .carousel-caption {
        top: 16px !important;
        padding-top: 10px !important;
    }
    .fre-small-font {
        font-size: 36px;
    }
    .fre-consultant-category {
        display: flex;
    }
    .fre-job-catagory p {
        font-size: 15px !important;
        margin-top: 250px !important;

    }
}

@media only screen and (max-width: 600px) {
    .home-cacap-head h2 {
        font-size: 25px !important;
    }
    .home-banner-button {
        margin: 0;
    }
    .home-banner-button a {
        margin: 0;
        font-size: 14px !important;
        padding: 10px !important;
    }
    .carousel-inner {
        min-height: 30vh !important;
    }
    .hero-section {
        margin-top: 0;
    }
    .carousel-caption {
        top: 55px !important;
        padding-top: 10px !important;
    }
    .service-category-head h2 {
        font-size: 18px !important;
    }
    .service-category-head p {
        font-size: 12px !important;
    }
    .service-category-head-right a,
    img {
        font-size: 12px !important;
    }
    .service-category-head-right img {
        font-size: 12px !important;
    }
    .fre-small-font {
        font-size: 20px;
    }
}
@media only screen and (max-width: 425px) {
    .carousel-inner {
        min-height: 20vh !important;
    }
    .hero-section {
        margin-top: 0;
    }
    .carousel-caption {
        top: 90px !important;
    }
    .carousel-caption-background {
        /* background-color: #2c2c2c; */
        opacity: 0.5;
        height: 105% !important;
        width: 100% !important;
        margin-left: -15% !important;
        margin-bottom: 2%;
        margin-top: -18%;
    }
    .fre-small-font {
        font-size: 17px;
    }
    .fre-consultant-category {
        display: none !important;
        background-color: #5abc76 !important;
    }
    .logo {
        width: 50px;
    }
}

@media (min-width: 1200px) {
    .need-help-home-content {
        height: 2px;
        width: 278px;
        background: white;
        bottom: 177px;
        right: -139px;
        position: absolute;
        content: "";
    }

    .fre-job-catagory p {
        font-size: 18px !important;
        margin-top: 245px !important;
    }
}
@media (max-width: 1500px) {
    .fre-job-catagory p {
        font-size: 15px !important;
        margin-top: 250px !important;
    }

}

@media (min-width: 425px) {
    .fre-button-show {
        display: none !important;
    }
}

@media (min-width: 1100px) {
    .fjob-category p {
        font-size: 14px !important;
        margin-top: 253px !important;
    }

}
/* all consultant page */
.star-widget input{
    display: none;;
}
.star-widget label{
    font-size: 15px;
    color: #444;
    padding: 5px;
    float: right;
    translate: all 0.2 ease;
}
.star-widget input:not(:checked) ~ label:hover,
.star-widget input:not(:checked) ~ label:hover ~ label{
    color: #ffa707;
}
input:checked ~ label{
    color: #ffa707;
}



/* all consultant page */
.star-widget input{
    display: none;;
}
.star-widget label{
    font-size: 15px;
    color: #444;
    padding: 5px;
    float: right;
    translate: all 0.2 ease;
}
.star-widget input:not(:checked) ~ label:hover,
.star-widget input:not(:checked) ~ label:hover ~ label{
    color: #ffa707;
}
input:checked ~ label{
    color:#ffa707;
}

div.scroll {
                margin:4px, 4px;
                padding:4px;
                width: 320px;
                height: 110px;
                overflow-x: hidden;
                overflow-y: auto;
                text-align:justify;
                
            }
div.scroll h6 a {
                color:black;
                
            }
#contentDiv {
    display: block; /* or "none" if you want it to be initially hidden */
    /* Add any other styles you want */
  }

  .calendar {
            max-width: 600px;
            margin: 0 auto;
        }

        .calendar-header {
            background-color: #f8f9fa;
            font-weight: bold;
        }

        .calendar-cell {
            border: 1px solid #dee2e6;
            padding: 5px;
            min-height: 50px;
        }
        
        div.scroll {
                margin:4px, 4px;
                padding:4px;
                width: 320px;
                height: 110px;
                overflow-x: hidden;
                overflow-y: auto;
                text-align:justify;
                
            }
div.scroll h6 a {
                color:black;
                
            }
#contentDiv {
    display: block; /* or "none" if you want it to be initially hidden */
    /* Add any other styles you want */
}
 /* seminar page  */

 .seminar-content{
    width: 70%;
    margin: 0 15%;
}
