body {
    font-family: "DM Sans", sans-serif;
}
 .category-title{
font-weight: 700;
 }

 .category{
  height: 310px !important;
  color: black;
 }
 .category-list{

  color: black !important;
 }
 .button-color{
   color: white !important;
 }

 .search-box{
  bottom:0;
right:0;
  width:50%;
 }
.jobs{
  height:200px;
}

  #myCarousel {
  /* max-width: 1200px; */
  /* margin: 0 auto; */

}
.carousel-container{
    position: relative;}
.category-title {
    font-weight: 700;
}

/* .trusted-home {
    margin: 110px 0 0px 0;
    height: 70px;
}
.trusted {
    color: #5e6d55;
    letter-spacing: 0.6px;
    font-family: Neuemontreal, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-top: 10px;
} */

.consultant-category{
    line-height: 23px !important;
    margin-bottom: 0 !important;
}
.talent-button{
    background: #ffffff;
    color:#275846;
    border:1px solid #275846 !important;
    border-radius: 5px !important;
}
.category {
    height: 275px !important;
    color: black;
     line-height: 23px !important;
}
.category-list {
    color: black !important;
}
.button-color {
    color: white !important;
}

.search-box {
    bottom: 0;
    right: 0;
    width: 50%;
}
.jobs {
    height: 200px;
}

.carousel-container {
    position: relative;
}

.carousel-control-next,
.carousel-control-prev {
    width: 9% !important;
}

.carousel-inner {
  /* background: #111; */
  position: relative !important;
  min-height: 100vh;
  overflow: hidden;
  z-index: 1;

}

.carousel-indicators {
    bottom: -13px !important;
}

.carousel-item {
    padding-bottom: 25px;
}

.video {
    width: 100%;
}

.features-text span {
    max-width: 200px;
    text-align: center;
    justify-content: center !important;
}

/* video banner start */
.carousel-item {
    margin: 0 !important;
}

.carousel-item video {
    height: 100%;
    width: 100%;
}

.carousel-caption{
    top: 175px !important;
    text-align: start !important;
    padding-top: 100px !important;

}

.carousel-caption-background{
    /* background-color: #2c2c2c; */
    opacity: 0.5;
    height: 97% !important;
    width: 100% !important;
    margin-left: -15% !important;
    /* margin-bottom: -3%; */
    margin-top: -8%;
}
.carousel-caption h1{
    color: #ffffff;
    z-index: 100;
    opacity: 1;
}

.hero-section {
    margin-top:0;
}
.services-card{
    height: 430px !important;
   }
.container-home{
    width:84%;
    margin:70px 8%;
}
.home-slider{
    width:84%;
    margin:10px 8% 30px !important;    
}
.content-title{
    padding-bottom: 30px;
}
.heading-title{
    color:#5ABC76;
}
.img-slider{
    width:84%;
    margin:30px 8% 0 8%;
}
.blog-cat-name{
    color:red !important;
}
.service-card-caption{
     top: 300px !important;
    text-align: start !important;
    /* padding-top: 100px !important; */
}

/* responsive */
@media only screen and (max-width: 1210px) {
    .home-banner-button{
        margin: 0;
    }
    .home-banner-button a{
        margin: 0;
        font-size: 14px !important;
        padding: 10px !important;
    }
    .carousel-inner {
        min-height: 30vh !important;
    }
    .hero-section {
        margin-top: 0;
    }
    .carousel-caption{
        top: 16px !important;
        padding-top: 10px !important;
    }

}

@media only screen and (max-width: 600px) {
    .home-cacap-head h2{
        font-size: 25px !important;
    }
    .home-banner-button{
        margin: 0;
    }
    .home-banner-button a{
        margin: 0;
        font-size: 14px !important;
        padding: 10px !important;
    }
    .carousel-inner {
        min-height: 30vh !important;
    }
    .hero-section {
        margin-top: 0;
    }
    .carousel-caption{
        top: 55px !important;
        padding-top: 10px !important;
    }
   .service-category-head h2{
    font-size: 18px !important;
   }
   .service-category-head p {
    font-size: 12px !important;
   }
   .service-category-head-right a, img{
    font-size: 12px !important;
   }
   .service-category-head-right img{
    font-size: 12px !important;
   }
}
@media only screen and (max-width: 425px) {
    .carousel-inner {
        min-height: 20vh !important;
    }
    .hero-section {
        margin-top: 0;

    }
    .carousel-caption{
        top: 90px !important;
    }
    .carousel-caption-background{
        /* background-color: #2c2c2c; */
        opacity: 0.5;
        height: 105% !important;
        width: 100% !important;
        margin-left: -15% !important;
        margin-bottom: 2%;
        margin-top:-18%;
    }
}

