.container-main {

}
.service-head-toggle {
    width: 95%;
    margin: 0 2% 10px 2%;
}
.service-toggle-child {
    margin-bottom: 8px;
}
.service-toggle-child p{
    color: #222222;
    /* font-family: "DM Sans"; */
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}
.service-toggle-list{
    color: #222222;
    /* font-family: "DM Sans"; */
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}
.service-toggle-option {
    border-bottom: 2px solid #ccc;
}
.container-main-service {
    width: 94%;
    margin: 0 3% 10px 3%;
}
.price-input{
    width: 100%;
    display: flex;
    margin: 20px 0 25px;
}
.price-input-field input{
    width: 100%;
    height: 100%;
    outline: none ;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;

    border:1px solid #999;
    -moz-appearance: textfield;
}
.price-input .price-input-field-separator{
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    width: 130px;
}
.slider{
    height: 5px;
    border-radius: 5px;
    background:#fcfcfc !important;
    position: relative !important;
}
.slider .progress{
    height: 5px;
    left: 25%;
    right: 25%;
    position: absolute !important;
    background: #17A2B8 !important;
    border-radius: 5px;
}
.range-input{
    position: relative;

}
.range-input input{
    position: absolute;
    top:-5px;
    height: 5px;
    width: 100%;
    background: none;
    pointer-events: none;
    -webkit-appearance: none !important;
}
input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    -webkit-appearance: none;
    background: #17A2B8;
    pointer-events:auto ;
}
input[type="range"]::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border: none !important;
    border-radius: 50%;
    -moz-appearance: none;
    background: #17A2B8;
    pointer-events:auto ;
}
#fre-speaks-more-opt{
    display: none;
}
#fre-speaks-more-opt:checked ~ .fre-more-option-off {
    display: none;
}
#fre-speaks-more-opt:checked ~ .fre-speaks-more-value  {
    display: block;
}
.fre-speaks-more-value {
    display: none;
}
