.profile-identity {
    display: flex;
    align-items: flex-start;
}
.single-profile {
    padding: 30px;
}
.single-profile-boder {
    border-top: 1px solid rgba(0,0,0,.125);
}
.profile-photo {
    margin-right: 40px;
}
.identity-badges {
    padding-left: 140px;
}
.list-group-item {
    border: none !important;
}
.left-aside {
    border-right: 1px solid rgba(0,0,0,.125);
}
h4.view-profile {
    padding-top: 20px;
    padding-left: 25px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight:600;
}
#list-tab .list-group-item {
    padding-left: 35px !important;
}
.list-group-item.active {
    background-color: #055846 !important;
}
.hire-button {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #055846;
    border-radius: 20px; /* Rounded border */
}

.hire-link {
    color: #000; /* Button text color */
    text-decoration: none;
    font-size: 14px;
}
.view-profile-main-single{
    border-bottom: 1px solid #c0c0c0 !important;
    padding-bottom: 15px;
}
.profile {
    /* max-width: 500px; */
    margin: auto;
    padding: 20px;

}

.rating {
    color: gold;
}

.date-range {
    font-style: italic;
}

.description {
    margin-top: 20px;
    line-height: 1.6;
}

.price {
    font-size: 24px;
    font-weight: bold;
}

.rate {
    font-size: 18px;
    font-weight: bold;
}

.hours {
    font-size: 16px;
    font-weight: bold;
}
