.profile-identity {
    display: flex;
    align-items: flex-start;
}
/* .single-profile {
    padding: 30px;
} */
.single-profile-boder {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.profile-photo {
    margin-right: 40px;
}
.identity-badges {
    padding-left: 140px;
}
.list-group-item {
    border: none !important;
}
.left-aside {
    border-right: 1px solid rgba(0, 0, 0, 0.125);
}
h4.view-profile {
    padding-top: 20px;
    padding-left: 25px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}
#list-tab .list-group-item {
    padding-left: 35px !important;
}
.list-group-item.active {
    background-color: #055846 !important;
}
.hire-button {
    /* display: inline-block; */
    padding: 5px 25px;
    border: 2px solid #055846;
    border-radius: 20px; /* Rounded border */
}

.hire-link {
    color: #055846; /* Button text color */
    text-decoration: none !important;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer !important;
}
.hire-link:hover {
    color: #055846;
}
.view-profile-main-single {
    border-bottom: 1px solid #c0c0c0 !important;
    padding-bottom: 15px;
}
.profile {
    /* max-width: 500px; */
    margin: auto;
    padding: 20px;
}

.rating {
    color: gold;
}

.date-range {
    font-style: italic;
}

.description {
    margin-top: 20px;
    line-height: 1.6;
}

.price {
    font-size: 24px;
    font-weight: bold;
}

.rate {
    font-size: 18px;
    font-weight: bold;
}

.hours {
    font-size: 16px;
    font-weight: bold;
}
@media only screen and (max-width: 768px) {
    .freelancer-profile-main-section {
        margin-top: 25px;
    }

    .freelancer-profile-main-section .container-home {
        width: 98%;
        margin: 0 1%;
    }
    .frePage-freelancer-name {
        font-size: 18px;
        font-weight: 700;
    }
    .hire-me-button-res-frePage {
        display: none !important;
    }

    .freePage-hire-invite-btn-show {
        width: 80%;
        margin: 0 10%;
        bottom: 62px;
        z-index: 1;
        position: fixed;
        height: 50px;
        background: white;
    }
    .freelancer-user-identity-profile-section {
        margin: 10px 10px !important;
    }
    .profile-identity .avatar img {
        object-fit: cover;
        max-width: 90%;
        width: 85%;
        border-radius: 50%;
        height: 86%;
    }
    .profile-identity .avatar .badge {

        top: calc(23% - 3px);
        right: calc(25% - 9px);
    }
    .frePage-job-rat-part {
        margin:10px 35px !important;
    }
    .frePage-job-rat-part p {
        margin: 0 15px 0 0 !important;
    }
    .freePage-earning-sec-for-responsive{
        display: none !important;
    }
    .freePage-earning-sec-for-sm-responsive{
        display: block !important;
    }
    .freePage-hourlyRate-languages-verifications-responsive{
        display: block !important;
    }
}
@media only screen and (min-width: 768px) {
    .freePage-hire-invite-btn-show {
        display: none !important;
    }
    .freePage-earning-sec-for-sm-responsive{
        display: none !important;
    }
    .freePage-hourlyRate-languages-verifications-responsive{
        display: none !important;
    }
}

